[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Trans
C_Hip_a
C_Spine_a
C_Spine_b
C_Spine_c
C_Spine_d
C_Neck_a
C_Head_a
C_FaceBase_a
C_Ex_A
C_Ex_B
L_Eye
R_Eye
C_Forehead
L_Forehead
R_Forehead
C_Glabella
L_Glabella
R_Glabella
L_Brow_A
R_Brow_A
L_Brow_B
R_Brow_B
L_Brow_C
R_Brow_C
L_Fold_A
R_Fold_A
L_Fold_B
R_Fold_B
L_Ulid_A
R_Ulid_A
L_Ulid_B
R_Ulid_B
L_Ulid_C
R_Ulid_C
L_Ulid_D
R_Ulid_D
L_Ulid_E
R_Ulid_E
L_Ulash_A
R_Ulash_A
L_Ulash_B
R_Ulash_B
L_Dlid_A
R_Dlid_A
L_Dlid_B
R_Dlid_B
L_Dlid_C
R_Dlid_C
L_Eyebag_A
R_Eyebag_A
L_Eyebag_B
R_Eyebag_B
L_Cheek_A
R_Cheek_A
L_Cheek_B
R_Cheek_B
L_Cheek_C
R_Cheek_C
L_Zygoma
R_Zygoma
C_Nose_A
L_Nose_A
R_Nose_A
L_Nose_B
R_Nose_B
L_Laughline_A
R_Laughline_A
L_Laughline_B
R_Laughline_B
C_Ulipout
C_Dlipout
L_Dlipout_A
R_Dlipout_A
L_Dlipout_B
R_Dlipout_B
L_Ucor
R_Ucor
L_Ucorin
R_Ucorin
L_Dcor
R_Dcor
L_Dcorin
R_Dcorin
C_Ulip
C_Ulipin
L_Ulip_A
R_Ulip_A
L_Ulipin_A
R_Ulipin_A
L_Ulip_B
R_Ulip_B
L_Ulipin_B
R_Ulipin_B
C_Dlip
C_Dlipin
L_Dlip_A
R_Dlip_A
L_Dlipin_A
R_Dlipin_A
L_Dlip_B
R_Dlip_B
L_Dlipin_B
R_Dlipin_B
C_Chin
L_Gonion
R_Gonion
C_Throat_A
C_Tongroot
C_Tongtip
C_Uteeth
C_Dteeth
C_HairBase_a
C_HairA_Spo
C_HairA_a_Phy
C_HairA_b_Phy
C_HairA_c_Phy
C_HairA_d_Phy
C_HairA_e_Phy
C_HairA_f_Phy
C_HairB_Spo
C_HairB_a_Phy
C_HairB_b_Phy
C_HairB_c_Phy
C_HairB_d_Phy
C_HairB_e_Phy
C_HairB_f_Phy
C_HairC_a_Phy
C_HairC_b_Phy
C_HairC_c_Phy
C_HairC_d_Phy
C_HairC_e_Phy
C_HairD_a_Phy
C_HairD_b_Phy
C_HairD_c_Phy
C_HairD_d_Phy
C_HairD_e_Phy
C_HairD_f_Phy
C_HairE_a_Phy
C_HairE_b_Phy
C_HairE_c_Phy
C_HairE_d_Phy
C_HairE_e_Phy
C_HairF_a_Phy
C_HairF_b_Phy
C_HairF_c_Phy
C_HairF_d_Phy
C_HairG_a_Phy
C_HairG_b_Phy
C_HairG_c_Phy
C_HairH_a_Phy
C_HairH_b_Phy
C_HairH_c_Phy
C_HairH_d_Phy
C_HairH_e_Phy
C_HairI_a_Phy
C_HairI_b_Phy
C_HairI_c_Phy
C_HairI_d_Phy
C_HairJ_a_Phy
C_HairJ_b_Phy
C_HairJ_c_Phy
C_HairK_a_Phy
C_HairK_b_Phy
C_HairK_c_Phy
C_HairL_Spo
C_HairL_a_Phy
C_HairL_b_Phy
C_HairL_c_Phy
C_HairL_d_Phy
C_HairL_e_Phy
C_HairL_f_Phy
C_HairL_g_Phy
C_HairL_h_Phy
C_HairL_i_Phy
C_HairM_Spo
C_HairM_a_Phy
C_HairM_b_Phy
C_HairM_c_Phy
C_HairM_d_Phy
C_HairM_e_Phy
C_HairM_f_Phy
C_HairM_g_Phy
C_HairM_h_Phy
C_HairM_i_Phy
C_HairM_j_Phy
R_HairA_Spo
R_HairA_a_Phy
R_HairA_b_Phy
R_HairA_c_Phy
R_HairA_d_Phy
R_HairA_e_Phy
R_HairA_f_Phy
R_HairA_g_Phy
R_HairC_Spo
R_HairC_a_Phy
R_HairC_b_Phy
R_HairC_c_Phy
R_HairC_d_Phy
R_HairC_e_Phy
R_HairC_f_Phy
R_HairC_g_Phy
R_HairC_h_Phy
R_HairC_i_Phy
R_HairC_j_Phy
R_HairD_Spo
R_HairD_a_Phy
R_HairD_b_Phy
R_HairD_c_Phy
R_HairD_d_Phy
R_HairD_e_Phy
R_HairD_f_Phy
R_HairD_g_Phy
R_HairD_h_Phy
R_HairD_i_Phy
R_HairE_Spo
R_HairE_a_Phy
R_HairE_b_Phy
R_HairE_c_Phy
R_HairE_d_Phy
R_HairE_e_Phy
R_HairE_f_Phy
R_HairE_g_Phy
R_HairE_h_Phy
R_HairE_i_Phy
R_HairE_j_Phy
R_HairF_a_Phy
R_HairF_b_Phy
R_HairF_c_Phy
L_HairA_Spo
L_HairA_a_Phy
L_HairA_b_Phy
L_HairA_c_Phy
L_HairA_d_Phy
L_HairA_e_Phy
L_HairA_f_Phy
L_HairA_g_Phy
L_HairC_Spo
L_HairC_a_Phy
L_HairC_b_Phy
L_HairC_c_Phy
L_HairC_d_Phy
L_HairC_e_Phy
L_HairC_f_Phy
L_HairC_g_Phy
L_HairC_h_Phy
L_HairC_i_Phy
L_HairC_j_Phy
L_HairD_Spo
L_HairD_a_Phy
L_HairD_b_Phy
L_HairD_c_Phy
L_HairD_d_Phy
L_HairD_e_Phy
L_HairD_f_Phy
L_HairD_g_Phy
L_HairD_h_Phy
L_HairD_i_Phy
L_HairE_Spo
L_HairE_a_Phy
L_HairE_b_Phy
L_HairE_c_Phy
L_HairE_d_Phy
L_HairE_e_Phy
L_HairE_f_Phy
L_HairE_g_Phy
L_HairE_h_Phy
L_HairE_i_Phy
L_HairE_j_Phy
L_HairF_a_Phy
L_HairF_b_Phy
L_HairF_c_Phy
C_FaceBase_b
C_Throat_B
R_Shoulder_a
R_UpperArm_a
R_Forearm_a
R_Hand_a
R_Thumb_a
R_Thumb_b
R_Thumb_c
R_Thumb_End
R_Index_a
R_Index_b
R_Index_c
R_Index_End
R_Middle_a
R_Middle_b
R_Middle_c
R_Middle_End
R_Ring_a
R_Ring_b
R_Ring_c
R_Ring_End
R_Pinky_a
R_Pinky_b
R_Pinky_c
R_Pinky_End
R_Weapon_a
R_ForearmrollA_Spo
R_ForearmrollA_End
R_ForearmrollB_Spo
R_ForearmrollB_End
R_ForearmrollC_Spo
R_ForearmrollC_End
R_HandRing_Spo
R_ForearmrollD_End
R_Wrist_Spo
R_Wrist_End
R_DeltoidA_Spo
R_DeltoidA_End
R_DeltoidB_Spo
R_DeltoidB_End
R_DeltoidC_Spo
R_DeltoidC_End
R_Elbow_Spo
R_Elbow_End
R_Bust_Spo
R_Bust_End
R_ShoulderSub_Spo
R_ShoulderSub_End
R_ShoulderPartsA_Spo
R_ShoulderPartsA_End
R_ShoulderPartsB_Spo
R_ShoulderPartsB_End
R_ShoulderPartsC_Spo
R_ShoulderPartsC_End
R_ShoulderpadA_Spo
R_ShoulderpadA_a
R_ShoulderpadA_End
R_ShoulderpadB_Spo
R_ShoulderpadB_a
R_ShoulderpadB_End
L_Shoulder_a
L_UpperArm_a
L_Forearm_a
L_Hand_a
L_Thumb_a
L_Thumb_b
L_Thumb_c
L_Thumb_End
L_Index_a
L_Index_b
L_Index_c
L_Index_End
L_Middle_a
L_Middle_b
L_Middle_c
L_Middle_End
L_Ring_a
L_Ring_b
L_Ring_c
L_Ring_End
L_Pinky_a
L_Pinky_b
L_Pinky_c
L_Pinky_End
L_Weapon_a
L_ForearmrollA_Spo
L_ForearmrollA_End
L_ForearmrollB_Spo
L_ForearmrollB_End
L_ForearmrollC_Spo
L_ForearmrollC_End
L_HandRing_Spo
L_ForearmrollD_End
L_Wrist_Spo
L_Wrist_End
L_DeltoidA_Spo
L_DeltoidA_End
L_DeltoidB_Spo
L_DeltoidB_End
L_DeltoidC_Spo
L_DeltoidC_End
L_Elbow_Spo
L_Elbow_End
L_Bust_Spo
L_Bust_End
L_ShoulderSub_Spo
L_ShoulderSub_End
L_ShoulderPartsA_Spo
L_ShoulderPartsA_End
L_ShoulderPartsB_Spo
L_ShoulderPartsB_End
L_ShoulderPartsC_Spo
L_ShoulderPartsC_End
L_ShoulderpadA_Spo
L_ShoulderpadA_a
L_ShoulderpadA_End
L_ShoulderpadB_Spo
L_ShoulderpadB_a
L_ShoulderpadB_End
C_CollarA_Spo
C_CollarA_b
C_CollarA_End
L_CollarA_Spo
L_CollarA_a_Phy
L_CollarA_b_Phy
L_CollarA_c_Phy
L_EriA_a_Phy
L_EriA_b_Phy
L_CollarB_Spo
L_CollarB_a_Phy
L_CollarB_b_Phy
L_CollarB_c_Phy
L_CollarC_Spo
L_CollarC_a_Phy
L_CollarC_b_Phy
R_CollarA_Spo
R_CollarA_a_Phy
R_CollarA_b_Phy
R_CollarA_c_Phy
R_EriA_a_Phy
R_EriA_b_Phy
R_CollarB_Spo
R_CollarB_a_Phy
R_CollarB_b_Phy
R_CollarB_c_Phy
R_CollarC_Spo
R_CollarC_a_Phy
R_CollarC_b_Phy
C_Neck1W_Spo
C_Neck1W_End
L_ShoulderPartsF_Spo
L_ShoulderPartsF_End
L_ShoulderPartsG_Spo
L_ShoulderPartsG_End
R_ShoulderPartsF_Spo
R_ShoulderPartsF_End
R_ShoulderPartsG_Spo
R_ShoulderPartsG_End
C_Suspenders_Spo
C_Suspenders_End
R_FeatherShoulder_a
R_FeatherUpperArm_a
R_FeatherForearmA_Spo
R_FeatherForearmB_Spo
R_FeatherForearmrollC_Spo
R_FeatherForearmrollC_End
R_FeatherF_Spo
R_FeatherF_a_Phy
R_FeatherF_b_Phy
R_FeatherF_c_Phy
R_FeatherF_d_Phy
R_FeatherForearmrollB_Spo
R_FeatherForearmrollB_End
R_FeatherE_Spo
R_FeatherE_a_Phy
R_FeatherE_b_Phy
R_FeatherE_c_Phy
R_FeatherE_d_Phy
R_FeatherForearmrollA_Spo
R_FeatherForearmrollA_End
R_FeatherD_Spo
R_FeatherD_a_Phy
R_FeatherD_b_Phy
R_FeatherD_c_Phy
R_FeatherD_d_Phy
R_FeatherG_Spo
R_FeatherG_a_Phy
R_FeatherG_b_Phy
R_FeatherG_c_Phy
R_FeatherG_d_Phy
R_FeatherElbow_Spo
R_FeatherElbow_End
R_FeatherWrist_Spo
R_FeatherWrist_End
R_FeatherHand_a
R_FeatherC_Spo
R_FeatherC_a_Phy
R_FeatherC_b_Phy
R_FeatherC_c_Phy
R_FeatherC_d_Phy
R_FeatherC_e_Phy
R_FeatherB_Spo
R_FeatherB_a_Phy
R_FeatherB_b_Phy
R_FeatherB_c_Phy
R_FeatherB_d_Phy
R_FeatherB_e_Phy
R_FeatherA_Spo
R_FeatherA_a_Phy
R_FeatherA_b_Phy
R_FeatherA_c_Phy
R_FeatherA_d_Phy
R_FeatherA_e_Phy
R_FeatherFinger_a
R_FeatherFinger_b
R_FeatherFinger_c
R_FeatherFinger_End
R_FeatherDeltoidC_Spo
R_FeatherDeltoidC_End
R_FeatherH_Spo
R_FeatherH_a_Phy
R_FeatherH_b_Phy
R_FeatherH_c_Phy
R_FeatherH_d_Phy
R_FeatherDeltoidB_Spo
R_FeatherDeltoidB_End
R_FeatherI_Spo
R_FeatherI_a_Phy
R_FeatherI_b_Phy
R_FeatherI_c_Phy
R_FeatherI_d_Phy
R_FeatherDeltoidA_Spo
R_FeatherDeltoidA_End
R_FeatherJ_Spo
R_FeatherJ_a_Phy
R_FeatherJ_b_Phy
R_FeatherJ_c_Phy
R_FeatherJ_d_Phy
R_FeatherK_Spo
R_FeatherK_a_Phy
R_FeatherK_b_Phy
R_FeatherK_c_Phy
R_FeatherK_d_Phy
R_FeatherForearm_a
R_FeatherForearm_End
C_SpineBeltA_Spo
C_SpineBeltA_End
C_BeltRootAA_Spo
C_BeltRootAB_Spo
C_BeltRootA_a
C_BeltA_a_Phy
C_BeltA_b_Phy
C_BeltA_c_Phy
C_BeltB_a_Phy
C_BeltB_b_Phy
C_BeltB_c_Phy
C_BeltC_Spo
C_BeltC_End
C_BeltD_Spo
C_BeltD_End
C_SkirtAA_Spo
C_SkirtAB_Spo
C_SkirtA_a_Phy
C_SkirtA_b_Phy
C_SkirtA_c_Phy
C_SkirtA_d_Phy
C_SkirtA_e_Phy
C_SkirtA_f_Phy
C_SkirtA_g_Phy
C_SkirtA_h_Phy
R_SkirtAA_Spo
R_SkirtAB_Spo
R_SkirtA_a_Phy
R_SkirtA_b_Phy
R_SkirtA_c_Phy
R_SkirtA_d_Phy
R_SkirtA_e_Phy
R_SkirtA_f_Phy
R_SkirtA_g_Phy
R_SkirtA_h_Phy
R_SkirtBA_Spo
R_SkirtBB_Spo
R_SkirtB_a_Phy
R_SkirtB_b_Phy
R_SkirtB_c_Phy
R_SkirtB_d_Phy
R_SkirtB_e_Phy
R_SkirtB_f_Phy
R_SkirtB_g_Phy
R_SkirtB_h_Phy
R_SkirtCA_Spo
R_SkirtCB_Spo
R_SkirtC_a_Phy
R_SkirtC_b_Phy
R_SkirtC_c_Phy
R_SkirtC_d_Phy
R_SkirtC_e_Phy
R_SkirtC_f_Phy
R_SkirtC_g_Phy
R_SkirtC_h_Phy
R_SkirtDA_Spo
R_SkirtDB_Spo
R_SkirtD_a_Phy
R_SkirtD_b_Phy
R_SkirtD_c_Phy
R_SkirtD_d_Phy
R_SkirtD_e_Phy
R_SkirtD_f_Phy
R_SkirtD_g_Phy
R_SkirtD_h_Phy
R_SkirtEA_Spo
R_SkirtEB_Spo
R_SkirtE_a_Phy
R_SkirtE_b_Phy
R_SkirtE_c_Phy
R_SkirtE_d_Phy
R_SkirtE_e_Phy
R_SkirtE_f_Phy
R_SkirtE_g_Phy
R_SkirtE_h_Phy
L_SkirtAA_Spo
L_SkirtAB_Spo
L_SkirtA_a_Phy
L_SkirtA_b_Phy
L_SkirtA_c_Phy
L_SkirtA_d_Phy
L_SkirtA_e_Phy
L_SkirtA_f_Phy
L_SkirtA_g_Phy
L_SkirtA_h_Phy
L_SkirtBA_Spo
L_SkirtBB_Spo
L_SkirtB_a_Phy
L_SkirtB_b_Phy
L_SkirtB_c_Phy
L_SkirtB_d_Phy
L_SkirtB_e_Phy
L_SkirtB_f_Phy
L_SkirtB_g_Phy
L_SkirtB_h_Phy
L_SkirtCA_Spo
L_SkirtCB_Spo
L_SkirtC_a_Phy
L_SkirtC_b_Phy
L_SkirtC_c_Phy
L_SkirtC_d_Phy
L_SkirtC_e_Phy
L_SkirtC_f_Phy
L_SkirtC_g_Phy
L_SkirtC_h_Phy
L_SkirtDA_Spo
L_SkirtDB_Spo
L_SkirtD_a_Phy
L_SkirtD_b_Phy
L_SkirtD_c_Phy
L_SkirtD_d_Phy
L_SkirtD_e_Phy
L_SkirtD_f_Phy
L_SkirtD_g_Phy
L_SkirtD_h_Phy
L_SkirtEA_Spo
L_SkirtEB_Spo
L_SkirtE_a_Phy
L_SkirtE_b_Phy
L_SkirtE_c_Phy
L_SkirtE_d_Phy
L_SkirtE_e_Phy
L_SkirtE_f_Phy
L_SkirtE_g_Phy
L_SkirtE_h_Phy
R_UpperLeg_a
R_Foreleg_a
R_Foot_a
R_Toe_a
R_Toe_End
R_Heel_Spo
R_CalfG_End
R_CalfB_Spo
R_CalfB_End
R_CalfF_Spo
R_CalfF_End
R_Knee_Spo
R_Knee_End
R_FemorisC_Spo
R_FemorisC_End
R_FemorisB_Spo
R_FemorisB_End
R_FemorisA_Spo
R_FemorisA_End
L_UpperLeg_a
L_Foreleg_a
L_Foot_a
L_Toe_a
L_Toe_End
L_Heel_Spo
L_CalfG_End
L_CalfB_Spo
L_CalfB_End
L_CalfF_Spo
L_CalfF_End
L_Knee_Spo
L_Knee_End
L_FemorisC_Spo
L_FemorisC_End
L_FemorisB_Spo
L_FemorisB_End
L_FemorisA_Spo
L_FemorisA_End
C_Spine1W_Spo
C_Spine1W_End
C_HipW_Spo
C_HipW_End
L_Hip_Spo
L_Hip_End
R_Hip_Spo
R_Hip_End
C_CharaA_a
C_KDIRoot
C_HipWOsKdi
C_HipWPosAKdi
C_HipWPosBKdi
C_HipWPosCKdi
C_HChestKdi
C_HipWRotAKdi
C_HipWRotBKdi
L_ShoulderSubA_Kdi
L_ShoulderParts_Kdi
L_ShoulderPartsAA_Kdi
L_ShoulderPartsBA_Kdi
L_ShoulderPartsCA_Kdi
L_ShoulderPartsCB_Kdi
L_ShoulderSubFA_Kdi
L_ShoulderSubFB_Kdi
L_ShoulderSubGA_Kdi
L_ShoulderSubGB_Kdi
L_ShoulderpadAA_Kdi
L_ShoulderpadAB_Kdi
L_ShoulderpadAC_Kdi
L_ShoulderpadAD_Kdi
L_ShoulderpadBA_Kdi
L_ShoulderpadBB_Kdi
L_ShoulderpadBC_Kdi
L_ShoulderpadBD_Kdi
R_ShoulderSuba_Kdi
R_ShoulderParts_Kdi
R_ShoulderPartsAA_Kdi
R_ShoulderPartsBA_Kdi
R_ShoulderPartsCA_Kdi
R_ShoulderPartsCB_Kdi
R_ShoulderSubFA_Kdi
R_ShoulderSubFB_Kdi
R_ShoulderSubGA_Kdi
R_ShoulderSubGB_Kdi
R_ShoulderpadAA_Kdi
R_ShoulderpadAB_Kdi
R_ShoulderpadAC_Kdi
R_ShoulderpadAD_Kdi
R_ShoulderpadBA_Kdi
R_ShoulderpadBB_Kdi
R_ShoulderpadBC_Kdi
R_ShoulderpadBD_Kdi
C_Spined_Kdi
C_Suspenders_Kdi
L_CollarA_Kdi
L_CollarB_Kdi
L_CollarC_Kdi
R_CollarA_Kdi
R_CollarB_Kdi
R_CollarC_Kdi
C_CollarA_Kdi
C_Spinea_Kdi
C_SkirtAA_Kdi
C_SkirtAB_Kdi
R_SkirtAA_Kdi
R_SkirtAB_Kdi
R_SkirtAC_Kdi
R_SkirtBA_Kdi
R_SkirtBB_Kdi
R_SkirtCA_Kdi
R_SkirtCB_Kdi
R_SkirtDA_Kdi
R_SkirtDB_Kdi
R_SkirtEA_Kdi
R_SkirtEB_Kdi
L_SkirtAA_Kdi
L_SkirtAB_Kdi
L_SkirtAC_Kdi
L_SkirtBA_Kdi
L_SkirtBB_Kdi
L_SkirtCA_Kdi
L_SkirtCB_Kdi
L_SkirtDA_Kdi
L_SkirtDB_Kdi
L_SkirtEA_Kdi
L_SkirtEB_Kdi
C_SpineBeltA_Kdi
C_BeltRootAA_Kdi
C_BeltRootAB_Kdi
C_BeltRootAC_Kdi
C_BeltC_Kdi
C_BeltDA_Kdi
C_BeltDB_Kdi
C_Hair_Kdi
C_HairAA_Kdi
C_HairBA_Kdi
C_HairLA_Kdi
C_HairLB_Kdi
C_HairMA_Kdi
C_HairMB_Kdi
R_HairAA_Kdi
R_HairCA_Kdi
R_HairCB_Kdi
R_HairDA_Kdi
R_HairDB_Kdi
R_HairEA_Kdi
R_HairEB_Kdi
L_HairAA_Kdi
L_HairCA_Kdi
L_HairCB_Kdi
L_HairDA_Kdi
L_HairDB_Kdi
L_HairEA_Kdi
L_HairEB_Kdi
R_FeatherDeltoidA_Kdi
R_FeatherJ_a_Kdi
R_FeatherJ_b_Kdi
R_FeatherDeltoidB_Kdi
R_FeatherI_a_Kdi
R_FeatherI_b_Kdi
R_FeatherDeltoidC_Kdi
R_FeatherH_a_Kdi
R_FeatherH_b_Kdi

[RemoveTracks]
B_Idle02_1.8=all
B_Idle02_1.9=all
B_Idle02_1.10=all
B_Idle02_1.11=all
B_Idle02_1.12=all
B_Idle02_1.13=all
B_Idle02_1.14=all
B_Idle02_1.15=all
B_Idle02_1.16=all
B_Idle02_1.17=all
B_Idle02_1.18=all
B_Idle02_1.19=all
B_Idle02_1.20=all
B_Idle02_1.21=all
B_Idle02_1.22=all
B_Idle02_1.23=all
B_Idle02_1.24=all
B_Idle02_1.25=all
B_Idle02_1.26=all
B_Idle02_1.27=all
B_Idle02_1.28=all
B_Idle02_1.29=all
B_Idle02_1.30=all
B_Idle02_1.31=all
B_Idle02_1.32=all
B_Idle02_1.33=all
B_Idle02_1.34=all
B_Idle02_1.35=all
B_Idle02_1.36=all
B_Idle02_1.37=all
B_Idle02_1.38=all
B_Idle02_1.39=all
B_Idle02_1.40=all
B_Idle02_1.41=all
B_Idle02_1.42=all
B_Idle02_1.43=all
B_Idle02_1.44=all
B_Idle02_1.45=all
B_Idle02_1.46=all
B_Idle02_1.47=all
B_Idle02_1.48=all
B_Idle02_1.49=all
B_Idle02_1.50=all
B_Idle02_1.51=all
B_Idle02_1.52=all
B_Idle02_1.53=all
B_Idle02_1.54=all
B_Idle02_1.55=all
B_Idle02_1.56=all
B_Idle02_1.57=all
B_Idle02_1.58=all
B_Idle02_1.59=all
B_Idle02_1.60=all
B_Idle02_1.61=all
B_Idle02_1.62=all
B_Idle02_1.63=all
B_Idle02_1.64=all
B_Idle02_1.65=all
B_Idle02_1.66=all
B_Idle02_1.67=all
B_Idle02_1.68=all
B_Idle02_1.69=all
B_Idle02_1.70=all
B_Idle02_1.71=all
B_Idle02_1.72=all
B_Idle02_1.73=all
B_Idle02_1.74=all
B_Idle02_1.75=all
B_Idle02_1.76=all
B_Idle02_1.77=all
B_Idle02_1.78=all
B_Idle02_1.79=all
B_Idle02_1.80=all
B_Idle02_1.81=all
B_Idle02_1.82=all
B_Idle02_1.83=all
B_Idle02_1.84=all
B_Idle02_1.85=all
B_Idle02_1.86=all
B_Idle02_1.87=all
B_Idle02_1.88=all
B_Idle02_1.89=all
B_Idle02_1.90=all
B_Idle02_1.91=all
B_Idle02_1.92=all
B_Idle02_1.93=all
B_Idle02_1.94=all
B_Idle02_1.95=all
B_Idle02_1.96=all
B_Idle02_1.97=all
B_Idle02_1.98=all
B_Idle02_1.99=all
B_Idle02_1.100=all
B_Idle02_1.101=all
B_Idle02_1.102=all
B_Idle02_1.103=all
B_Idle02_1.104=all
B_Idle02_1.105=all
B_Idle02_1.106=all
B_Idle02_1.107=all
B_Idle02_1.108=all
B_Idle02_1.109=all
B_Idle02_1.110=all
B_Idle02_1.111=all
B_Idle02_1.112=all
B_Idle02_1.113=all
B_Idle02_1.114=all
B_Idle02_1.115=all
B_Idle02_1.116=all
B_Idle02_1.117=all
B_Idle02_1.118=all
B_Idle02_1.119=all
B_Idle02_1.120=all
B_Idle02_1.121=all
B_Idle02_1.122=all
B_Idle02_1.123=all
B_Idle02_1.124=all
B_Idle02_1.125=all
B_Idle02_1.126=all
B_Idle02_1.127=all
B_Idle02_1.128=all
B_Idle02_1.129=all
B_Idle02_1.130=all
B_Idle02_1.131=all
B_Idle02_1.132=all
B_Idle02_1.133=all
B_Idle02_1.134=all
B_Idle02_1.135=all
B_Idle02_1.136=all
B_Idle02_1.137=all
B_Idle02_1.138=all
B_Idle02_1.139=all
B_Idle02_1.140=all
B_Idle02_1.141=all
B_Idle02_1.142=all
B_Idle02_1.143=all
B_Idle02_1.144=all
B_Idle02_1.145=all
B_Idle02_1.146=all
B_Idle02_1.147=all
B_Idle02_1.148=all
B_Idle02_1.149=all
B_Idle02_1.150=all
B_Idle02_1.151=all
B_Idle02_1.152=all
B_Idle02_1.153=all
B_Idle02_1.154=all
B_Idle02_1.155=all
B_Idle02_1.156=all
B_Idle02_1.157=all
B_Idle02_1.158=all
B_Idle02_1.159=all
B_Idle02_1.160=all
B_Idle02_1.161=all
B_Idle02_1.162=all
B_Idle02_1.163=all
B_Idle02_1.164=all
B_Idle02_1.165=all
B_Idle02_1.166=all
B_Idle02_1.167=all
B_Idle02_1.168=all
B_Idle02_1.169=all
B_Idle02_1.170=all
B_Idle02_1.171=all
B_Idle02_1.172=all
B_Idle02_1.173=all
B_Idle02_1.174=all
B_Idle02_1.175=all
B_Idle02_1.176=all
B_Idle02_1.177=all
B_Idle02_1.178=all
B_Idle02_1.179=all
B_Idle02_1.180=all
B_Idle02_1.181=all
B_Idle02_1.182=all
B_Idle02_1.183=all
B_Idle02_1.184=all
B_Idle02_1.185=all
B_Idle02_1.186=all
B_Idle02_1.187=all
B_Idle02_1.188=all
B_Idle02_1.189=all
B_Idle02_1.190=all
B_Idle02_1.191=all
B_Idle02_1.192=all
B_Idle02_1.193=all
B_Idle02_1.194=all
B_Idle02_1.195=all
B_Idle02_1.196=all
B_Idle02_1.197=all
B_Idle02_1.198=all
B_Idle02_1.199=all
B_Idle02_1.200=all
B_Idle02_1.201=all
B_Idle02_1.202=all
B_Idle02_1.203=all
B_Idle02_1.204=all
B_Idle02_1.205=all
B_Idle02_1.206=all
B_Idle02_1.207=all
B_Idle02_1.208=all
B_Idle02_1.209=all
B_Idle02_1.210=all
B_Idle02_1.211=all
B_Idle02_1.212=all
B_Idle02_1.213=all
B_Idle02_1.214=all
B_Idle02_1.215=all
B_Idle02_1.216=all
B_Idle02_1.217=all
B_Idle02_1.218=all
B_Idle02_1.219=all
B_Idle02_1.220=all
B_Idle02_1.221=all
B_Idle02_1.222=all
B_Idle02_1.223=all
B_Idle02_1.224=all
B_Idle02_1.225=all
B_Idle02_1.226=all
B_Idle02_1.227=all
B_Idle02_1.228=all
B_Idle02_1.229=all
B_Idle02_1.230=all
B_Idle02_1.231=all
B_Idle02_1.232=all
B_Idle02_1.233=all
B_Idle02_1.234=all
B_Idle02_1.235=all
B_Idle02_1.236=all
B_Idle02_1.237=all
B_Idle02_1.238=all
B_Idle02_1.239=all
B_Idle02_1.240=all
B_Idle02_1.241=all
B_Idle02_1.242=all
B_Idle02_1.243=all
B_Idle02_1.244=all
B_Idle02_1.245=all
B_Idle02_1.246=all
B_Idle02_1.247=all
B_Idle02_1.248=all
B_Idle02_1.249=all
B_Idle02_1.250=all
B_Idle02_1.251=all
B_Idle02_1.252=all
B_Idle02_1.253=all
B_Idle02_1.254=all
B_Idle02_1.255=all
B_Idle02_1.256=all
B_Idle02_1.257=all
B_Idle02_1.258=all
B_Idle02_1.259=all
B_Idle02_1.260=all
B_Idle02_1.261=all
B_Idle02_1.262=all
B_Idle02_1.263=all
B_Idle02_1.264=all
B_Idle02_1.265=all
B_Idle02_1.266=all
B_Idle02_1.267=all
B_Idle02_1.268=all
B_Idle02_1.269=all
B_Idle02_1.270=all
B_Idle02_1.271=all
B_Idle02_1.272=all
B_Idle02_1.273=all
B_Idle02_1.281=all
B_Idle02_1.285=all
B_Idle02_1.289=all
B_Idle02_1.293=all
B_Idle02_1.297=all
B_Idle02_1.299=all
B_Idle02_1.300=all
B_Idle02_1.301=all
B_Idle02_1.302=all
B_Idle02_1.303=all
B_Idle02_1.304=all
B_Idle02_1.305=all
B_Idle02_1.306=all
B_Idle02_1.307=all
B_Idle02_1.308=all
B_Idle02_1.309=all
B_Idle02_1.310=all
B_Idle02_1.311=all
B_Idle02_1.312=all
B_Idle02_1.313=all
B_Idle02_1.314=all
B_Idle02_1.315=all
B_Idle02_1.316=all
B_Idle02_1.317=all
B_Idle02_1.318=all
B_Idle02_1.319=all
B_Idle02_1.320=all
B_Idle02_1.321=all
B_Idle02_1.322=all
B_Idle02_1.323=all
B_Idle02_1.324=all
B_Idle02_1.325=all
B_Idle02_1.326=all
B_Idle02_1.327=all
B_Idle02_1.328=all
B_Idle02_1.329=all
B_Idle02_1.330=all
B_Idle02_1.331=all
B_Idle02_1.332=all
B_Idle02_1.340=all
B_Idle02_1.344=all
B_Idle02_1.348=all
B_Idle02_1.352=all
B_Idle02_1.356=all
B_Idle02_1.358=all
B_Idle02_1.359=all
B_Idle02_1.360=all
B_Idle02_1.361=all
B_Idle02_1.362=all
B_Idle02_1.363=all
B_Idle02_1.364=all
B_Idle02_1.365=all
B_Idle02_1.366=all
B_Idle02_1.367=all
B_Idle02_1.368=all
B_Idle02_1.369=all
B_Idle02_1.370=all
B_Idle02_1.371=all
B_Idle02_1.372=all
B_Idle02_1.373=all
B_Idle02_1.374=all
B_Idle02_1.375=all
B_Idle02_1.376=all
B_Idle02_1.377=all
B_Idle02_1.378=all
B_Idle02_1.379=all
B_Idle02_1.380=all
B_Idle02_1.381=all
B_Idle02_1.382=all
B_Idle02_1.383=all
B_Idle02_1.384=all
B_Idle02_1.385=all
B_Idle02_1.386=all
B_Idle02_1.387=all
B_Idle02_1.388=all
B_Idle02_1.389=all
B_Idle02_1.390=all
B_Idle02_1.391=all
B_Idle02_1.392=all
B_Idle02_1.393=all
B_Idle02_1.394=all
B_Idle02_1.395=all
B_Idle02_1.396=all
B_Idle02_1.397=all
B_Idle02_1.398=all
B_Idle02_1.399=all
B_Idle02_1.400=all
B_Idle02_1.401=all
B_Idle02_1.402=all
B_Idle02_1.403=all
B_Idle02_1.404=all
B_Idle02_1.405=all
B_Idle02_1.406=all
B_Idle02_1.407=all
B_Idle02_1.408=all
B_Idle02_1.409=all
B_Idle02_1.410=all
B_Idle02_1.411=all
B_Idle02_1.412=all
B_Idle02_1.413=all
B_Idle02_1.414=all
B_Idle02_1.415=all
B_Idle02_1.416=all
B_Idle02_1.417=all
B_Idle02_1.418=all
B_Idle02_1.419=all
B_Idle02_1.420=all
B_Idle02_1.421=all
B_Idle02_1.422=all
B_Idle02_1.423=all
B_Idle02_1.424=all
B_Idle02_1.425=all
B_Idle02_1.426=all
B_Idle02_1.427=all
B_Idle02_1.428=all
B_Idle02_1.429=all
B_Idle02_1.430=all
B_Idle02_1.431=all
B_Idle02_1.432=all
B_Idle02_1.437=all
B_Idle02_1.438=all
B_Idle02_1.439=all
B_Idle02_1.440=all
B_Idle02_1.441=all
B_Idle02_1.442=all
B_Idle02_1.443=all
B_Idle02_1.444=all
B_Idle02_1.445=all
B_Idle02_1.446=all
B_Idle02_1.447=all
B_Idle02_1.448=all
B_Idle02_1.449=all
B_Idle02_1.450=all
B_Idle02_1.451=all
B_Idle02_1.452=all
B_Idle02_1.453=all
B_Idle02_1.454=all
B_Idle02_1.455=all
B_Idle02_1.456=all
B_Idle02_1.457=all
B_Idle02_1.458=all
B_Idle02_1.459=all
B_Idle02_1.460=all
B_Idle02_1.461=all
B_Idle02_1.462=all
B_Idle02_1.463=all
B_Idle02_1.464=all
B_Idle02_1.465=all
B_Idle02_1.466=all
B_Idle02_1.468=all
B_Idle02_1.469=all
B_Idle02_1.470=all
B_Idle02_1.471=all
B_Idle02_1.472=all
B_Idle02_1.473=all
B_Idle02_1.474=all
B_Idle02_1.475=all
B_Idle02_1.476=all
B_Idle02_1.477=all
B_Idle02_1.478=all
B_Idle02_1.479=all
B_Idle02_1.480=all
B_Idle02_1.481=all
B_Idle02_1.482=all
B_Idle02_1.483=all
B_Idle02_1.484=all
B_Idle02_1.485=all
B_Idle02_1.489=all
B_Idle02_1.490=all
B_Idle02_1.491=all
B_Idle02_1.492=all
B_Idle02_1.493=all
B_Idle02_1.494=all
B_Idle02_1.495=all
B_Idle02_1.496=all
B_Idle02_1.497=all
B_Idle02_1.498=all
B_Idle02_1.499=all
B_Idle02_1.500=all
B_Idle02_1.501=all
B_Idle02_1.502=all
B_Idle02_1.503=all
B_Idle02_1.504=all
B_Idle02_1.505=all
B_Idle02_1.506=all
B_Idle02_1.507=all
B_Idle02_1.508=all
B_Idle02_1.509=all
B_Idle02_1.510=all
B_Idle02_1.511=all
B_Idle02_1.512=all
B_Idle02_1.513=all
B_Idle02_1.514=all
B_Idle02_1.515=all
B_Idle02_1.517=all
B_Idle02_1.518=all
B_Idle02_1.519=all
B_Idle02_1.520=all
B_Idle02_1.521=all
B_Idle02_1.522=all
B_Idle02_1.523=all
B_Idle02_1.524=all
B_Idle02_1.525=all
B_Idle02_1.526=all
B_Idle02_1.527=all
B_Idle02_1.528=all
B_Idle02_1.529=all
B_Idle02_1.530=all
B_Idle02_1.531=all
B_Idle02_1.532=all
B_Idle02_1.533=all
B_Idle02_1.534=all
B_Idle02_1.535=all
B_Idle02_1.536=all
B_Idle02_1.537=all
B_Idle02_1.538=all
B_Idle02_1.539=all
B_Idle02_1.540=all
B_Idle02_1.541=all
B_Idle02_1.542=all
B_Idle02_1.543=all
B_Idle02_1.544=all
B_Idle02_1.545=all
B_Idle02_1.546=all
B_Idle02_1.547=all
B_Idle02_1.548=all
B_Idle02_1.549=all
B_Idle02_1.550=all
B_Idle02_1.551=all
B_Idle02_1.552=all
B_Idle02_1.553=all
B_Idle02_1.554=all
B_Idle02_1.555=all
B_Idle02_1.556=all
B_Idle02_1.557=all
B_Idle02_1.558=all
B_Idle02_1.559=all
B_Idle02_1.560=all
B_Idle02_1.561=all
B_Idle02_1.562=all
B_Idle02_1.563=all
B_Idle02_1.564=all
B_Idle02_1.565=all
B_Idle02_1.566=all
B_Idle02_1.567=all
B_Idle02_1.568=all
B_Idle02_1.569=all
B_Idle02_1.570=all
B_Idle02_1.571=all
B_Idle02_1.572=all
B_Idle02_1.573=all
B_Idle02_1.574=all
B_Idle02_1.575=all
B_Idle02_1.576=all
B_Idle02_1.577=all
B_Idle02_1.578=all
B_Idle02_1.579=all
B_Idle02_1.580=all
B_Idle02_1.581=all
B_Idle02_1.582=all
B_Idle02_1.583=all
B_Idle02_1.584=all
B_Idle02_1.585=all
B_Idle02_1.586=all
B_Idle02_1.587=all
B_Idle02_1.588=all
B_Idle02_1.589=all
B_Idle02_1.590=all
B_Idle02_1.591=all
B_Idle02_1.592=all
B_Idle02_1.593=all
B_Idle02_1.594=all
B_Idle02_1.595=all
B_Idle02_1.596=all
B_Idle02_1.597=all
B_Idle02_1.598=all
B_Idle02_1.599=all
B_Idle02_1.600=all
B_Idle02_1.601=all
B_Idle02_1.602=all
B_Idle02_1.603=all
B_Idle02_1.604=all
B_Idle02_1.605=all
B_Idle02_1.606=all
B_Idle02_1.607=all
B_Idle02_1.608=all
B_Idle02_1.609=all
B_Idle02_1.610=all
B_Idle02_1.611=all
B_Idle02_1.612=all
B_Idle02_1.613=all
B_Idle02_1.614=all
B_Idle02_1.615=all
B_Idle02_1.616=all
B_Idle02_1.617=all
B_Idle02_1.618=all
B_Idle02_1.619=all
B_Idle02_1.620=all
B_Idle02_1.621=all
B_Idle02_1.622=all
B_Idle02_1.623=all
B_Idle02_1.624=all
B_Idle02_1.625=all
B_Idle02_1.626=all
B_Idle02_1.627=all
B_Idle02_1.628=all
B_Idle02_1.629=all
B_Idle02_1.630=all
B_Idle02_1.631=all
B_Idle02_1.632=all
B_Idle02_1.633=all
B_Idle02_1.634=all
B_Idle02_1.635=all
B_Idle02_1.636=all
B_Idle02_1.637=all
B_Idle02_1.638=all
B_Idle02_1.639=all
B_Idle02_1.640=all
B_Idle02_1.641=all
B_Idle02_1.642=all
B_Idle02_1.647=all
B_Idle02_1.648=all
B_Idle02_1.649=all
B_Idle02_1.650=all
B_Idle02_1.651=all
B_Idle02_1.652=all
B_Idle02_1.653=all
B_Idle02_1.654=all
B_Idle02_1.655=all
B_Idle02_1.656=all
B_Idle02_1.657=all
B_Idle02_1.658=all
B_Idle02_1.659=all
B_Idle02_1.660=all
B_Idle02_1.661=all
B_Idle02_1.666=all
B_Idle02_1.667=all
B_Idle02_1.668=all
B_Idle02_1.669=all
B_Idle02_1.670=all
B_Idle02_1.671=all
B_Idle02_1.672=all
B_Idle02_1.673=all
B_Idle02_1.674=all
B_Idle02_1.675=all
B_Idle02_1.676=all
B_Idle02_1.677=all
B_Idle02_1.678=all
B_Idle02_1.679=all
B_Idle02_1.680=all
B_Idle02_1.681=all
B_Idle02_1.682=all
B_Idle02_1.683=all
B_Idle02_1.684=all
B_Idle02_1.685=all
B_Idle02_1.686=all
B_Idle02_1.687=all
B_Idle02_1.688=all
B_Idle02_1.690=all
B_Idle02_1.691=all
B_Idle02_1.692=all
B_Idle02_1.693=all
B_Idle02_1.694=all
B_Idle02_1.695=all
B_Idle02_1.696=all
B_Idle02_1.697=all
B_Idle02_1.698=all
B_Idle02_1.699=all
B_Idle02_1.700=all
B_Idle02_1.701=all
B_Idle02_1.702=all
B_Idle02_1.703=all
B_Idle02_1.704=all
B_Idle02_1.705=all
B_Idle02_1.706=all
B_Idle02_1.707=all
B_Idle02_1.708=all
B_Idle02_1.709=all
B_Idle02_1.710=all
B_Idle02_1.711=all
B_Idle02_1.712=all
B_Idle02_1.713=all
B_Idle02_1.714=all
B_Idle02_1.715=all
B_Idle02_1.716=all
B_Idle02_1.717=all
B_Idle02_1.718=all
B_Idle02_1.719=all
B_Idle02_1.720=all
B_Idle02_1.721=all
B_Idle02_1.722=all
B_Idle02_1.723=all
B_Idle02_1.724=all
B_Idle02_1.725=all
B_Idle02_1.726=all
B_Idle02_1.727=all
B_Idle02_1.728=all
B_Idle02_1.729=all
B_Idle02_1.730=all
B_Idle02_1.731=all
B_Idle02_1.732=all
B_Idle02_1.733=all
B_Idle02_1.734=all
B_Idle02_1.735=all
B_Idle02_1.736=all
B_Idle02_1.737=all
B_Idle02_1.738=all
B_Idle02_1.739=all
B_Idle02_1.740=all
B_Idle02_1.741=all
B_Idle02_1.742=all
B_Idle02_1.743=all
B_Idle02_1.744=all
B_Idle02_1.745=all
B_Idle02_1.746=all
B_Idle02_1.747=all
B_Idle02_1.748=all
B_Idle02_1.749=all
B_Idle02_1.750=all
B_Idle02_1.751=all
B_Idle02_1.752=all
B_Idle02_1.753=all
B_Idle02_1.754=all
B_Idle02_1.755=all
B_Idle02_1.756=all
B_Idle02_1.757=all
B_Idle02_1.758=all
B_Idle02_1.759=all
B_Idle02_1.760=all
B_Idle02_1.761=all
B_Idle02_1.762=all
B_Idle02_1.763=all
B_Idle02_1.764=all
B_Idle02_1.765=all
B_Idle02_1.766=all
B_Idle02_1.767=all
B_Idle02_1.768=all
B_Idle02_1.769=all
B_Idle02_1.770=all
B_Idle02_1.771=all
B_Idle02_1.772=all
B_Idle02_1.773=all
B_Idle02_1.774=all
B_Idle02_1.775=all
B_Idle02_1.776=all
B_Idle02_1.777=all
B_Idle02_1.778=all
B_Idle02_1.779=all
B_Idle02_1.780=all
B_Idle02_1.781=all
B_Idle02_1.782=all
B_Idle02_1.783=all
B_Idle02_1.784=all
B_Idle02_1.785=all
B_Idle02_1.786=all
B_Idle02_1.787=all
B_Idle02_1.788=all
B_Idle02_1.789=all
B_Idle02_1.790=all
B_Idle02_1.791=all
B_Idle02_1.792=all
B_Idle02_1.793=all
B_Idle02_1.794=all
B_Idle02_1.795=all
B_Idle02_1.796=all
B_Idle02_1.797=all
B_Idle02_1.798=all
B_Idle02_1.799=all
B_Idle02_1.800=all
B_Idle02_1.801=all
B_Idle02_1.802=all
B_Idle02_1.803=all
B_Idle02_1.804=all
