[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Trans
C_Hip_a
C_HipW_Spo
C_HipW_End
C_Spine_a
C_Spine_b
C_Spine_c
C_Spine_d
C_Neck1W_Spo
C_Neck1W_End
L_Shoulder_a
L_Bust_Spo
L_Bust_End
L_StdBust_Spo
L_StdBust_End
L_StdTopBelt_Spo
L_StdTopBelt_End
L_Shoulderpad_Spo
L_Shoulderpad_a
L_Shoulderpad_End
L_UpperArm_a
L_DeltoidB_Spo
L_DeltoidB_End
L_DeltoidA_Spo
L_DeltoidA_End
L_DeltoidC_Spo
L_DeltoidC_End
L_Forearm_a
L_ForearmrollC_Spo
L_ForearmrollC_End
L_Wrist_Spo
L_Wrist_End
L_ForearmrollA_Spo
L_ForearmrollA_End
L_Hand_a
L_Thumb_a
L_Thumb_b
L_Thumb_c
L_Thumb_End
L_Pinky_a
L_Pinky_b
L_Pinky_c
L_Pinky_End
L_Middle_a
L_Middle_b
L_Middle_c
L_Middle_End
L_Ring_a
L_Ring_b
L_Ring_c
L_Ring_End
L_Index_a
L_Index_b
L_Index_c
L_Index_End
L_Weapon_a
L_ForearmrollB_Spo
L_ForearmrollB_End
L_Elbow_Spo
L_Elbow_End
L_ShoulderSub_Spo
L_ShoulderSub_End
L_Turtleneck_a
L_Turtleneck_End
C_TurtleneckA_a
C_TurtleneckA_End
C_TurtleneckB_a
C_TurtleneckB_End
C_Weapon_a
C_Weapon_b
R_Shoulder_a
R_UpperArm_a
R_DeltoidA_Spo
R_DeltoidA_End
R_Elbow_Spo
R_Elbow_End
R_DeltoidC_Spo
R_DeltoidC_End
R_DeltoidB_Spo
R_DeltoidB_End
R_Forearm_a
R_ForearmrollC_Spo
R_ForearmrollC_End
R_Wrist_Spo
R_Wrist_End
R_ForearmrollA_Spo
R_ForearmrollA_End
R_Hand_a
R_Middle_a
R_Middle_b
R_Middle_c
R_Middle_End
R_Index_a
R_Index_b
R_Index_c
R_Index_End
R_Ring_a
R_Ring_b
R_Ring_c
R_Ring_End
R_Weapon_a
R_Pinky_a
R_Pinky_b
R_Pinky_c
R_Pinky_End
R_Thumb_a
R_Thumb_b
R_Thumb_c
R_Thumb_End
R_ForearmrollB_Spo
R_ForearmrollB_End
R_Bust_Spo
R_Bust_End
R_ShoulderSub_Spo
R_ShoulderSub_End
R_StdBust_Spo
R_StdBust_End
R_StdTopBelt_Spo
R_StdTopBelt_End
C_Neck_a
C_Head_a
C_FaceBase_a
R_Fold_A
R_Fold_B
L_Dcor
L_Ucorin
L_Ulip_B
L_Ulip_A
L_Glabella
R_Gonion
R_Glabella
R_Dcorin
C_Ulipout
R_Dcor
L_Dlipout_B
L_Dlipout_A
R_Ucorin
L_Ulid_D
L_Ulid_E
L_Ulid_B
L_Ulid_C
L_Ulid_A
C_Tongroot
R_Ulipin_B
R_Ulipin_A
L_Eyebag_B
L_Eyebag_A
L_Dcorin
L_Nose_B
L_Eye
R_Ucor
L_Cheek_A
C_Ulipin
R_Ulip_A
R_Ulip_B
L_Gonion
R_Eye
R_Dlipin_A
R_Dlipin_B
L_Ucor
L_Cheek_C
L_Cheek_B
C_Forehead
C_Nose_A
L_Dlipin_B
R_Ulid_A
R_Ulid_B
R_Ulid_C
R_Ulid_D
R_Ulid_E
L_Zygoma
R_Eyebag_A
R_Eyebag_B
R_Cheek_A
R_Cheek_C
R_Cheek_B
R_Brow_B
R_Brow_C
R_Brow_A
R_Dlip_B
R_Dlip_A
R_Dlid_C
R_Dlid_B
R_Dlid_A
R_Ulash_B
R_Ulash_A
C_Chin
R_Laughline_B
R_Laughline_A
R_Zygoma
L_Dlipin_A
L_Brow_A
L_Brow_B
L_Brow_C
C_Tongtip
C_Dteeth
L_Nose_A
R_Nose_A
R_Nose_B
R_Forehead
C_Dlipout
L_Fold_B
L_Fold_A
L_Dlid_A
L_Dlid_C
L_Dlid_B
C_Dlip
L_Laughline_A
L_Laughline_B
R_Dlipout_A
R_Dlipout_B
C_Dlipin
C_Ex_B
C_Throat_A
C_Uteeth
L_Ulash_A
L_Ulash_B
L_Forehead
L_Ulipin_A
L_Ulipin_B
C_Ulip
C_Glabella
C_Ex_A
L_Dlip_A
L_Dlip_B
C_HairBase_a
L_HairD_a_Phy
L_HairD_b_Phy
L_HairD_c_Phy
C_HairFH_a_Phy
C_HairFH_b_Phy
C_HairFH_c_Phy
C_HairBG_a_Phy
C_HairBG_b_Phy
R_HairF_a_Phy
R_HairF_b_Phy
R_HairF_c_Phy
R_HairI_a_Phy
R_HairI_b_Phy
C_HairBD_a_Phy
C_HairBD_b_Phy
L_HairA_a_Phy
L_HairA_b_Phy
L_HairA_c_Phy
L_HairA_d_Phy
L_HairA_e_Phy
L_HairA_f_Phy
L_HairG_a_Phy
L_HairG_b_Phy
L_HairG_c_Phy
R_HairA_a_Phy
R_HairA_b_Phy
R_HairA_c_Phy
C_HairFF_a_Phy
C_HairFF_b_Phy
C_HairFF_c_Phy
L_HairE_a_Phy
L_HairE_b_Phy
C_HairFN_a_Phy
C_HairFN_b_Phy
C_HairFN_c_Phy
C_HairFM_a_Phy
C_HairFM_b_Phy
C_HairFM_c_Phy
R_HairE_a_Phy
R_HairE_b_Phy
R_HairE_c_Phy
R_HairJ_a_Phy
R_HairJ_b_Phy
R_HairJ_c_Phy
C_HairBB_a_Phy
C_HairBB_b_Phy
C_HairBF_a_Phy
C_HairBF_b_Phy
C_HairBA_a_Phy
C_HairBA_b_Phy
L_HairC_a_Phy
L_HairC_b_Phy
R_HairH_a_Phy
R_HairH_b_Phy
R_HairH_c_Phy
C_HairFI_a_Phy
C_HairFI_b_Phy
C_HairFI_c_Phy
C_HairFI_d_Phy
C_HairFK_a_Phy
C_HairFK_b_Phy
C_HairFK_c_Phy
C_HairFG_a_Phy
C_HairFG_b_Phy
C_HairFG_c_Phy
C_HairFE_a_Phy
C_HairFE_b_Phy
C_HairFE_c_Phy
C_HairFE_d_Phy
C_HairBE_a_Phy
C_HairBE_b_Phy
C_HairFB_a_Phy
C_HairFB_b_Phy
C_HairFB_c_Phy
C_HairFB_d_Phy
C_HairFB_e_Phy
C_HairFQ_a_Phy
C_HairFQ_b_Phy
L_HairF_a_Phy
L_HairF_b_Phy
L_HairF_c_Phy
C_HairFO_a_Phy
C_HairFO_b_Phy
C_HairFO_c_Phy
C_HairBC_a_Phy
C_HairBC_b_Phy
C_HairBH_a_Phy
C_HairBH_b_Phy
R_HairC_a_Phy
R_HairC_b_Phy
R_HairC_c_Phy
C_HairFP_a_Phy
C_HairFP_b_Phy
C_HairFP_c_Phy
C_HairFA_a_Phy
C_HairFA_b_Phy
C_HairFA_c_Phy
C_HairFA_d_Phy
C_HairFD_a_Phy
C_HairFD_b_Phy
C_HairFD_c_Phy
C_HairFD_d_Phy
C_HairFD_e_Phy
C_HairBI_a_Phy
C_HairBI_b_Phy
C_HairBJ_Spo
C_HairBL_a_Phy
C_HairBL_b_Phy
C_HairBK_a_Phy
C_HairBK_b_Phy
C_HairBJ_a_Phy
C_HairBJ_b_Phy
C_HairFC_a_Phy
C_HairFC_b_Phy
C_HairFC_c_Phy
C_HairFJ_a_Phy
C_HairFJ_b_Phy
C_HairFJ_c_Phy
R_HairD_a_Phy
R_HairD_b_Phy
R_HairD_c_Phy
L_HairB_a_Phy
L_HairB_b_Phy
L_HairB_c_Phy
C_HairFL_a_Phy
C_HairFL_b_Phy
C_HairFL_c_Phy
R_HairG_a_Phy
R_HairG_b_Phy
R_HairG_c_Phy
R_HairB_a_Phy
R_HairB_b_Phy
R_HairB_c_Phy
C_FaceBase_b
C_Throat_B
R_Turtleneck_a
R_Turtleneck_End
L_UpperLeg_a
L_StdFemorisB_Spo
L_StduPantsE_Spo
L_StduPantsE_a_Phy
L_StduPantsE_b_Phy
L_StdFemorisB_End
L_StduPantsB_Spo
L_StduPantsB_a_Phy
L_StduPantsB_b_Phy
L_StduPantsD_Spo
L_StduPantsD_a_Phy
L_StduPantsD_b_Phy
L_StduPantsH_Spo
L_StduPantsH_a_Phy
L_StduPantsH_b_Phy
L_StduPantsF_Spo
L_StduPantsF_a_Phy
L_StduPantsF_b_Phy
L_StduPantsA_Spo
L_StduPantsA_a_Phy
L_StduPantsA_b_Phy
L_Knee_Spo
L_Knee_End
L_StdFemorisC_Spo
L_StduPantsC_Spo
L_StduPantsC_a_Phy
L_StduPantsC_b_Phy
L_StdFemorisC_End
L_StduPantsG_Spo
L_StduPantsG_a_Phy
L_StduPantsG_b_Phy
L_FemorisB_Spo
L_FemorisB_End
L_FemorisA_Spo
L_FemorisA_End
L_Foreleg_a
L_CalfF_Spo
L_CalfF_End
L_CalfB_Spo
L_CalfB_End
L_Foot_a
L_Toe_a
L_Toe_End
L_StdCalfB_Spo
L_StdbPantsG_Spo
L_StdbPantsG_a_Phy
L_StdbPantsG_b_Phy
L_StdCalfB_End
L_StdbPantsC_Spo
L_StdbPantsC_a_Phy
L_StdbPantsC_b_Phy
L_StdCalfF_Spo
L_StdCalfF_End
L_StdbPantsD_Spo
L_StdbPantsD_a_Phy
L_StdbPantsD_b_Phy
L_StdbPantsH_Spo
L_StdbPantsH_a_Phy
L_StdbPantsH_b_Phy
L_StdbPantsB_Spo
L_StdbPantsB_a_Phy
L_StdbPantsB_b_Phy
L_StdbPantsA_Spo
L_StdbPantsA_a_Phy
L_StdbPantsA_b_Phy
L_StdbPantsE_Spo
L_StdbPantsE_a_Phy
L_StdbPantsE_b_Phy
L_StdbPantsF_Spo
L_StdbPantsF_a_Phy
L_StdbPantsF_b_Phy
L_FemorisC_Spo
L_FemorisC_End
R_UpperLeg_a
R_Foreleg_a
R_Foot_a
R_Toe_a
R_Toe_End
R_StdCalfF_Spo
R_StdbPantsA_Spo
R_StdbPantsA_a_Phy
R_StdbPantsA_b_Phy
R_StdbPantsH_Spo
R_StdbPantsH_a_Phy
R_StdbPantsH_b_Phy
R_StdbPantsE_Spo
R_StdbPantsE_a_Phy
R_StdbPantsE_b_Phy
R_StdbPantsF_Spo
R_StdbPantsF_a_Phy
R_StdbPantsF_b_Phy
R_StdbPantsB_Spo
R_StdbPantsB_a_Phy
R_StdbPantsB_b_Phy
R_StdCalfF_End
R_StdbPantsD_Spo
R_StdbPantsD_a_Phy
R_StdbPantsD_b_Phy
R_CalfF_Spo
R_CalfF_End
R_CalfB_Spo
R_CalfB_End
R_StdCalfB_Spo
R_StdbPantsC_Spo
R_bPantsC_a_Phy
R_bPantsC_b_Phy
R_StdbPantsG_Spo
R_bPantsG_a_Phy
R_bPantsG_b_Phy
R_StdCalfB_End
R_FemorisB_Spo
R_FemorisB_End
R_StdFemorisB_Spo
R_StduPantsA_Spo
R_StduPantsA_a_Phy
R_StduPantsA_b_Phy
R_StduPantsE_Spo
R_StduPantsE_a_Phy
R_StduPantsE_b_Phy
R_StdFemorisB_End
R_StduPantsF_Spo
R_StduPantsF_a_Phy
R_StduPantsF_b_Phy
R_StduPantsD_Spo
R_StduPantsD_a_Phy
R_StduPantsD_b_Phy
R_StduPantsH_Spo
R_StduPantsH_a_Phy
R_StduPantsH_b_Phy
R_StduPantsB_Spo
R_StduPantsB_a_Phy
R_StduPantsB_b_Phy
R_StdFemorisC_Spo
R_StdFemorisC_End
R_StduPantsG_Spo
R_StduPantsG_a_Phy
R_StduPantsG_b_Phy
R_StduPantsC_Spo
R_StduPantsC_a_Phy
R_StduPantsC_b_Phy
R_FemorisA_Spo
R_FemorisA_End
R_FemorisC_Spo
R_FemorisC_End
R_Knee_Spo
R_Knee_End
R_Hip_Spo
R_Hip_End
L_Hip_Spo
L_Hip_End
C_Spine1W_Spo
C_Spine1W_End
C_CharaA_a
C_KDIRoot
C_HipWOsKdi
C_HipWPosAKdi
C_HipWPosBKdi
C_HipWPosCKdi
C_HChestKdi
C_HipWRotAKdi
C_HipWRotBKdi
L_TopBeltOsKdi
L_TopBeltRotAKdi
L_TopBeltRotBKdi
R_TopBeltOsKdi
R_TopBeltRotAKdi
R_TopBeltRotBKdi
C_TurtleneckOsKdi
C_JawBendTKdi
C_JawRollKdi
C_TurtleneckPosKdi
L_JawBendDistPosKdi
R_JawBendDistPosKdi
C_TurtleneckRotLKdi
C_TurtleneckRotRKdi
R_TurtleneckRotAKdi
R_TurtleneckRotBKdi
L_TurtleneckRotAKdi
L_TurtleneckRotBKdi
C_JawTipPosKdi
L_FlowerOsKdi
L_FlowerPosKdi
R_WirePosKdi
L_WirePosKdi
C_PoorBackHipRibbonRoot_Spo
L_PoorBackHipRibbonB_Spo
L_PoorBackHipRibbonB_a_Phy
L_PoorBackHipRibbonB_b_Phy
L_PoorBackHipRibbonB_c_Phy
R_PoorBackHipRibbonB_Spo
R_PoorBackHipRibbonB_a_Phy
R_PoorBackHipRibbonB_b_Phy
R_PoorBackHipRibbonB_c_Phy
C_PoorBackHipRibbonRoot_End
L_PoorBackHipRibbonA_Spo
L_PoorBackHipRibbonA_a_Phy
L_PoorBackHipRibbonA_b_Phy
R_PoorBackHipRibbonA_Spo
R_PoorBackHipRibbonA_a_Phy
R_PoorBackHipRibbonA_b_Phy
L_PoorSkirtB_Spo
L_PoorSkirtB_a_Phy
L_PoorSkirtB_b_Phy
L_PoorSkirtB_c_Phy
L_PoorSkirtB_d_Phy
L_PoorSkirtB_e_Phy
L_PoorSkirtB_f_Phy
R_PoorCollarB_Spo
R_PoorCollarB_a_Phy
R_PoorCollarB_b_Phy
L_PoorFrillB_Spo
L_PoorFrillB_a_Phy
L_PoorFrillB_b_Phy
L_PoorFrillB_c_Phy
L_PoorFrillF_Spo
L_PoorFrillF_a_Phy
L_PoorFrillF_b_Phy
L_PoorFrillF_c_Phy
L_PoorFrillD_Spo
L_PoorFrillD_a_Phy
L_PoorFrillD_b_Phy
L_PoorFrillD_c_Phy
L_PoorFrillC_Spo
L_PoorFrillC_a_Phy
L_PoorFrillC_b_Phy
L_PoorFrillC_c_Phy
L_PoorFrillA_Spo
L_PoorFrillA_a_Phy
L_PoorFrillA_b_Phy
L_PoorFrillA_c_Phy
L_PoorFrillE_Spo
L_PoorFrillE_a_Phy
L_PoorFrillE_b_Phy
L_PoorFrillE_c_Phy
L_PoorCollarC_Spo
L_PoorCollarC_a_Phy
L_PoorCollarC_b_Phy
R_PoorFrillA_Spo
R_PoorFrillA_a_Phy
R_PoorFrillA_b_Phy
R_PoorFrillA_c_Phy
R_PoorFrillE_Spo
R_PoorFrillE_a_Phy
R_PoorFrillE_b_Phy
R_PoorFrillE_c_Phy
R_PoorFrillB_Spo
R_PoorFrillB_a_Phy
R_PoorFrillB_b_Phy
R_PoorFrillB_c_Phy
R_PoorFrillC_Spo
R_PoorFrillC_a_Phy
R_PoorFrillC_b_Phy
R_PoorFrillC_c_Phy
R_PoorFrillD_Spo
R_PoorFrillD_a_Phy
R_PoorFrillD_b_Phy
R_PoorFrillD_c_Phy
R_PoorFrillF_Spo
R_PoorFrillF_a_Phy
R_PoorFrillF_b_Phy
R_PoorFrillF_c_Phy
L_HairPigtail_Spo
L_HairPigtail_a_Phy
L_HairPigtail_b_Phy
L_HairPigtail_c_Phy
L_HairPigtail_d_Phy
L_HairPigtail_e_Phy
L_HairPigtail_f_Phy
R_HairPigtail_Spo
R_HairPigtail_a_Phy
R_HairPigtail_b_Phy
R_HairPigtail_c_Phy
R_HairPigtail_d_Phy
R_HairPigtail_e_Phy
R_HairPigtail_f_Phy
R_PoorCollarC_Spo
R_PoorCollarC_a_Phy
R_PoorCollarC_b_Phy
R_PoorCollarA_Spo
R_PoorCollarA_a_Phy
R_PoorCollarA_b_Phy
C_PoorCollarA_Spo
C_PoorCollarA_a_Phy
C_PoorCollarA_b_Phy
L_PoorCollarA_Spo
L_PoorCollarA_a_Phy
L_PoorCollarA_b_Phy
L_PoorCollarB_Spo
L_PoorCollarB_a_Phy
L_PoorCollarB_b_Phy
C_PoorFrontWaistRibbonRoot_Spo
L_PoorFrontWaistRibbonB_Spo
L_PoorFrontWaistRibbonB_a_Phy
L_PoorFrontWaistRibbonB_b_Phy
L_PoorFrontWaistRibbonA_Spo
L_PoorFrontWaistRibbonA_a_Phy
L_PoorFrontWaistRibbonA_b_Phy
C_PoorFrontWaistRibbonRoot_End
R_PoorFrontWaistRibbonB_Spo
R_PoorFrontWaistRibbonB_a_Phy
R_PoorFrontWaistRibbonB_b_Phy
R_PoorFrontWaistRibbonA_Spo
R_PoorFrontWaistRibbonA_a_Phy
R_PoorFrontWaistRibbonA_b_Phy
L_PoorSkirtA_Spo
L_PoorSkirtA_a_Phy
L_PoorSkirtA_b_Phy
L_PoorSkirtA_c_Phy
L_PoorSkirtA_d_Phy
L_PoorSkirtA_e_Phy
L_PoorSkirtA_f_Phy
C_PoorSkirtA_Spo
C_PoorSkirtA_a_Phy
C_PoorSkirtA_b_Phy
C_PoorSkirtA_c_Phy
C_PoorSkirtA_d_Phy
C_PoorSkirtA_e_Phy
C_PoorSkirtA_f_Phy
R_PoorSkirtB_Spo
R_PoorSkirtB_a_Phy
R_PoorSkirtB_b_Phy
R_PoorSkirtB_c_Phy
R_PoorSkirtB_d_Phy
R_PoorSkirtB_e_Phy
R_PoorSkirtB_f_Phy
R_PoorSkirtA_Spo
R_PoorSkirtA_a_Phy
R_PoorSkirtA_b_Phy
R_PoorSkirtA_c_Phy
R_PoorSkirtA_d_Phy
R_PoorSkirtA_e_Phy
R_PoorSkirtA_f_Phy
L_PoorSkirtC_Spo
L_PoorSkirtC_a_Phy
L_PoorSkirtC_b_Phy
L_PoorSkirtC_c_Phy
L_PoorSkirtC_d_Phy
L_PoorSkirtC_e_Phy
L_PoorSkirtC_f_Phy
R_PoorSkirtC_Spo
R_PoorSkirtC_a_Phy
R_PoorSkirtC_b_Phy
R_PoorSkirtC_c_Phy
R_PoorSkirtC_d_Phy
R_PoorSkirtC_e_Phy
R_PoorSkirtC_f_Phy
C_PoorSkirtB_Spo
C_PoorSkirtB_a_Phy
C_PoorSkirtB_b_Phy
C_PoorSkirtB_c_Phy
C_PoorSkirtB_d_Phy
C_PoorSkirtB_e_Phy
C_PoorSkirtB_f_Phy
C_DrsHipWOsKdi
C_DrsSkirtALLegBendKdi
C_DrsSkirtALRLegBendKdi
C_DrsSkirtARLegBendKdi
R_DrsSkirtColUpperLegKdi
R_DrsSkirtColForelegKdi
L_DrsSkirtColUpperLegKdi
L_DrsSkirtColForelegKdi
L_OrdFrontHipRibbon_Spo
L_OrdFrontHipRibbon_a_Phy
L_OrdFrontHipRibbon_b_Phy
C_OrdSkirtB_Spo
C_OrdSkirtB_a_Phy
C_OrdSkirtB_b_Phy
C_OrdSkirtB_c_Phy
C_OrdSkirtB_d_Phy
C_OrdSkirtB_e_Phy
C_OrdSkirtB_f_Phy
C_OrdSkirtB_g_Phy
R_OrdSkirtA_Spo
R_OrdSkirtA_a_Phy
R_OrdSkirtA_b_Phy
R_OrdSkirtA_c_Phy
R_OrdSkirtA_d_Phy
R_OrdSkirtA_e_Phy
R_OrdSkirtA_f_Phy
R_OrdSkirtA_g_Phy
R_OrdSkirtC_Spo
R_OrdSkirtC_a_Phy
R_OrdSkirtC_b_Phy
R_OrdSkirtC_c_Phy
R_OrdSkirtC_d_Phy
R_OrdSkirtC_e_Phy
R_OrdSkirtC_f_Phy
R_OrdSkirtC_g_Phy
L_OrdSkirtC_Spo
L_OrdSkirtC_a_Phy
L_OrdSkirtC_b_Phy
L_OrdSkirtC_c_Phy
L_OrdSkirtC_d_Phy
L_OrdSkirtC_e_Phy
L_OrdSkirtC_f_Phy
L_OrdSkirtC_g_Phy
L_OrdHandFrillF_Spo
L_OrdHandFrillF_a_Phy
L_OrdHandFrillF_b_Phy
L_OrdHandFrillD_Spo
L_OrdHandFrillD_a_Phy
L_OrdHandFrillD_b_Phy
L_OrdHandFrillB_Spo
L_OrdHandFrillB_a_Phy
L_OrdHandFrillB_b_Phy
L_OrdHandFrillC_Spo
L_OrdHandFrillC_a_Phy
L_OrdHandFrillC_b_Phy
L_OrdHandFrillE_Spo
L_OrdHandFrillE_a_Phy
L_OrdHandFrillE_b_Phy
L_OrdHandFrillA_Spo
L_OrdHandFrillA_a_Phy
L_OrdHandFrillA_b_Phy
L_OrdArmFrillRoot_Spo
L_OrdArmFrillB_Spo
L_OrdArmFrillB_a_Phy
L_OrdArmFrillB_b_Phy
L_OrdArmFrillD_Spo
L_OrdArmFrillD_a_Phy
L_OrdArmFrillD_b_Phy
L_OrdArmFrillRoot_End
L_OrdArmFrillC_Spo
L_OrdArmFrillC_a_Phy
L_OrdArmFrillC_b_Phy
L_OrdArmFrillA_Spo
L_OrdArmFrillA_a_Phy
L_OrdArmFrillA_b_Phy
R_OrdHandFrillF_Spo
R_OrdHandFrillF_a_Phy
R_OrdHandFrillF_b_Phy
R_OrdHandFrillB_Spo
R_OrdHandFrillB_a_Phy
R_OrdHandFrillB_b_Phy
R_OrdHandFrillA_Spo
R_OrdHandFrillA_a_Phy
R_OrdHandFrillA_b_Phy
R_OrdHandFrillE_Spo
R_OrdHandFrillE_a_Phy
R_OrdHandFrillE_b_Phy
R_OrdHandFrillD_Spo
R_OrdHandFrillD_a_Phy
R_OrdHandFrillD_b_Phy
R_OrdHandFrillC_Spo
R_OrdHandFrillC_a_Phy
R_OrdHandFrillC_b_Phy
R_OrdArmFrillRoot_Spo
R_OrdArmFrillB_Spo
R_OrdArmFrillB_a_Phy
R_OrdArmFrillB_b_Phy
R_OrdArmFrillRoot_End
R_OrdArmFrillC_Spo
R_OrdArmFrillC_a_Phy
R_OrdArmFrillC_b_Phy
R_OrdArmFrillD_Spo
R_OrdArmFrillD_a_Phy
R_OrdArmFrillD_b_Phy
R_OrdArmFrillA_Spo
R_OrdArmFrillA_a_Phy
R_OrdArmFrillA_b_Phy
C_OrdCollarRoot_Spo
R_OrdCollarB_Spo
R_OrdCollarB_a_Phy
R_OrdCollarB_b_Phy
R_OrdCollarA_Spo
R_OrdCollarA_a_Phy
R_OrdCollarA_b_Phy
L_OrdCollarA_Spo
L_OrdCollarA_a_Phy
L_OrdCollarA_b_Phy
L_OrdCollarC_Spo
L_OrdCollarC_a_Phy
L_OrdCollarC_b_Phy
C_OrdCollarA_Spo
C_OrdCollarA_a_Phy
C_OrdCollarA_b_Phy
R_OrdCollarC_Spo
R_OrdCollarC_a_Phy
R_OrdCollarC_b_Phy
C_OrdCollarRoot_End
L_OrdCollarB_Spo
L_OrdCollarB_a_Phy
L_OrdCollarB_b_Phy
C_Pendant_Spo
C_Pendant_a_Phy
C_Pendant_b_Phy
C_Pendant_c_Phy
R_OrdSkirtB_Spo
R_OrdSkirtB_a_Phy
R_OrdSkirtB_b_Phy
R_OrdSkirtB_c_Phy
R_OrdSkirtB_d_Phy
R_OrdSkirtB_e_Phy
R_OrdSkirtB_f_Phy
R_OrdSkirtB_g_Phy
C_OrdSkirtA_Spo
C_OrdSkirtA_a_Phy
C_OrdSkirtA_b_Phy
C_OrdSkirtA_c_Phy
C_OrdSkirtA_d_Phy
C_OrdSkirtA_e_Phy
C_OrdSkirtA_f_Phy
C_OrdSkirtA_g_Phy
L_OrdSkirtB_Spo
L_OrdSkirtB_a_Phy
L_OrdSkirtB_b_Phy
L_OrdSkirtB_c_Phy
L_OrdSkirtB_d_Phy
L_OrdSkirtB_e_Phy
L_OrdSkirtB_f_Phy
L_OrdSkirtB_g_Phy
R_OrdFrontHipRibbon_Spo
R_OrdFrontHipRibbon_a_Phy
R_OrdFrontHipRibbon_b_Phy
C_OrdBackHipRibbonRoot_Spo
C_OrdBackHipRibbonRoot_End
R_OrdBackHipRibbon_Spo
R_OrdBackHipRibbon_a_Phy
R_OrdBackHipRibbon_b_Phy
R_OrdBackHipRibbon_c_Phy
R_OrdBackHipRibbon_d_Phy
L_OrdBackHipRibbon_Spo
L_OrdBackHipRibbon_a_Phy
L_OrdBackHipRibbon_b_Phy
L_OrdBackHipRibbon_c_Phy
L_OrdBackHipRibbon_d_Phy
L_OrdSkirtA_Spo
L_OrdSkirtA_a_Phy
L_OrdSkirtA_b_Phy
L_OrdSkirtA_c_Phy
L_OrdSkirtA_d_Phy
L_OrdSkirtA_e_Phy
L_OrdSkirtA_f_Phy
L_OrdSkirtA_g_Phy
L_OrdFrontHipRibbonAttKdi
L_OrdFrontHipRibbonPosRotKdi
R_OrdFrontHipRibbonAttKdi
R_OrdFrontHipRibbonPosRotKdi
L_GrgSkirtB_Spo
L_GrgSkirtB_a_Phy
L_GrgSkirtB_b_Phy
L_GrgSkirtB_c_Phy
L_GrgSkirtB_d_Phy
L_GrgSkirtB_e_Phy
L_GrgSkirtB_f_Phy
L_GrgSkirtB_g_Phy
R_GrgSkirtB_Spo
R_GrgSkirtB_a_Phy
R_GrgSkirtB_b_Phy
R_GrgSkirtB_c_Phy
R_GrgSkirtB_d_Phy
R_GrgSkirtB_e_Phy
R_GrgSkirtB_f_Phy
R_GrgSkirtB_g_Phy
L_GrgFrontHipRibbonRoot_Spo
L_GrgFrontHipRibbonRoot_End
L_GrgFrontHipRibbonB_a_Phy
L_GrgFrontHipRibbonB_b_Phy
L_GrgFrontHipRibbonA_a_Phy
L_GrgFrontHipRibbonA_b_Phy
R_GrgFrontHipRibbonRoot_Spo
R_GrgFrontHipRibbonRoot_End
R_GrgFrontHipRibbonB_a_Phy
R_GrgFrontHipRibbonB_b_Phy
R_GrgFrontHipRibbonA_a_Phy
R_GrgFrontHipRibbonA_b_Phy
L_GrgBustFrillB_Spo
L_GrgBustFrillB_a_Phy
L_GrgBustFrillB_b_Phy
R_GrgBustFrillG_Spo
R_GrgBustFrillG_a_Phy
R_GrgBustFrillG_b_Phy
C_GrgBustFrillA_Spo
C_GrgBustFrillA_a_Phy
C_GrgBustFrillA_b_Phy
C_GrgBustFrillA_c_Phy
R_GrgArmFrillC_Spo
R_GrgArmFrillC_a_Phy
R_GrgArmFrillC_b_Phy
R_GrgArmFrillC_c_Phy
R_GrgElbowFrillE_Spo
R_GrgElbowFrillE_a_Phy
R_GrgElbowFrillE_b_Phy
R_GrgElbowFrillD_Spo
R_GrgElbowFrillD_a_Phy
R_GrgElbowFrillD_b_Phy
R_GrgElbowFrillF_Spo
R_GrgElbowFrillF_a_Phy
R_GrgElbowFrillF_b_Phy
R_GrgArmRibbonRoot_Spo
R_GrgArmRibbonC_Spo
R_GrgArmRibbonC_a_Phy
R_GrgArmRibbonC_b_Phy
R_GrgArmRibbonC_c_Phy
R_GrgArmRibbonRoot_End
R_GrgArmRibbonD_Spo
R_GrgArmRibbonD_a_Phy
R_GrgArmRibbonD_b_Phy
R_GrgArmRibbonD_c_Phy
R_GrgArmRibbonB_Spo
R_GrgArmRibbonB_a_Phy
R_GrgArmRibbonB_b_Phy
R_GrgArmRibbonA_Spo
R_GrgArmRibbonA_a_Phy
R_GrgArmRibbonA_b_Phy
R_GrgArmFrillE_Spo
R_GrgArmFrillE_a_Phy
R_GrgArmFrillE_b_Phy
R_GrgArmFrillE_c_Phy
R_GrgArmFrillB_Spo
R_GrgArmFrillB_a_Phy
R_GrgArmFrillB_b_Phy
R_GrgArmFrillB_c_Phy
R_GrgElbowFrillB_Spo
R_GrgElbowFrillB_a_Phy
R_GrgElbowFrillB_b_Phy
R_GrgArmFrillA_Spo
R_GrgArmFrillA_a_Phy
R_GrgArmFrillA_b_Phy
R_GrgArmFrillA_c_Phy
R_GrgHemFrillA_Spo
R_GrgHemFrillA_a_Phy
R_GrgHemFrillA_b_Phy
R_GrgHemFrillA_c_Phy
R_GrgHemFrillD_Spo
R_GrgHemFrillD_a_Phy
R_GrgHemFrillD_b_Phy
R_GrgHemFrillD_c_Phy
R_GrgHemFrillE_Spo
R_GrgHemFrillE_a_Phy
R_GrgHemFrillE_b_Phy
R_GrgHemFrillE_c_Phy
R_GrgHemFrillC_Spo
R_GrgHemFrillC_a_Phy
R_GrgHemFrillC_b_Phy
R_GrgHemFrillC_c_Phy
R_GrgHemFrillF_Spo
R_GrgHemFrillF_a_Phy
R_GrgHemFrillF_b_Phy
R_GrgHemFrillF_c_Phy
R_GrgHemFrillB_Spo
R_GrgHemFrillB_a_Phy
R_GrgHemFrillB_b_Phy
R_GrgHemFrillB_c_Phy
R_GrgArmFrillD_Spo
R_GrgArmFrillD_a_Phy
R_GrgArmFrillD_b_Phy
R_GrgArmFrillD_c_Phy
R_GrgElbowFrillA_Spo
R_GrgElbowFrillA_a_Phy
R_GrgElbowFrillA_b_Phy
R_GrgElbowFrillC_Spo
R_GrgElbowFrillC_a_Phy
R_GrgElbowFrillC_b_Phy
R_GrgArmFrillF_Spo
R_GrgArmFrillF_a_Phy
R_GrgArmFrillF_b_Phy
R_GrgArmFrillF_c_Phy
R_GrgBustFrillD_Spo
R_GrgBustFrillD_a_Phy
R_GrgBustFrillD_b_Phy
R_GrgBustFrillE_Spo
R_GrgBustFrillE_a_Phy
R_GrgBustFrillE_b_Phy
R_GrgBustFrillC_Spo
R_GrgBustFrillC_a_Phy
R_GrgBustFrillC_b_Phy
R_GrgBustFrillF_Spo
R_GrgBustFrillF_a_Phy
R_GrgBustFrillF_b_Phy
L_GrgBustFrillA_Spo
L_GrgBustFrillA_a_Phy
L_GrgBustFrillA_b_Phy
C_GrgPendantRootA_Spo
C_GrgPendantRootB_Spo
C_GrgPendant_a_Phy
C_GrgPendant_b_Phy
C_GrgPendant_c_Phy
C_GrgPendant_d_Phy
R_GrgHairL_Spo
R_GrgHairL_a_Phy
R_GrgHairL_b_Phy
R_GrgHairL_c_Phy
R_GrgHairL_d_Phy
R_GrgHairL_e_Phy
R_GrgHairL_f_Phy
L_GrgHairO_Spo
L_GrgHairO_a_Phy
L_GrgHairO_b_Phy
L_GrgHairO_c_Phy
L_GrgHairQ_a_Phy
L_GrgHairQ_b_Phy
L_GrgHairQ_c_Phy
L_GrgHairQ_d_Phy
L_GrgHairO_d_Phy
L_GrgHairO_e_Phy
L_GrgHairO_f_Phy
L_GrgHairO_g_Phy
L_GrgHairP_a_Phy
L_GrgHairP_b_Phy
L_GrgHairP_c_Phy
L_GrgHairP_d_Phy
L_GrgHairP_e_Phy
R_GrgHairN_Spo
R_GrgHairN_a_Phy
R_GrgHairN_b_Phy
R_GrgHairN_c_Phy
R_GrgHairN_e_Phy
R_GrgHairN_f_Phy
R_GrgHairN_g_Phy
L_GrgHairM_Spo
L_GrgHairM_a_Phy
L_GrgHairM_b_Phy
L_GrgHairM_c_Phy
L_GrgHairM_d_Phy
L_GrgHairM_e_Phy
L_GrgHairM_f_Phy
R_GrgHairM_Spo
R_GrgHairM_a_Phy
R_GrgHairM_b_Phy
R_GrgHairM_c_Phy
R_GrgHairM_d_Phy
R_GrgHairM_e_Phy
R_GrgHairM_f_Phy
C_GrgHairB_Spo
C_GrgHairB_a_Phy
C_GrgHairB_b_Phy
C_GrgHairB_c_Phy
C_GrgHairB_d_Phy
C_GrgHairB_e_Phy
C_GrgHairB_f_Phy
L_GrgHairK_Spo
L_GrgHairK_a_Phy
L_GrgHairK_b_Phy
L_GrgHairK_c_Phy
L_GrgHairK_d_Phy
L_GrgHairN_Spo
L_GrgHairN_a_Phy
L_GrgHairN_b_Phy
L_GrgHairN_c_Phy
L_GrgHairN_e_Phy
L_GrgHairN_f_Phy
L_GrgHairN_g_Phy
L_GrgHairL_Spo
L_GrgHairL_a_Phy
L_GrgHairL_b_Phy
L_GrgHairL_c_Phy
L_GrgHairL_d_Phy
L_GrgHairL_e_Phy
L_GrgHairL_f_Phy
R_GrgHairO_Spo
R_GrgHairO_a_Phy
R_GrgHairO_b_Phy
R_GrgHairO_c_Phy
R_GrgHairP_a_Phy
R_GrgHairP_b_Phy
R_GrgHairP_c_Phy
R_GrgHairP_d_Phy
R_GrgHairP_e_Phy
R_GrgHairQ_a_Phy
R_GrgHairQ_b_Phy
R_GrgHairQ_c_Phy
R_GrgHairQ_d_Phy
R_GrgHairO_d_Phy
R_GrgHairO_e_Phy
R_GrgHairO_f_Phy
R_GrgHairO_g_Phy
R_GrgHairK_Spo
R_GrgHairK_a_Phy
R_GrgHairK_b_Phy
R_GrgHairK_c_Phy
R_GrgHairK_d_Phy
C_GrgHairA_Spo
C_GrgHairA_a_Phy
C_GrgHairA_b_Phy
C_GrgHairA_c_Phy
C_GrgHairA_d_Phy
C_GrgHairA_e_Phy
C_GrgHairA_f_Phy
R_GrgBustFrillB_Spo
R_GrgBustFrillB_a_Phy
R_GrgBustFrillB_b_Phy
R_GrgBustFrillH_Spo
R_GrgBustFrillH_a_Phy
R_GrgBustFrillH_b_Phy
L_GrgBustFrillG_Spo
L_GrgBustFrillG_a_Phy
L_GrgBustFrillG_b_Phy
L_GrgBustFrillH_Spo
L_GrgBustFrillH_a_Phy
L_GrgBustFrillH_b_Phy
R_GrgBustFrillA_Spo
R_GrgBustFrillA_a_Phy
R_GrgBustFrillA_b_Phy
L_GrgBustFrillE_Spo
L_GrgBustFrillE_a_Phy
L_GrgBustFrillE_b_Phy
L_GrgBustFrillF_Spo
L_GrgBustFrillF_a_Phy
L_GrgBustFrillF_b_Phy
L_GrgBustFrillC_Spo
L_GrgBustFrillC_a_Phy
L_GrgBustFrillC_b_Phy
L_GrgBustFrillD_Spo
L_GrgBustFrillD_a_Phy
L_GrgBustFrillD_b_Phy
L_GrgElbowFrillB_Spo
L_GrgElbowFrillB_a_Phy
L_GrgElbowFrillB_b_Phy
L_GrgArmRibbonRoot_Spo
L_GrgArmRibbonA_Spo
L_GrgArmRibbonA_a_Phy
L_GrgArmRibbonA_b_Phy
L_GrgArmRibbonRoot_End
L_GrgArmRibbonC_Spo
L_GrgArmRibbonC_a_Phy
L_GrgArmRibbonC_b_Phy
L_GrgArmRibbonC_c_Phy
L_GrgArmRibbonB_Spo
L_GrgArmRibbonB_a_Phy
L_GrgArmRibbonB_b_Phy
L_GrgArmRibbonD_Spo
L_GrgArmRibbonD_a_Phy
L_GrgArmRibbonD_b_Phy
L_GrgArmRibbonD_c_Phy
L_GrgElbowFrillC_Spo
L_GrgElbowFrillC_a_Phy
L_GrgElbowFrillC_b_Phy
L_GrgArmFrillF_Spo
L_GrgArmFrillF_a_Phy
L_GrgArmFrillF_b_Phy
L_GrgArmFrillF_c_Phy
L_GrgHemFrillE_Spo
L_GrgHemFrillE_a_Phy
L_GrgHemFrillE_b_Phy
L_GrgHemFrillE_c_Phy
L_GrgHemFrillF_Spo
L_GrgHemFrillF_a_Phy
L_GrgHemFrillF_b_Phy
L_GrgHemFrillF_c_Phy
L_GrgHemFrillC_Spo
L_GrgHemFrillC_a_Phy
L_GrgHemFrillC_b_Phy
L_GrgHemFrillC_c_Phy
L_GrgHemFrillD_Spo
L_GrgHemFrillD_a_Phy
L_GrgHemFrillD_b_Phy
L_GrgHemFrillD_c_Phy
L_GrgHemFrillB_Spo
L_GrgHemFrillB_a_Phy
L_GrgHemFrillB_b_Phy
L_GrgHemFrillB_c_Phy
L_GrgHemFrillA_Spo
L_GrgHemFrillA_a_Phy
L_GrgHemFrillA_b_Phy
L_GrgHemFrillA_c_Phy
L_GrgElbowFrillF_Spo
L_GrgElbowFrillF_a_Phy
L_GrgElbowFrillF_b_Phy
L_GrgArmFrillC_Spo
L_GrgArmFrillC_a_Phy
L_GrgArmFrillC_b_Phy
L_GrgArmFrillC_c_Phy
L_GrgArmFrillA_Spo
L_GrgArmFrillA_a_Phy
L_GrgArmFrillA_b_Phy
L_GrgArmFrillA_c_Phy
L_GrgArmFrillE_Spo
L_GrgArmFrillE_a_Phy
L_GrgArmFrillE_b_Phy
L_GrgArmFrillE_c_Phy
L_GrgArmFrillB_Spo
L_GrgArmFrillB_a_Phy
L_GrgArmFrillB_b_Phy
L_GrgArmFrillB_c_Phy
L_GrgElbowFrillA_Spo
L_GrgElbowFrillA_a_Phy
L_GrgElbowFrillA_b_Phy
L_GrgElbowFrillE_Spo
L_GrgElbowFrillE_a_Phy
L_GrgElbowFrillE_b_Phy
L_GrgElbowFrillD_Spo
L_GrgElbowFrillD_a_Phy
L_GrgElbowFrillD_b_Phy
L_GrgArmFrillD_Spo
L_GrgArmFrillD_a_Phy
L_GrgArmFrillD_b_Phy
L_GrgArmFrillD_c_Phy
L_GrgSkirtA_Spo
L_GrgSkirtA_a_Phy
L_GrgSkirtA_b_Phy
L_GrgSkirtA_c_Phy
L_GrgSkirtA_d_Phy
L_GrgSkirtA_e_Phy
L_GrgSkirtA_f_Phy
L_GrgSkirtA_g_Phy
C_GrgBackWaistRibbonRoot_Spo
R_GrgBackWaistRibbonB_Spo
R_GrgBackWaistRibbonBB_a_Phy
R_GrgBackWaistRibbonBB_b_Phy
R_GrgBackWaistRibbonBB_c_Phy
R_GrgBackWaistRibbonBB_d_Phy
R_GrgBackWaistRibbonBB_e_Phy
R_GrgBackWaistRibbonBB_f_Phy
R_GrgBackWaistRibbonBB_g_Phy
R_GrgBackWaistRibbonBB_h_Phy
R_GrgBackWaistRibbonBC_a_Phy
R_GrgBackWaistRibbonBC_b_Phy
R_GrgBackWaistRibbonBC_c_Phy
R_GrgBackWaistRibbonBC_d_Phy
R_GrgBackWaistRibbonBA_a_Phy
R_GrgBackWaistRibbonBA_b_Phy
R_GrgBackWaistRibbonBA_c_Phy
R_GrgBackWaistRibbonBA_d_Phy
R_GrgBackWaistRibbonBA_e_Phy
R_GrgBackWaistRibbonBA_f_Phy
R_GrgBackWaistRibbonBA_g_Phy
R_GrgBackWaistRibbonBA_h_Phy
R_GrgBackWaistRibbonA_a_Phy
R_GrgBackWaistRibbonA_b_Phy
C_GrgBackWaistRibbonRoot_End
L_GrgBackWaistRibbonB_Spo
L_GrgBackWaistRibbonBC_a_Phy
L_GrgBackWaistRibbonBC_b_Phy
L_GrgBackWaistRibbonBC_c_Phy
L_GrgBackWaistRibbonBC_d_Phy
L_GrgBackWaistRibbonBA_a_Phy
L_GrgBackWaistRibbonBA_b_Phy
L_GrgBackWaistRibbonBA_c_Phy
L_GrgBackWaistRibbonBA_d_Phy
L_GrgBackWaistRibbonBA_e_Phy
L_GrgBackWaistRibbonBA_f_Phy
L_GrgBackWaistRibbonBA_g_Phy
L_GrgBackWaistRibbonBA_h_Phy
L_GrgBackWaistRibbonBB_a_Phy
L_GrgBackWaistRibbonBB_b_Phy
L_GrgBackWaistRibbonBB_c_Phy
L_GrgBackWaistRibbonBB_d_Phy
L_GrgBackWaistRibbonBB_e_Phy
L_GrgBackWaistRibbonBB_f_Phy
L_GrgBackWaistRibbonBB_g_Phy
L_GrgBackWaistRibbonBB_h_Phy
L_GrgBackWaistRibbonA_a_Phy
L_GrgBackWaistRibbonA_b_Phy
L_GrgSkirtC_Spo
L_GrgSkirtC_a_Phy
L_GrgSkirtC_b_Phy
L_GrgSkirtC_c_Phy
L_GrgSkirtC_d_Phy
L_GrgSkirtC_e_Phy
L_GrgSkirtC_f_Phy
L_GrgSkirtC_g_Phy
C_GrgSkirtA_Spo
C_GrgSkirtA_a_Phy
C_GrgSkirtA_b_Phy
C_GrgSkirtA_c_Phy
C_GrgSkirtA_d_Phy
C_GrgSkirtA_e_Phy
C_GrgSkirtA_f_Phy
C_GrgSkirtA_g_Phy
C_GrgSkirtB_Spo
C_GrgSkirtB_a_Phy
C_GrgSkirtB_b_Phy
C_GrgSkirtB_c_Phy
C_GrgSkirtB_d_Phy
C_GrgSkirtB_e_Phy
C_GrgSkirtB_f_Phy
C_GrgSkirtB_g_Phy
R_GrgSkirtC_Spo
R_GrgSkirtC_a_Phy
R_GrgSkirtC_b_Phy
R_GrgSkirtC_c_Phy
R_GrgSkirtC_d_Phy
R_GrgSkirtC_e_Phy
R_GrgSkirtC_f_Phy
R_GrgSkirtC_g_Phy
R_GrgSkirtA_Spo
R_GrgSkirtA_a_Phy
R_GrgSkirtA_b_Phy
R_GrgSkirtA_c_Phy
R_GrgSkirtA_d_Phy
R_GrgSkirtA_e_Phy
R_GrgSkirtA_f_Phy
R_GrgSkirtA_g_Phy
R_Shoulderpad_Spo
R_Shoulderpad_a
R_Shoulderpad_End

[RemoveTracks]
B_Idle01_2.2=all
B_Idle01_2.3=all
B_Idle01_2.8=all
B_Idle01_2.9=all
B_Idle01_2.11=all
B_Idle01_2.12=all
B_Idle01_2.13=all
B_Idle01_2.14=all
B_Idle01_2.15=all
B_Idle01_2.16=all
B_Idle01_2.19=all
B_Idle01_2.21=all
B_Idle01_2.22=all
B_Idle01_2.23=all
B_Idle01_2.24=all
B_Idle01_2.25=all
B_Idle01_2.26=all
B_Idle01_2.28=all
B_Idle01_2.29=all
B_Idle01_2.30=all
B_Idle01_2.31=all
B_Idle01_2.32=all
B_Idle01_2.33=all
B_Idle01_2.38=all
B_Idle01_2.42=all
B_Idle01_2.46=all
B_Idle01_2.50=all
B_Idle01_2.54=all
B_Idle01_2.56=all
B_Idle01_2.57=all
B_Idle01_2.58=all
B_Idle01_2.59=all
B_Idle01_2.60=all
B_Idle01_2.61=all
B_Idle01_2.62=all
B_Idle01_2.63=all
B_Idle01_2.64=all
B_Idle01_2.65=all
B_Idle01_2.66=all
B_Idle01_2.67=all
B_Idle01_2.72=all
B_Idle01_2.73=all
B_Idle01_2.74=all
B_Idle01_2.75=all
B_Idle01_2.76=all
B_Idle01_2.77=all
B_Idle01_2.78=all
B_Idle01_2.79=all
B_Idle01_2.81=all
B_Idle01_2.82=all
B_Idle01_2.83=all
B_Idle01_2.84=all
B_Idle01_2.85=all
B_Idle01_2.86=all
B_Idle01_2.91=all
B_Idle01_2.95=all
B_Idle01_2.99=all
B_Idle01_2.104=all
B_Idle01_2.108=all
B_Idle01_2.109=all
B_Idle01_2.110=all
B_Idle01_2.111=all
B_Idle01_2.112=all
B_Idle01_2.113=all
B_Idle01_2.114=all
B_Idle01_2.115=all
B_Idle01_2.116=all
B_Idle01_2.117=all
B_Idle01_2.118=all
B_Idle01_2.121=all
B_Idle01_2.122=all
B_Idle01_2.123=all
B_Idle01_2.124=all
B_Idle01_2.125=all
B_Idle01_2.126=all
B_Idle01_2.127=all
B_Idle01_2.128=all
B_Idle01_2.129=all
B_Idle01_2.130=all
B_Idle01_2.131=all
B_Idle01_2.132=all
B_Idle01_2.133=all
B_Idle01_2.134=all
B_Idle01_2.135=all
B_Idle01_2.136=all
B_Idle01_2.137=all
B_Idle01_2.138=all
B_Idle01_2.139=all
B_Idle01_2.140=all
B_Idle01_2.141=all
B_Idle01_2.142=all
B_Idle01_2.143=all
B_Idle01_2.144=all
B_Idle01_2.145=all
B_Idle01_2.146=all
B_Idle01_2.147=all
B_Idle01_2.148=all
B_Idle01_2.149=all
B_Idle01_2.150=all
B_Idle01_2.151=all
B_Idle01_2.152=all
B_Idle01_2.153=all
B_Idle01_2.154=all
B_Idle01_2.155=all
B_Idle01_2.156=all
B_Idle01_2.157=all
B_Idle01_2.158=all
B_Idle01_2.159=all
B_Idle01_2.160=all
B_Idle01_2.161=all
B_Idle01_2.162=all
B_Idle01_2.163=all
B_Idle01_2.164=all
B_Idle01_2.165=all
B_Idle01_2.166=all
B_Idle01_2.167=all
B_Idle01_2.168=all
B_Idle01_2.169=all
B_Idle01_2.170=all
B_Idle01_2.171=all
B_Idle01_2.172=all
B_Idle01_2.173=all
B_Idle01_2.174=all
B_Idle01_2.175=all
B_Idle01_2.176=all
B_Idle01_2.177=all
B_Idle01_2.178=all
B_Idle01_2.179=all
B_Idle01_2.180=all
B_Idle01_2.181=all
B_Idle01_2.182=all
B_Idle01_2.183=all
B_Idle01_2.184=all
B_Idle01_2.185=all
B_Idle01_2.186=all
B_Idle01_2.187=all
B_Idle01_2.188=all
B_Idle01_2.189=all
B_Idle01_2.190=all
B_Idle01_2.191=all
B_Idle01_2.192=all
B_Idle01_2.193=all
B_Idle01_2.194=all
B_Idle01_2.195=all
B_Idle01_2.196=all
B_Idle01_2.197=all
B_Idle01_2.198=all
B_Idle01_2.199=all
B_Idle01_2.200=all
B_Idle01_2.201=all
B_Idle01_2.202=all
B_Idle01_2.203=all
B_Idle01_2.204=all
B_Idle01_2.205=all
B_Idle01_2.206=all
B_Idle01_2.207=all
B_Idle01_2.208=all
B_Idle01_2.209=all
B_Idle01_2.210=all
B_Idle01_2.211=all
B_Idle01_2.212=all
B_Idle01_2.213=all
B_Idle01_2.214=all
B_Idle01_2.215=all
B_Idle01_2.216=all
B_Idle01_2.217=all
B_Idle01_2.218=all
B_Idle01_2.219=all
B_Idle01_2.220=all
B_Idle01_2.221=all
B_Idle01_2.222=all
B_Idle01_2.223=all
B_Idle01_2.224=all
B_Idle01_2.225=all
B_Idle01_2.226=all
B_Idle01_2.227=all
B_Idle01_2.228=all
B_Idle01_2.229=all
B_Idle01_2.230=all
B_Idle01_2.231=all
B_Idle01_2.232=all
B_Idle01_2.233=all
B_Idle01_2.234=all
B_Idle01_2.235=all
B_Idle01_2.236=all
B_Idle01_2.237=all
B_Idle01_2.238=all
B_Idle01_2.239=all
B_Idle01_2.240=all
B_Idle01_2.241=all
B_Idle01_2.242=all
B_Idle01_2.243=all
B_Idle01_2.244=all
B_Idle01_2.245=all
B_Idle01_2.246=all
B_Idle01_2.247=all
B_Idle01_2.248=all
B_Idle01_2.249=all
B_Idle01_2.250=all
B_Idle01_2.251=all
B_Idle01_2.252=all
B_Idle01_2.253=all
B_Idle01_2.254=all
B_Idle01_2.255=all
B_Idle01_2.256=all
B_Idle01_2.257=all
B_Idle01_2.258=all
B_Idle01_2.259=all
B_Idle01_2.260=all
B_Idle01_2.261=all
B_Idle01_2.262=all
B_Idle01_2.263=all
B_Idle01_2.264=all
B_Idle01_2.265=all
B_Idle01_2.266=all
B_Idle01_2.267=all
B_Idle01_2.268=all
B_Idle01_2.269=all
B_Idle01_2.270=all
B_Idle01_2.271=all
B_Idle01_2.272=all
B_Idle01_2.273=all
B_Idle01_2.274=all
B_Idle01_2.275=all
B_Idle01_2.276=all
B_Idle01_2.277=all
B_Idle01_2.278=all
B_Idle01_2.279=all
B_Idle01_2.280=all
B_Idle01_2.281=all
B_Idle01_2.282=all
B_Idle01_2.283=all
B_Idle01_2.284=all
B_Idle01_2.285=all
B_Idle01_2.286=all
B_Idle01_2.287=all
B_Idle01_2.288=all
B_Idle01_2.289=all
B_Idle01_2.290=all
B_Idle01_2.291=all
B_Idle01_2.292=all
B_Idle01_2.293=all
B_Idle01_2.294=all
B_Idle01_2.295=all
B_Idle01_2.296=all
B_Idle01_2.297=all
B_Idle01_2.298=all
B_Idle01_2.299=all
B_Idle01_2.300=all
B_Idle01_2.301=all
B_Idle01_2.302=all
B_Idle01_2.303=all
B_Idle01_2.304=all
B_Idle01_2.305=all
B_Idle01_2.306=all
B_Idle01_2.307=all
B_Idle01_2.308=all
B_Idle01_2.309=all
B_Idle01_2.310=all
B_Idle01_2.311=all
B_Idle01_2.312=all
B_Idle01_2.313=all
B_Idle01_2.314=all
B_Idle01_2.315=all
B_Idle01_2.316=all
B_Idle01_2.317=all
B_Idle01_2.318=all
B_Idle01_2.319=all
B_Idle01_2.320=all
B_Idle01_2.321=all
B_Idle01_2.322=all
B_Idle01_2.323=all
B_Idle01_2.324=all
B_Idle01_2.325=all
B_Idle01_2.326=all
B_Idle01_2.327=all
B_Idle01_2.328=all
B_Idle01_2.329=all
B_Idle01_2.330=all
B_Idle01_2.331=all
B_Idle01_2.332=all
B_Idle01_2.333=all
B_Idle01_2.334=all
B_Idle01_2.335=all
B_Idle01_2.336=all
B_Idle01_2.337=all
B_Idle01_2.338=all
B_Idle01_2.339=all
B_Idle01_2.340=all
B_Idle01_2.341=all
B_Idle01_2.342=all
B_Idle01_2.343=all
B_Idle01_2.344=all
B_Idle01_2.345=all
B_Idle01_2.346=all
B_Idle01_2.347=all
B_Idle01_2.348=all
B_Idle01_2.349=all
B_Idle01_2.350=all
B_Idle01_2.351=all
B_Idle01_2.352=all
B_Idle01_2.353=all
B_Idle01_2.354=all
B_Idle01_2.355=all
B_Idle01_2.356=all
B_Idle01_2.357=all
B_Idle01_2.358=all
B_Idle01_2.359=all
B_Idle01_2.360=all
B_Idle01_2.361=all
B_Idle01_2.362=all
B_Idle01_2.364=all
B_Idle01_2.365=all
B_Idle01_2.366=all
B_Idle01_2.367=all
B_Idle01_2.368=all
B_Idle01_2.369=all
B_Idle01_2.370=all
B_Idle01_2.371=all
B_Idle01_2.372=all
B_Idle01_2.373=all
B_Idle01_2.374=all
B_Idle01_2.375=all
B_Idle01_2.376=all
B_Idle01_2.377=all
B_Idle01_2.378=all
B_Idle01_2.379=all
B_Idle01_2.380=all
B_Idle01_2.381=all
B_Idle01_2.382=all
B_Idle01_2.383=all
B_Idle01_2.384=all
B_Idle01_2.385=all
B_Idle01_2.386=all
B_Idle01_2.387=all
B_Idle01_2.388=all
B_Idle01_2.389=all
B_Idle01_2.390=all
B_Idle01_2.391=all
B_Idle01_2.392=all
B_Idle01_2.393=all
B_Idle01_2.394=all
B_Idle01_2.395=all
B_Idle01_2.396=all
B_Idle01_2.397=all
B_Idle01_2.399=all
B_Idle01_2.400=all
B_Idle01_2.401=all
B_Idle01_2.402=all
B_Idle01_2.405=all
B_Idle01_2.406=all
B_Idle01_2.407=all
B_Idle01_2.408=all
B_Idle01_2.409=all
B_Idle01_2.410=all
B_Idle01_2.411=all
B_Idle01_2.412=all
B_Idle01_2.413=all
B_Idle01_2.414=all
B_Idle01_2.415=all
B_Idle01_2.416=all
B_Idle01_2.417=all
B_Idle01_2.418=all
B_Idle01_2.419=all
B_Idle01_2.420=all
B_Idle01_2.421=all
B_Idle01_2.422=all
B_Idle01_2.423=all
B_Idle01_2.424=all
B_Idle01_2.425=all
B_Idle01_2.426=all
B_Idle01_2.427=all
B_Idle01_2.428=all
B_Idle01_2.429=all
B_Idle01_2.430=all
B_Idle01_2.431=all
B_Idle01_2.432=all
B_Idle01_2.433=all
B_Idle01_2.434=all
B_Idle01_2.435=all
B_Idle01_2.440=all
B_Idle01_2.441=all
B_Idle01_2.442=all
B_Idle01_2.443=all
B_Idle01_2.444=all
B_Idle01_2.445=all
B_Idle01_2.446=all
B_Idle01_2.447=all
B_Idle01_2.448=all
B_Idle01_2.449=all
B_Idle01_2.450=all
B_Idle01_2.451=all
B_Idle01_2.452=all
B_Idle01_2.453=all
B_Idle01_2.454=all
B_Idle01_2.455=all
B_Idle01_2.456=all
B_Idle01_2.457=all
B_Idle01_2.458=all
B_Idle01_2.459=all
B_Idle01_2.460=all
B_Idle01_2.461=all
B_Idle01_2.462=all
B_Idle01_2.463=all
B_Idle01_2.464=all
B_Idle01_2.465=all
B_Idle01_2.466=all
B_Idle01_2.467=all
B_Idle01_2.468=all
B_Idle01_2.469=all
B_Idle01_2.470=all
B_Idle01_2.471=all
B_Idle01_2.472=all
B_Idle01_2.473=all
B_Idle01_2.474=all
B_Idle01_2.475=all
B_Idle01_2.476=all
B_Idle01_2.477=all
B_Idle01_2.478=all
B_Idle01_2.479=all
B_Idle01_2.480=all
B_Idle01_2.481=all
B_Idle01_2.482=all
B_Idle01_2.483=all
B_Idle01_2.484=all
B_Idle01_2.485=all
B_Idle01_2.486=all
B_Idle01_2.487=all
B_Idle01_2.488=all
B_Idle01_2.489=all
B_Idle01_2.490=all
B_Idle01_2.491=all
B_Idle01_2.492=all
B_Idle01_2.493=all
B_Idle01_2.494=all
B_Idle01_2.495=all
B_Idle01_2.496=all
B_Idle01_2.497=all
B_Idle01_2.498=all
B_Idle01_2.499=all
B_Idle01_2.500=all
B_Idle01_2.501=all
B_Idle01_2.502=all
B_Idle01_2.503=all
B_Idle01_2.504=all
B_Idle01_2.505=all
B_Idle01_2.506=all
B_Idle01_2.507=all
B_Idle01_2.508=all
B_Idle01_2.509=all
B_Idle01_2.510=all
B_Idle01_2.511=all
B_Idle01_2.512=all
B_Idle01_2.513=all
B_Idle01_2.514=all
B_Idle01_2.516=all
B_Idle01_2.517=all
B_Idle01_2.518=all
B_Idle01_2.519=all
B_Idle01_2.520=all
B_Idle01_2.521=all
B_Idle01_2.522=all
B_Idle01_2.523=all
B_Idle01_2.524=all
B_Idle01_2.525=all
B_Idle01_2.526=all
B_Idle01_2.527=all
B_Idle01_2.528=all
B_Idle01_2.529=all
B_Idle01_2.530=all
B_Idle01_2.531=all
B_Idle01_2.532=all
B_Idle01_2.533=all
B_Idle01_2.534=all
B_Idle01_2.535=all
B_Idle01_2.536=all
B_Idle01_2.537=all
B_Idle01_2.538=all
B_Idle01_2.539=all
B_Idle01_2.540=all
B_Idle01_2.541=all
B_Idle01_2.542=all
B_Idle01_2.543=all
B_Idle01_2.544=all
B_Idle01_2.545=all
B_Idle01_2.546=all
B_Idle01_2.547=all
B_Idle01_2.548=all
B_Idle01_2.549=all
B_Idle01_2.550=all
B_Idle01_2.551=all
B_Idle01_2.552=all
B_Idle01_2.553=all
B_Idle01_2.554=all
B_Idle01_2.555=all
B_Idle01_2.556=all
B_Idle01_2.557=all
B_Idle01_2.558=all
B_Idle01_2.559=all
B_Idle01_2.560=all
B_Idle01_2.561=all
B_Idle01_2.562=all
B_Idle01_2.563=all
B_Idle01_2.564=all
B_Idle01_2.565=all
B_Idle01_2.566=all
B_Idle01_2.567=all
B_Idle01_2.568=all
B_Idle01_2.569=all
B_Idle01_2.570=all
B_Idle01_2.571=all
B_Idle01_2.572=all
B_Idle01_2.573=all
B_Idle01_2.574=all
B_Idle01_2.575=all
B_Idle01_2.576=all
B_Idle01_2.577=all
B_Idle01_2.578=all
B_Idle01_2.579=all
B_Idle01_2.580=all
B_Idle01_2.581=all
B_Idle01_2.582=all
B_Idle01_2.583=all
B_Idle01_2.584=all
B_Idle01_2.585=all
B_Idle01_2.586=all
B_Idle01_2.587=all
B_Idle01_2.588=all
B_Idle01_2.589=all
B_Idle01_2.590=all
B_Idle01_2.591=all
B_Idle01_2.592=all
B_Idle01_2.593=all
B_Idle01_2.594=all
B_Idle01_2.595=all
B_Idle01_2.596=all
B_Idle01_2.597=all
B_Idle01_2.598=all
B_Idle01_2.599=all
B_Idle01_2.600=all
B_Idle01_2.601=all
B_Idle01_2.602=all
B_Idle01_2.603=all
B_Idle01_2.604=all
B_Idle01_2.605=all
B_Idle01_2.606=all
B_Idle01_2.607=all
B_Idle01_2.608=all
B_Idle01_2.609=all
B_Idle01_2.610=all
B_Idle01_2.611=all
B_Idle01_2.612=all
B_Idle01_2.613=all
B_Idle01_2.614=all
B_Idle01_2.615=all
B_Idle01_2.616=all
B_Idle01_2.617=all
B_Idle01_2.618=all
B_Idle01_2.619=all
B_Idle01_2.620=all
B_Idle01_2.621=all
B_Idle01_2.622=all
B_Idle01_2.623=all
B_Idle01_2.624=all
B_Idle01_2.625=all
B_Idle01_2.626=all
B_Idle01_2.627=all
B_Idle01_2.628=all
B_Idle01_2.629=all
B_Idle01_2.630=all
B_Idle01_2.631=all
B_Idle01_2.632=all
B_Idle01_2.633=all
B_Idle01_2.634=all
B_Idle01_2.635=all
B_Idle01_2.636=all
B_Idle01_2.637=all
B_Idle01_2.638=all
B_Idle01_2.639=all
B_Idle01_2.640=all
B_Idle01_2.641=all
B_Idle01_2.642=all
B_Idle01_2.643=all
B_Idle01_2.644=all
B_Idle01_2.645=all
B_Idle01_2.646=all
B_Idle01_2.647=all
B_Idle01_2.648=all
B_Idle01_2.649=all
B_Idle01_2.650=all
B_Idle01_2.651=all
B_Idle01_2.652=all
B_Idle01_2.653=all
B_Idle01_2.654=all
B_Idle01_2.655=all
B_Idle01_2.656=all
B_Idle01_2.657=all
B_Idle01_2.658=all
B_Idle01_2.659=all
B_Idle01_2.660=all
B_Idle01_2.661=all
B_Idle01_2.662=all
B_Idle01_2.663=all
B_Idle01_2.664=all
B_Idle01_2.665=all
B_Idle01_2.666=all
B_Idle01_2.667=all
B_Idle01_2.668=all
B_Idle01_2.669=all
B_Idle01_2.670=all
B_Idle01_2.671=all
B_Idle01_2.672=all
B_Idle01_2.673=all
B_Idle01_2.674=all
B_Idle01_2.675=all
B_Idle01_2.676=all
B_Idle01_2.677=all
B_Idle01_2.678=all
B_Idle01_2.679=all
B_Idle01_2.680=all
B_Idle01_2.681=all
B_Idle01_2.682=all
B_Idle01_2.683=all
B_Idle01_2.684=all
B_Idle01_2.685=all
B_Idle01_2.686=all
B_Idle01_2.687=all
B_Idle01_2.688=all
B_Idle01_2.689=all
B_Idle01_2.690=all
B_Idle01_2.691=all
B_Idle01_2.692=all
B_Idle01_2.693=all
B_Idle01_2.694=all
B_Idle01_2.695=all
B_Idle01_2.696=all
B_Idle01_2.697=all
B_Idle01_2.698=all
B_Idle01_2.699=all
B_Idle01_2.700=all
B_Idle01_2.701=all
B_Idle01_2.702=all
B_Idle01_2.703=all
B_Idle01_2.704=all
B_Idle01_2.705=all
B_Idle01_2.706=all
B_Idle01_2.707=all
B_Idle01_2.708=all
B_Idle01_2.709=all
B_Idle01_2.710=all
B_Idle01_2.711=all
B_Idle01_2.712=all
B_Idle01_2.713=all
B_Idle01_2.714=all
B_Idle01_2.715=all
B_Idle01_2.716=all
B_Idle01_2.717=all
B_Idle01_2.718=all
B_Idle01_2.719=all
B_Idle01_2.720=all
B_Idle01_2.721=all
B_Idle01_2.722=all
B_Idle01_2.723=all
B_Idle01_2.724=all
B_Idle01_2.725=all
B_Idle01_2.726=all
B_Idle01_2.727=all
B_Idle01_2.728=all
B_Idle01_2.729=all
B_Idle01_2.730=all
B_Idle01_2.731=all
B_Idle01_2.732=all
B_Idle01_2.733=all
B_Idle01_2.734=all
B_Idle01_2.735=all
B_Idle01_2.736=all
B_Idle01_2.737=all
B_Idle01_2.738=all
B_Idle01_2.739=all
B_Idle01_2.740=all
B_Idle01_2.741=all
B_Idle01_2.742=all
B_Idle01_2.743=all
B_Idle01_2.744=all
B_Idle01_2.745=all
B_Idle01_2.746=all
B_Idle01_2.747=all
B_Idle01_2.748=all
B_Idle01_2.749=all
B_Idle01_2.750=all
B_Idle01_2.751=all
B_Idle01_2.752=all
B_Idle01_2.753=all
B_Idle01_2.754=all
B_Idle01_2.755=all
B_Idle01_2.756=all
B_Idle01_2.757=all
B_Idle01_2.758=all
B_Idle01_2.759=all
B_Idle01_2.760=all
B_Idle01_2.761=all
B_Idle01_2.762=all
B_Idle01_2.763=all
B_Idle01_2.764=all
B_Idle01_2.765=all
B_Idle01_2.766=all
B_Idle01_2.767=all
B_Idle01_2.768=all
B_Idle01_2.769=all
B_Idle01_2.770=all
B_Idle01_2.771=all
B_Idle01_2.772=all
B_Idle01_2.773=all
B_Idle01_2.774=all
B_Idle01_2.775=all
B_Idle01_2.776=all
B_Idle01_2.777=all
B_Idle01_2.778=all
B_Idle01_2.779=all
B_Idle01_2.780=all
B_Idle01_2.781=all
B_Idle01_2.782=all
B_Idle01_2.783=all
B_Idle01_2.784=all
B_Idle01_2.785=all
B_Idle01_2.786=all
B_Idle01_2.787=all
B_Idle01_2.788=all
B_Idle01_2.789=all
B_Idle01_2.790=all
B_Idle01_2.791=all
B_Idle01_2.792=all
B_Idle01_2.793=all
B_Idle01_2.794=all
B_Idle01_2.795=all
B_Idle01_2.796=all
B_Idle01_2.797=all
B_Idle01_2.798=all
B_Idle01_2.799=all
B_Idle01_2.800=all
B_Idle01_2.801=all
B_Idle01_2.802=all
B_Idle01_2.803=all
B_Idle01_2.804=all
B_Idle01_2.805=all
B_Idle01_2.806=all
B_Idle01_2.807=all
B_Idle01_2.808=all
B_Idle01_2.809=all
B_Idle01_2.810=all
B_Idle01_2.811=all
B_Idle01_2.812=all
B_Idle01_2.813=all
B_Idle01_2.814=all
B_Idle01_2.815=all
B_Idle01_2.816=all
B_Idle01_2.817=all
B_Idle01_2.818=all
B_Idle01_2.819=all
B_Idle01_2.820=all
B_Idle01_2.821=all
B_Idle01_2.822=all
B_Idle01_2.823=all
B_Idle01_2.824=all
B_Idle01_2.825=all
B_Idle01_2.826=all
B_Idle01_2.827=all
B_Idle01_2.828=all
B_Idle01_2.829=all
B_Idle01_2.830=all
B_Idle01_2.831=all
B_Idle01_2.832=all
B_Idle01_2.833=all
B_Idle01_2.834=all
B_Idle01_2.835=all
B_Idle01_2.836=all
B_Idle01_2.837=all
B_Idle01_2.838=all
B_Idle01_2.839=all
B_Idle01_2.840=all
B_Idle01_2.841=all
B_Idle01_2.842=all
B_Idle01_2.843=all
B_Idle01_2.844=all
B_Idle01_2.845=all
B_Idle01_2.846=all
B_Idle01_2.847=all
B_Idle01_2.848=all
B_Idle01_2.849=all
B_Idle01_2.850=all
B_Idle01_2.851=all
B_Idle01_2.852=all
B_Idle01_2.853=all
B_Idle01_2.854=all
B_Idle01_2.855=all
B_Idle01_2.856=all
B_Idle01_2.857=all
B_Idle01_2.858=all
B_Idle01_2.859=all
B_Idle01_2.860=all
B_Idle01_2.861=all
B_Idle01_2.862=all
B_Idle01_2.863=all
B_Idle01_2.864=all
B_Idle01_2.865=all
B_Idle01_2.866=all
B_Idle01_2.867=all
B_Idle01_2.868=all
B_Idle01_2.869=all
B_Idle01_2.870=all
B_Idle01_2.871=all
B_Idle01_2.872=all
B_Idle01_2.873=all
B_Idle01_2.874=all
B_Idle01_2.875=all
B_Idle01_2.876=all
B_Idle01_2.877=all
B_Idle01_2.878=all
B_Idle01_2.879=all
B_Idle01_2.880=all
B_Idle01_2.881=all
B_Idle01_2.882=all
B_Idle01_2.883=all
B_Idle01_2.884=all
B_Idle01_2.885=all
B_Idle01_2.886=all
B_Idle01_2.887=all
B_Idle01_2.888=all
B_Idle01_2.889=all
B_Idle01_2.890=all
B_Idle01_2.891=all
B_Idle01_2.892=all
B_Idle01_2.893=all
B_Idle01_2.894=all
B_Idle01_2.895=all
B_Idle01_2.896=all
B_Idle01_2.897=all
B_Idle01_2.898=all
B_Idle01_2.899=all
B_Idle01_2.900=all
B_Idle01_2.901=all
B_Idle01_2.902=all
B_Idle01_2.903=all
B_Idle01_2.904=all
B_Idle01_2.905=all
B_Idle01_2.906=all
B_Idle01_2.907=all
B_Idle01_2.908=all
B_Idle01_2.909=all
B_Idle01_2.910=all
B_Idle01_2.911=all
B_Idle01_2.912=all
B_Idle01_2.913=all
B_Idle01_2.914=all
B_Idle01_2.915=all
B_Idle01_2.916=all
B_Idle01_2.917=all
B_Idle01_2.918=all
B_Idle01_2.919=all
B_Idle01_2.920=all
B_Idle01_2.921=all
B_Idle01_2.922=all
B_Idle01_2.923=all
B_Idle01_2.924=all
B_Idle01_2.925=all
B_Idle01_2.926=all
B_Idle01_2.927=all
B_Idle01_2.928=all
B_Idle01_2.929=all
B_Idle01_2.930=all
B_Idle01_2.931=all
B_Idle01_2.932=all
B_Idle01_2.933=all
B_Idle01_2.934=all
B_Idle01_2.935=all
B_Idle01_2.936=all
B_Idle01_2.937=all
B_Idle01_2.938=all
B_Idle01_2.939=all
B_Idle01_2.940=all
B_Idle01_2.941=all
B_Idle01_2.942=all
B_Idle01_2.943=all
B_Idle01_2.944=all
B_Idle01_2.945=all
B_Idle01_2.946=all
B_Idle01_2.947=all
B_Idle01_2.948=all
B_Idle01_2.949=all
B_Idle01_2.950=all
B_Idle01_2.951=all
B_Idle01_2.952=all
B_Idle01_2.953=all
B_Idle01_2.954=all
B_Idle01_2.955=all
B_Idle01_2.956=all
B_Idle01_2.957=all
B_Idle01_2.958=all
B_Idle01_2.959=all
B_Idle01_2.960=all
B_Idle01_2.961=all
B_Idle01_2.962=all
B_Idle01_2.963=all
B_Idle01_2.964=all
B_Idle01_2.965=all
B_Idle01_2.966=all
B_Idle01_2.967=all
B_Idle01_2.968=all
B_Idle01_2.969=all
B_Idle01_2.970=all
B_Idle01_2.971=all
B_Idle01_2.972=all
B_Idle01_2.973=all
B_Idle01_2.974=all
B_Idle01_2.975=all
B_Idle01_2.976=all
B_Idle01_2.977=all
B_Idle01_2.978=all
B_Idle01_2.979=all
B_Idle01_2.980=all
B_Idle01_2.981=all
B_Idle01_2.982=all
B_Idle01_2.983=all
B_Idle01_2.984=all
B_Idle01_2.985=all
B_Idle01_2.986=all
B_Idle01_2.987=all
B_Idle01_2.988=all
B_Idle01_2.989=all
B_Idle01_2.990=all
B_Idle01_2.991=all
B_Idle01_2.992=all
B_Idle01_2.993=all
B_Idle01_2.994=all
B_Idle01_2.995=all
B_Idle01_2.996=all
B_Idle01_2.997=all
B_Idle01_2.998=all
B_Idle01_2.999=all
B_Idle01_2.1000=all
B_Idle01_2.1001=all
B_Idle01_2.1002=all
B_Idle01_2.1003=all
B_Idle01_2.1004=all
B_Idle01_2.1005=all
B_Idle01_2.1006=all
B_Idle01_2.1007=all
B_Idle01_2.1008=all
B_Idle01_2.1009=all
B_Idle01_2.1010=all
B_Idle01_2.1011=all
B_Idle01_2.1012=all
B_Idle01_2.1013=all
B_Idle01_2.1014=all
B_Idle01_2.1015=all
B_Idle01_2.1016=all
B_Idle01_2.1017=all
B_Idle01_2.1018=all
B_Idle01_2.1019=all
B_Idle01_2.1020=all
B_Idle01_2.1021=all
B_Idle01_2.1022=all
B_Idle01_2.1023=all
B_Idle01_2.1024=all
B_Idle01_2.1025=all
B_Idle01_2.1026=all
B_Idle01_2.1027=all
B_Idle01_2.1028=all
B_Idle01_2.1029=all
B_Idle01_2.1030=all
B_Idle01_2.1031=all
B_Idle01_2.1032=all
B_Idle01_2.1033=all
B_Idle01_2.1034=all
B_Idle01_2.1035=all
B_Idle01_2.1036=all
B_Idle01_2.1037=all
B_Idle01_2.1038=all
B_Idle01_2.1039=all
B_Idle01_2.1040=all
B_Idle01_2.1041=all
B_Idle01_2.1042=all
B_Idle01_2.1043=all
B_Idle01_2.1044=all
B_Idle01_2.1045=all
B_Idle01_2.1046=all
B_Idle01_2.1047=all
B_Idle01_2.1048=all
B_Idle01_2.1049=all
B_Idle01_2.1050=all
B_Idle01_2.1051=all
B_Idle01_2.1052=all
B_Idle01_2.1053=all
B_Idle01_2.1054=all
B_Idle01_2.1055=all
B_Idle01_2.1056=all
B_Idle01_2.1057=all
B_Idle01_2.1058=all
B_Idle01_2.1059=all
B_Idle01_2.1060=all
B_Idle01_2.1061=all
B_Idle01_2.1062=all
B_Idle01_2.1063=all
B_Idle01_2.1064=all
B_Idle01_2.1065=all
B_Idle01_2.1066=all
B_Idle01_2.1067=all
B_Idle01_2.1068=all
B_Idle01_2.1069=all
B_Idle01_2.1070=all
B_Idle01_2.1071=all
B_Idle01_2.1072=all
B_Idle01_2.1073=all
B_Idle01_2.1074=all
B_Idle01_2.1075=all
B_Idle01_2.1076=all
B_Idle01_2.1077=all
B_Idle01_2.1078=all
B_Idle01_2.1079=all
B_Idle01_2.1080=all
B_Idle01_2.1081=all
B_Idle01_2.1082=all
B_Idle01_2.1083=all
B_Idle01_2.1084=all
B_Idle01_2.1085=all
B_Idle01_2.1086=all
B_Idle01_2.1087=all
B_Idle01_2.1088=all
B_Idle01_2.1089=all
B_Idle01_2.1090=all
B_Idle01_2.1091=all
B_Idle01_2.1092=all
B_Idle01_2.1093=all
B_Idle01_2.1094=all
B_Idle01_2.1095=all
B_Idle01_2.1096=all
B_Idle01_2.1097=all
B_Idle01_2.1098=all
B_Idle01_2.1099=all
B_Idle01_2.1100=all
B_Idle01_2.1101=all
B_Idle01_2.1102=all
B_Idle01_2.1103=all
B_Idle01_2.1104=all
B_Idle01_2.1105=all
B_Idle01_2.1106=all
B_Idle01_2.1107=all
B_Idle01_2.1108=all
B_Idle01_2.1109=all
B_Idle01_2.1110=all
B_Idle01_2.1111=all
B_Idle01_2.1112=all
B_Idle01_2.1113=all
B_Idle01_2.1114=all
B_Idle01_2.1115=all
B_Idle01_2.1116=all
B_Idle01_2.1117=all
B_Idle01_2.1118=all
B_Idle01_2.1119=all
B_Idle01_2.1120=all
B_Idle01_2.1121=all
B_Idle01_2.1122=all
B_Idle01_2.1123=all
B_Idle01_2.1124=all
B_Idle01_2.1125=all
B_Idle01_2.1126=all
B_Idle01_2.1127=all
B_Idle01_2.1128=all
B_Idle01_2.1129=all
B_Idle01_2.1130=all
B_Idle01_2.1131=all
B_Idle01_2.1132=all
B_Idle01_2.1133=all
B_Idle01_2.1134=all
B_Idle01_2.1135=all
B_Idle01_2.1136=all
B_Idle01_2.1137=all
B_Idle01_2.1138=all
B_Idle01_2.1139=all
B_Idle01_2.1140=all
B_Idle01_2.1141=all
B_Idle01_2.1142=all
B_Idle01_2.1143=all
B_Idle01_2.1144=all
B_Idle01_2.1145=all
B_Idle01_2.1146=all
B_Idle01_2.1147=all
B_Idle01_2.1148=all
B_Idle01_2.1149=all
B_Idle01_2.1150=all
B_Idle01_2.1151=all
B_Idle01_2.1152=all
B_Idle01_2.1153=all
B_Idle01_2.1154=all
B_Idle01_2.1155=all
B_Idle01_2.1156=all
B_Idle01_2.1157=all
B_Idle01_2.1158=all
B_Idle01_2.1159=all
B_Idle01_2.1160=all
B_Idle01_2.1161=all
B_Idle01_2.1162=all
B_Idle01_2.1163=all
B_Idle01_2.1164=all
B_Idle01_2.1165=all
B_Idle01_2.1166=all
B_Idle01_2.1167=all
B_Idle01_2.1168=all
B_Idle01_2.1169=all
B_Idle01_2.1170=all
B_Idle01_2.1171=all
B_Idle01_2.1172=all
B_Idle01_2.1173=all
B_Idle01_2.1174=all
B_Idle01_2.1175=all
B_Idle01_2.1176=all
B_Idle01_2.1177=all
B_Idle01_2.1178=all
B_Idle01_2.1179=all
B_Idle01_2.1180=all
B_Idle01_2.1181=all
B_Idle01_2.1182=all
B_Idle01_2.1183=all
B_Idle01_2.1184=all
B_Idle01_2.1185=all
B_Idle01_2.1186=all
B_Idle01_2.1187=all
B_Idle01_2.1188=all
B_Idle01_2.1189=all
B_Idle01_2.1190=all
B_Idle01_2.1191=all
B_Idle01_2.1192=all
B_Idle01_2.1193=all
B_Idle01_2.1194=all
B_Idle01_2.1195=all
B_Idle01_2.1196=all
B_Idle01_2.1197=all
B_Idle01_2.1198=all
B_Idle01_2.1199=all
B_Idle01_2.1200=all
B_Idle01_2.1201=all
B_Idle01_2.1202=all
B_Idle01_2.1203=all
B_Idle01_2.1204=all
B_Idle01_2.1205=all
B_Idle01_2.1206=all
B_Idle01_2.1207=all
B_Idle01_2.1208=all
B_Idle01_2.1209=all
B_Idle01_2.1210=all
B_Idle01_2.1211=all
B_Idle01_2.1212=all
B_Idle01_2.1213=all
B_Idle01_2.1214=all
B_Idle01_2.1215=all
B_Idle01_2.1216=all
B_Idle01_2.1217=all
B_Idle01_2.1218=all
B_Idle01_2.1219=all
B_Idle01_2.1220=all
B_Idle01_2.1221=all
B_Idle01_2.1222=all
B_Idle01_2.1223=all
B_Idle01_2.1224=all
B_Idle01_2.1225=all
B_Idle01_2.1226=all
B_Idle01_2.1227=all
B_Idle01_2.1228=all
B_Idle01_2.1229=all
B_Idle01_2.1230=all
B_Idle01_2.1231=all
B_Idle01_2.1232=all
B_Idle01_2.1233=all
B_Idle01_2.1234=all
B_Idle01_2.1235=all
B_Idle01_2.1236=all
B_Idle01_2.1237=all
B_Idle01_2.1238=all
B_Idle01_2.1239=all
B_Idle01_2.1240=all
B_Idle01_2.1241=all
B_Idle01_2.1242=all
B_Idle01_2.1243=all
B_Idle01_2.1244=all
B_Idle01_2.1245=all
B_Idle01_2.1246=all
B_Idle01_2.1247=all
B_Idle01_2.1248=all
B_Idle01_2.1249=all
B_Idle01_2.1250=all
B_Idle01_2.1251=all
B_Idle01_2.1252=all
B_Idle01_2.1253=all
B_Idle01_2.1254=all
B_Idle01_2.1255=all
B_Idle01_2.1256=all
B_Idle01_2.1257=all
B_Idle01_2.1258=all
B_Idle01_2.1259=all
B_Idle01_2.1260=all
B_Idle01_2.1261=all
B_Idle01_2.1262=all
B_Idle01_2.1263=all
B_Idle01_2.1264=all
B_Idle01_2.1265=all
B_Idle01_2.1266=all
B_Idle01_2.1267=all
B_Idle01_2.1268=all
B_Idle01_2.1269=all
B_Idle01_2.1270=all
B_Idle01_2.1271=all
B_Idle01_2.1272=all
B_Idle01_2.1273=all
B_Idle01_2.1274=all
B_Idle01_2.1275=all
B_Idle01_2.1276=all
B_Idle01_2.1277=all
B_Idle01_2.1278=all
B_Idle01_2.1279=all
B_Idle01_2.1280=all
B_Idle01_2.1281=all
B_Idle01_2.1282=all
B_Idle01_2.1283=all
B_Idle01_2.1284=all
B_Idle01_2.1285=all
B_Idle01_2.1286=all
B_Idle01_2.1287=all
B_Idle01_2.1288=all
B_Idle01_2.1289=all
B_Idle01_2.1290=all
B_Idle01_2.1291=all
B_Idle01_2.1292=all
B_Idle01_2.1293=all
B_Idle01_2.1294=all
B_Idle01_2.1295=all
B_Idle01_2.1296=all
B_Idle01_2.1297=all
B_Idle01_2.1298=all
B_Idle01_2.1299=all
B_Idle01_2.1300=all
B_Idle01_2.1301=all
B_Idle01_2.1302=all
B_Idle01_2.1303=all
B_Idle01_2.1304=all
B_Idle01_2.1305=all
B_Idle01_2.1306=all
B_Idle01_2.1307=all
B_Idle01_2.1308=all
B_Idle01_2.1309=all
B_Idle01_2.1310=all
B_Idle01_2.1311=all
B_Idle01_2.1312=all
B_Idle01_2.1313=all
B_Idle01_2.1314=all
B_Idle01_2.1315=all
B_Idle01_2.1316=all
B_Idle01_2.1317=all
B_Idle01_2.1318=all
B_Idle01_2.1319=all
B_Idle01_2.1320=all
B_Idle01_2.1321=all
B_Idle01_2.1322=all
B_Idle01_2.1323=all
B_Idle01_2.1324=all
B_Idle01_2.1325=all
B_Idle01_2.1326=all
B_Idle01_2.1327=all
B_Idle01_2.1328=all
B_Idle01_2.1329=all
B_Idle01_2.1330=all
B_Idle01_2.1331=all
B_Idle01_2.1332=all
B_Idle01_2.1333=all
B_Idle01_2.1334=all
B_Idle01_2.1335=all
B_Idle01_2.1336=all
B_Idle01_2.1337=all
B_Idle01_2.1338=all
B_Idle01_2.1339=all
B_Idle01_2.1340=all
B_Idle01_2.1341=all
B_Idle01_2.1342=all
B_Idle01_2.1343=all
B_Idle01_2.1344=all
B_Idle01_2.1345=all
B_Idle01_2.1346=all
B_Idle01_2.1347=all
B_Idle01_2.1348=all
B_Idle01_2.1349=all
