[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Trans
C_Hip_a
C_HipW_Spo
C_HipW_End
C_Spine_a
C_Spine_b
C_Spine_c
C_Spine_d
C_Neck1W_Spo
C_Neck1W_End
L_Shoulder_a
L_Bust_Spo
L_Bust_End
L_StdBust_Spo
L_StdBust_End
L_StdTopBelt_Spo
L_StdTopBelt_End
L_Shoulderpad_Spo
L_Shoulderpad_a
L_Shoulderpad_End
L_UpperArm_a
L_DeltoidB_Spo
L_DeltoidB_End
L_DeltoidA_Spo
L_DeltoidA_End
L_DeltoidC_Spo
L_DeltoidC_End
L_Forearm_a
L_ForearmrollC_Spo
L_ForearmrollC_End
L_Wrist_Spo
L_Wrist_End
L_ForearmrollA_Spo
L_ForearmrollA_End
L_Hand_a
L_Thumb_a
L_Thumb_b
L_Thumb_c
L_Thumb_End
L_Pinky_a
L_Pinky_b
L_Pinky_c
L_Pinky_End
L_Middle_a
L_Middle_b
L_Middle_c
L_Middle_End
L_Ring_a
L_Ring_b
L_Ring_c
L_Ring_End
L_Index_a
L_Index_b
L_Index_c
L_Index_End
L_Weapon_a
L_ForearmrollB_Spo
L_ForearmrollB_End
L_Elbow_Spo
L_Elbow_End
L_ShoulderSub_Spo
L_ShoulderSub_End
L_Turtleneck_a
L_Turtleneck_End
C_TurtleneckA_a
C_TurtleneckA_End
C_TurtleneckB_a
C_TurtleneckB_End
C_Weapon_a
C_Weapon_b
R_Shoulder_a
R_UpperArm_a
R_DeltoidA_Spo
R_DeltoidA_End
R_Elbow_Spo
R_Elbow_End
R_DeltoidC_Spo
R_DeltoidC_End
R_DeltoidB_Spo
R_DeltoidB_End
R_Forearm_a
R_ForearmrollC_Spo
R_ForearmrollC_End
R_Wrist_Spo
R_Wrist_End
R_ForearmrollA_Spo
R_ForearmrollA_End
R_Hand_a
R_Middle_a
R_Middle_b
R_Middle_c
R_Middle_End
R_Index_a
R_Index_b
R_Index_c
R_Index_End
R_Ring_a
R_Ring_b
R_Ring_c
R_Ring_End
R_Weapon_a
R_Pinky_a
R_Pinky_b
R_Pinky_c
R_Pinky_End
R_Thumb_a
R_Thumb_b
R_Thumb_c
R_Thumb_End
R_ForearmrollB_Spo
R_ForearmrollB_End
R_Bust_Spo
R_Bust_End
R_ShoulderSub_Spo
R_ShoulderSub_End
R_StdBust_Spo
R_StdBust_End
R_StdTopBelt_Spo
R_StdTopBelt_End
C_Neck_a
C_Head_a
C_FaceBase_a
R_Fold_A
R_Fold_B
L_Dcor
L_Ucorin
L_Ulip_B
L_Ulip_A
L_Glabella
R_Gonion
R_Glabella
R_Dcorin
C_Ulipout
R_Dcor
L_Dlipout_B
L_Dlipout_A
R_Ucorin
L_Ulid_D
L_Ulid_E
L_Ulid_B
L_Ulid_C
L_Ulid_A
C_Tongroot
R_Ulipin_B
R_Ulipin_A
L_Eyebag_B
L_Eyebag_A
L_Dcorin
L_Nose_B
L_Eye
R_Ucor
L_Cheek_A
C_Ulipin
R_Ulip_A
R_Ulip_B
L_Gonion
R_Eye
R_Dlipin_A
R_Dlipin_B
L_Ucor
L_Cheek_C
L_Cheek_B
C_Forehead
C_Nose_A
L_Dlipin_B
R_Ulid_A
R_Ulid_B
R_Ulid_C
R_Ulid_D
R_Ulid_E
L_Zygoma
R_Eyebag_A
R_Eyebag_B
R_Cheek_A
R_Cheek_C
R_Cheek_B
R_Brow_B
R_Brow_C
R_Brow_A
R_Dlip_B
R_Dlip_A
R_Dlid_C
R_Dlid_B
R_Dlid_A
R_Ulash_B
R_Ulash_A
C_Chin
R_Laughline_B
R_Laughline_A
R_Zygoma
L_Dlipin_A
L_Brow_A
L_Brow_B
L_Brow_C
C_Tongtip
C_Dteeth
L_Nose_A
R_Nose_A
R_Nose_B
R_Forehead
C_Dlipout
L_Fold_B
L_Fold_A
L_Dlid_A
L_Dlid_C
L_Dlid_B
C_Dlip
L_Laughline_A
L_Laughline_B
R_Dlipout_A
R_Dlipout_B
C_Dlipin
C_Ex_B
C_Throat_A
C_Uteeth
L_Ulash_A
L_Ulash_B
L_Forehead
L_Ulipin_A
L_Ulipin_B
C_Ulip
C_Glabella
C_Ex_A
L_Dlip_A
L_Dlip_B
C_HairBase_a
L_HairD_a_Phy
L_HairD_b_Phy
L_HairD_c_Phy
C_HairFH_a_Phy
C_HairFH_b_Phy
C_HairFH_c_Phy
C_HairBG_a_Phy
C_HairBG_b_Phy
R_HairF_a_Phy
R_HairF_b_Phy
R_HairF_c_Phy
R_HairI_a_Phy
R_HairI_b_Phy
C_HairBD_a_Phy
C_HairBD_b_Phy
L_HairA_a_Phy
L_HairA_b_Phy
L_HairA_c_Phy
L_HairA_d_Phy
L_HairA_e_Phy
L_HairA_f_Phy
L_HairG_a_Phy
L_HairG_b_Phy
L_HairG_c_Phy
R_HairA_a_Phy
R_HairA_b_Phy
R_HairA_c_Phy
C_HairFF_a_Phy
C_HairFF_b_Phy
C_HairFF_c_Phy
L_HairE_a_Phy
L_HairE_b_Phy
C_HairFN_a_Phy
C_HairFN_b_Phy
C_HairFN_c_Phy
C_HairFM_a_Phy
C_HairFM_b_Phy
C_HairFM_c_Phy
R_HairE_a_Phy
R_HairE_b_Phy
R_HairE_c_Phy
R_HairJ_a_Phy
R_HairJ_b_Phy
R_HairJ_c_Phy
C_HairBB_a_Phy
C_HairBB_b_Phy
C_HairBF_a_Phy
C_HairBF_b_Phy
C_HairBA_a_Phy
C_HairBA_b_Phy
L_HairC_a_Phy
L_HairC_b_Phy
R_HairH_a_Phy
R_HairH_b_Phy
R_HairH_c_Phy
C_HairFI_a_Phy
C_HairFI_b_Phy
C_HairFI_c_Phy
C_HairFI_d_Phy
C_HairFK_a_Phy
C_HairFK_b_Phy
C_HairFK_c_Phy
C_HairFG_a_Phy
C_HairFG_b_Phy
C_HairFG_c_Phy
C_HairFE_a_Phy
C_HairFE_b_Phy
C_HairFE_c_Phy
C_HairFE_d_Phy
C_HairBE_a_Phy
C_HairBE_b_Phy
C_HairFB_a_Phy
C_HairFB_b_Phy
C_HairFB_c_Phy
C_HairFB_d_Phy
C_HairFB_e_Phy
C_HairFQ_a_Phy
C_HairFQ_b_Phy
L_HairF_a_Phy
L_HairF_b_Phy
L_HairF_c_Phy
C_HairFO_a_Phy
C_HairFO_b_Phy
C_HairFO_c_Phy
C_HairBC_a_Phy
C_HairBC_b_Phy
C_HairBH_a_Phy
C_HairBH_b_Phy
R_HairC_a_Phy
R_HairC_b_Phy
R_HairC_c_Phy
C_HairFP_a_Phy
C_HairFP_b_Phy
C_HairFP_c_Phy
C_HairFA_a_Phy
C_HairFA_b_Phy
C_HairFA_c_Phy
C_HairFA_d_Phy
C_HairFD_a_Phy
C_HairFD_b_Phy
C_HairFD_c_Phy
C_HairFD_d_Phy
C_HairFD_e_Phy
C_HairBI_a_Phy
C_HairBI_b_Phy
C_HairBJ_Spo
C_HairBL_a_Phy
C_HairBL_b_Phy
C_HairBK_a_Phy
C_HairBK_b_Phy
C_HairBJ_a_Phy
C_HairBJ_b_Phy
C_HairFC_a_Phy
C_HairFC_b_Phy
C_HairFC_c_Phy
C_HairFJ_a_Phy
C_HairFJ_b_Phy
C_HairFJ_c_Phy
R_HairD_a_Phy
R_HairD_b_Phy
R_HairD_c_Phy
L_HairB_a_Phy
L_HairB_b_Phy
L_HairB_c_Phy
C_HairFL_a_Phy
C_HairFL_b_Phy
C_HairFL_c_Phy
R_HairG_a_Phy
R_HairG_b_Phy
R_HairG_c_Phy
R_HairB_a_Phy
R_HairB_b_Phy
R_HairB_c_Phy
C_FaceBase_b
C_Throat_B
R_Turtleneck_a
R_Turtleneck_End
L_UpperLeg_a
L_StdFemorisB_Spo
L_StduPantsE_Spo
L_StduPantsE_a_Phy
L_StduPantsE_b_Phy
L_StdFemorisB_End
L_StduPantsB_Spo
L_StduPantsB_a_Phy
L_StduPantsB_b_Phy
L_StduPantsD_Spo
L_StduPantsD_a_Phy
L_StduPantsD_b_Phy
L_StduPantsH_Spo
L_StduPantsH_a_Phy
L_StduPantsH_b_Phy
L_StduPantsF_Spo
L_StduPantsF_a_Phy
L_StduPantsF_b_Phy
L_StduPantsA_Spo
L_StduPantsA_a_Phy
L_StduPantsA_b_Phy
L_Knee_Spo
L_Knee_End
L_StdFemorisC_Spo
L_StduPantsC_Spo
L_StduPantsC_a_Phy
L_StduPantsC_b_Phy
L_StdFemorisC_End
L_StduPantsG_Spo
L_StduPantsG_a_Phy
L_StduPantsG_b_Phy
L_FemorisB_Spo
L_FemorisB_End
L_FemorisA_Spo
L_FemorisA_End
L_Foreleg_a
L_CalfF_Spo
L_CalfF_End
L_CalfB_Spo
L_CalfB_End
L_Foot_a
L_Toe_a
L_Toe_End
L_StdCalfB_Spo
L_StdbPantsG_Spo
L_StdbPantsG_a_Phy
L_StdbPantsG_b_Phy
L_StdCalfB_End
L_StdbPantsC_Spo
L_StdbPantsC_a_Phy
L_StdbPantsC_b_Phy
L_StdCalfF_Spo
L_StdCalfF_End
L_StdbPantsD_Spo
L_StdbPantsD_a_Phy
L_StdbPantsD_b_Phy
L_StdbPantsH_Spo
L_StdbPantsH_a_Phy
L_StdbPantsH_b_Phy
L_StdbPantsB_Spo
L_StdbPantsB_a_Phy
L_StdbPantsB_b_Phy
L_StdbPantsA_Spo
L_StdbPantsA_a_Phy
L_StdbPantsA_b_Phy
L_StdbPantsE_Spo
L_StdbPantsE_a_Phy
L_StdbPantsE_b_Phy
L_StdbPantsF_Spo
L_StdbPantsF_a_Phy
L_StdbPantsF_b_Phy
L_FemorisC_Spo
L_FemorisC_End
R_UpperLeg_a
R_Foreleg_a
R_Foot_a
R_Toe_a
R_Toe_End
R_StdCalfF_Spo
R_StdbPantsA_Spo
R_StdbPantsA_a_Phy
R_StdbPantsA_b_Phy
R_StdbPantsH_Spo
R_StdbPantsH_a_Phy
R_StdbPantsH_b_Phy
R_StdbPantsE_Spo
R_StdbPantsE_a_Phy
R_StdbPantsE_b_Phy
R_StdbPantsF_Spo
R_StdbPantsF_a_Phy
R_StdbPantsF_b_Phy
R_StdbPantsB_Spo
R_StdbPantsB_a_Phy
R_StdbPantsB_b_Phy
R_StdCalfF_End
R_StdbPantsD_Spo
R_StdbPantsD_a_Phy
R_StdbPantsD_b_Phy
R_CalfF_Spo
R_CalfF_End
R_CalfB_Spo
R_CalfB_End
R_StdCalfB_Spo
R_StdbPantsC_Spo
R_bPantsC_a_Phy
R_bPantsC_b_Phy
R_StdbPantsG_Spo
R_bPantsG_a_Phy
R_bPantsG_b_Phy
R_StdCalfB_End
R_FemorisB_Spo
R_FemorisB_End
R_StdFemorisB_Spo
R_StduPantsA_Spo
R_StduPantsA_a_Phy
R_StduPantsA_b_Phy
R_StduPantsE_Spo
R_StduPantsE_a_Phy
R_StduPantsE_b_Phy
R_StdFemorisB_End
R_StduPantsF_Spo
R_StduPantsF_a_Phy
R_StduPantsF_b_Phy
R_StduPantsD_Spo
R_StduPantsD_a_Phy
R_StduPantsD_b_Phy
R_StduPantsH_Spo
R_StduPantsH_a_Phy
R_StduPantsH_b_Phy
R_StduPantsB_Spo
R_StduPantsB_a_Phy
R_StduPantsB_b_Phy
R_StdFemorisC_Spo
R_StdFemorisC_End
R_StduPantsG_Spo
R_StduPantsG_a_Phy
R_StduPantsG_b_Phy
R_StduPantsC_Spo
R_StduPantsC_a_Phy
R_StduPantsC_b_Phy
R_FemorisA_Spo
R_FemorisA_End
R_FemorisC_Spo
R_FemorisC_End
R_Knee_Spo
R_Knee_End
R_Hip_Spo
R_Hip_End
L_Hip_Spo
L_Hip_End
C_Spine1W_Spo
C_Spine1W_End
C_CharaA_a
C_KDIRoot
C_HipWOsKdi
C_HipWPosAKdi
C_HipWPosBKdi
C_HipWPosCKdi
C_HChestKdi
C_HipWRotAKdi
C_HipWRotBKdi
L_TopBeltOsKdi
L_TopBeltRotAKdi
L_TopBeltRotBKdi
R_TopBeltOsKdi
R_TopBeltRotAKdi
R_TopBeltRotBKdi
C_TurtleneckOsKdi
C_JawBendTKdi
C_JawRollKdi
C_TurtleneckPosKdi
L_JawBendDistPosKdi
R_JawBendDistPosKdi
C_TurtleneckRotLKdi
C_TurtleneckRotRKdi
R_TurtleneckRotAKdi
R_TurtleneckRotBKdi
L_TurtleneckRotAKdi
L_TurtleneckRotBKdi
C_JawTipPosKdi
L_FlowerOsKdi
L_FlowerPosKdi
R_WirePosKdi
L_WirePosKdi
C_PoorBackHipRibbonRoot_Spo
L_PoorBackHipRibbonB_Spo
L_PoorBackHipRibbonB_a_Phy
L_PoorBackHipRibbonB_b_Phy
L_PoorBackHipRibbonB_c_Phy
R_PoorBackHipRibbonB_Spo
R_PoorBackHipRibbonB_a_Phy
R_PoorBackHipRibbonB_b_Phy
R_PoorBackHipRibbonB_c_Phy
C_PoorBackHipRibbonRoot_End
L_PoorBackHipRibbonA_Spo
L_PoorBackHipRibbonA_a_Phy
L_PoorBackHipRibbonA_b_Phy
R_PoorBackHipRibbonA_Spo
R_PoorBackHipRibbonA_a_Phy
R_PoorBackHipRibbonA_b_Phy
L_PoorSkirtB_Spo
L_PoorSkirtB_a_Phy
L_PoorSkirtB_b_Phy
L_PoorSkirtB_c_Phy
L_PoorSkirtB_d_Phy
L_PoorSkirtB_e_Phy
L_PoorSkirtB_f_Phy
R_PoorCollarB_Spo
R_PoorCollarB_a_Phy
R_PoorCollarB_b_Phy
L_PoorFrillB_Spo
L_PoorFrillB_a_Phy
L_PoorFrillB_b_Phy
L_PoorFrillB_c_Phy
L_PoorFrillF_Spo
L_PoorFrillF_a_Phy
L_PoorFrillF_b_Phy
L_PoorFrillF_c_Phy
L_PoorFrillD_Spo
L_PoorFrillD_a_Phy
L_PoorFrillD_b_Phy
L_PoorFrillD_c_Phy
L_PoorFrillC_Spo
L_PoorFrillC_a_Phy
L_PoorFrillC_b_Phy
L_PoorFrillC_c_Phy
L_PoorFrillA_Spo
L_PoorFrillA_a_Phy
L_PoorFrillA_b_Phy
L_PoorFrillA_c_Phy
L_PoorFrillE_Spo
L_PoorFrillE_a_Phy
L_PoorFrillE_b_Phy
L_PoorFrillE_c_Phy
L_PoorCollarC_Spo
L_PoorCollarC_a_Phy
L_PoorCollarC_b_Phy
R_PoorFrillA_Spo
R_PoorFrillA_a_Phy
R_PoorFrillA_b_Phy
R_PoorFrillA_c_Phy
R_PoorFrillE_Spo
R_PoorFrillE_a_Phy
R_PoorFrillE_b_Phy
R_PoorFrillE_c_Phy
R_PoorFrillB_Spo
R_PoorFrillB_a_Phy
R_PoorFrillB_b_Phy
R_PoorFrillB_c_Phy
R_PoorFrillC_Spo
R_PoorFrillC_a_Phy
R_PoorFrillC_b_Phy
R_PoorFrillC_c_Phy
R_PoorFrillD_Spo
R_PoorFrillD_a_Phy
R_PoorFrillD_b_Phy
R_PoorFrillD_c_Phy
R_PoorFrillF_Spo
R_PoorFrillF_a_Phy
R_PoorFrillF_b_Phy
R_PoorFrillF_c_Phy
L_HairPigtail_Spo
L_HairPigtail_a_Phy
L_HairPigtail_b_Phy
L_HairPigtail_c_Phy
L_HairPigtail_d_Phy
L_HairPigtail_e_Phy
L_HairPigtail_f_Phy
R_HairPigtail_Spo
R_HairPigtail_a_Phy
R_HairPigtail_b_Phy
R_HairPigtail_c_Phy
R_HairPigtail_d_Phy
R_HairPigtail_e_Phy
R_HairPigtail_f_Phy
R_PoorCollarC_Spo
R_PoorCollarC_a_Phy
R_PoorCollarC_b_Phy
R_PoorCollarA_Spo
R_PoorCollarA_a_Phy
R_PoorCollarA_b_Phy
C_PoorCollarA_Spo
C_PoorCollarA_a_Phy
C_PoorCollarA_b_Phy
L_PoorCollarA_Spo
L_PoorCollarA_a_Phy
L_PoorCollarA_b_Phy
L_PoorCollarB_Spo
L_PoorCollarB_a_Phy
L_PoorCollarB_b_Phy
C_PoorFrontWaistRibbonRoot_Spo
L_PoorFrontWaistRibbonB_Spo
L_PoorFrontWaistRibbonB_a_Phy
L_PoorFrontWaistRibbonB_b_Phy
L_PoorFrontWaistRibbonA_Spo
L_PoorFrontWaistRibbonA_a_Phy
L_PoorFrontWaistRibbonA_b_Phy
C_PoorFrontWaistRibbonRoot_End
R_PoorFrontWaistRibbonB_Spo
R_PoorFrontWaistRibbonB_a_Phy
R_PoorFrontWaistRibbonB_b_Phy
R_PoorFrontWaistRibbonA_Spo
R_PoorFrontWaistRibbonA_a_Phy
R_PoorFrontWaistRibbonA_b_Phy
L_PoorSkirtA_Spo
L_PoorSkirtA_a_Phy
L_PoorSkirtA_b_Phy
L_PoorSkirtA_c_Phy
L_PoorSkirtA_d_Phy
L_PoorSkirtA_e_Phy
L_PoorSkirtA_f_Phy
C_PoorSkirtA_Spo
C_PoorSkirtA_a_Phy
C_PoorSkirtA_b_Phy
C_PoorSkirtA_c_Phy
C_PoorSkirtA_d_Phy
C_PoorSkirtA_e_Phy
C_PoorSkirtA_f_Phy
R_PoorSkirtB_Spo
R_PoorSkirtB_a_Phy
R_PoorSkirtB_b_Phy
R_PoorSkirtB_c_Phy
R_PoorSkirtB_d_Phy
R_PoorSkirtB_e_Phy
R_PoorSkirtB_f_Phy
R_PoorSkirtA_Spo
R_PoorSkirtA_a_Phy
R_PoorSkirtA_b_Phy
R_PoorSkirtA_c_Phy
R_PoorSkirtA_d_Phy
R_PoorSkirtA_e_Phy
R_PoorSkirtA_f_Phy
L_PoorSkirtC_Spo
L_PoorSkirtC_a_Phy
L_PoorSkirtC_b_Phy
L_PoorSkirtC_c_Phy
L_PoorSkirtC_d_Phy
L_PoorSkirtC_e_Phy
L_PoorSkirtC_f_Phy
R_PoorSkirtC_Spo
R_PoorSkirtC_a_Phy
R_PoorSkirtC_b_Phy
R_PoorSkirtC_c_Phy
R_PoorSkirtC_d_Phy
R_PoorSkirtC_e_Phy
R_PoorSkirtC_f_Phy
C_PoorSkirtB_Spo
C_PoorSkirtB_a_Phy
C_PoorSkirtB_b_Phy
C_PoorSkirtB_c_Phy
C_PoorSkirtB_d_Phy
C_PoorSkirtB_e_Phy
C_PoorSkirtB_f_Phy
C_DrsHipWOsKdi
C_DrsSkirtALLegBendKdi
C_DrsSkirtALRLegBendKdi
C_DrsSkirtARLegBendKdi
R_DrsSkirtColUpperLegKdi
R_DrsSkirtColForelegKdi
L_DrsSkirtColUpperLegKdi
L_DrsSkirtColForelegKdi
L_OrdFrontHipRibbon_Spo
L_OrdFrontHipRibbon_a_Phy
L_OrdFrontHipRibbon_b_Phy
C_OrdSkirtB_Spo
C_OrdSkirtB_a_Phy
C_OrdSkirtB_b_Phy
C_OrdSkirtB_c_Phy
C_OrdSkirtB_d_Phy
C_OrdSkirtB_e_Phy
C_OrdSkirtB_f_Phy
C_OrdSkirtB_g_Phy
R_OrdSkirtA_Spo
R_OrdSkirtA_a_Phy
R_OrdSkirtA_b_Phy
R_OrdSkirtA_c_Phy
R_OrdSkirtA_d_Phy
R_OrdSkirtA_e_Phy
R_OrdSkirtA_f_Phy
R_OrdSkirtA_g_Phy
R_OrdSkirtC_Spo
R_OrdSkirtC_a_Phy
R_OrdSkirtC_b_Phy
R_OrdSkirtC_c_Phy
R_OrdSkirtC_d_Phy
R_OrdSkirtC_e_Phy
R_OrdSkirtC_f_Phy
R_OrdSkirtC_g_Phy
L_OrdSkirtC_Spo
L_OrdSkirtC_a_Phy
L_OrdSkirtC_b_Phy
L_OrdSkirtC_c_Phy
L_OrdSkirtC_d_Phy
L_OrdSkirtC_e_Phy
L_OrdSkirtC_f_Phy
L_OrdSkirtC_g_Phy
L_OrdHandFrillF_Spo
L_OrdHandFrillF_a_Phy
L_OrdHandFrillF_b_Phy
L_OrdHandFrillD_Spo
L_OrdHandFrillD_a_Phy
L_OrdHandFrillD_b_Phy
L_OrdHandFrillB_Spo
L_OrdHandFrillB_a_Phy
L_OrdHandFrillB_b_Phy
L_OrdHandFrillC_Spo
L_OrdHandFrillC_a_Phy
L_OrdHandFrillC_b_Phy
L_OrdHandFrillE_Spo
L_OrdHandFrillE_a_Phy
L_OrdHandFrillE_b_Phy
L_OrdHandFrillA_Spo
L_OrdHandFrillA_a_Phy
L_OrdHandFrillA_b_Phy
L_OrdArmFrillRoot_Spo
L_OrdArmFrillB_Spo
L_OrdArmFrillB_a_Phy
L_OrdArmFrillB_b_Phy
L_OrdArmFrillD_Spo
L_OrdArmFrillD_a_Phy
L_OrdArmFrillD_b_Phy
L_OrdArmFrillRoot_End
L_OrdArmFrillC_Spo
L_OrdArmFrillC_a_Phy
L_OrdArmFrillC_b_Phy
L_OrdArmFrillA_Spo
L_OrdArmFrillA_a_Phy
L_OrdArmFrillA_b_Phy
R_OrdHandFrillF_Spo
R_OrdHandFrillF_a_Phy
R_OrdHandFrillF_b_Phy
R_OrdHandFrillB_Spo
R_OrdHandFrillB_a_Phy
R_OrdHandFrillB_b_Phy
R_OrdHandFrillA_Spo
R_OrdHandFrillA_a_Phy
R_OrdHandFrillA_b_Phy
R_OrdHandFrillE_Spo
R_OrdHandFrillE_a_Phy
R_OrdHandFrillE_b_Phy
R_OrdHandFrillD_Spo
R_OrdHandFrillD_a_Phy
R_OrdHandFrillD_b_Phy
R_OrdHandFrillC_Spo
R_OrdHandFrillC_a_Phy
R_OrdHandFrillC_b_Phy
R_OrdArmFrillRoot_Spo
R_OrdArmFrillB_Spo
R_OrdArmFrillB_a_Phy
R_OrdArmFrillB_b_Phy
R_OrdArmFrillRoot_End
R_OrdArmFrillC_Spo
R_OrdArmFrillC_a_Phy
R_OrdArmFrillC_b_Phy
R_OrdArmFrillD_Spo
R_OrdArmFrillD_a_Phy
R_OrdArmFrillD_b_Phy
R_OrdArmFrillA_Spo
R_OrdArmFrillA_a_Phy
R_OrdArmFrillA_b_Phy
C_OrdCollarRoot_Spo
R_OrdCollarB_Spo
R_OrdCollarB_a_Phy
R_OrdCollarB_b_Phy
R_OrdCollarA_Spo
R_OrdCollarA_a_Phy
R_OrdCollarA_b_Phy
L_OrdCollarA_Spo
L_OrdCollarA_a_Phy
L_OrdCollarA_b_Phy
L_OrdCollarC_Spo
L_OrdCollarC_a_Phy
L_OrdCollarC_b_Phy
C_OrdCollarA_Spo
C_OrdCollarA_a_Phy
C_OrdCollarA_b_Phy
R_OrdCollarC_Spo
R_OrdCollarC_a_Phy
R_OrdCollarC_b_Phy
C_OrdCollarRoot_End
L_OrdCollarB_Spo
L_OrdCollarB_a_Phy
L_OrdCollarB_b_Phy
C_Pendant_Spo
C_Pendant_a_Phy
C_Pendant_b_Phy
C_Pendant_c_Phy
R_OrdSkirtB_Spo
R_OrdSkirtB_a_Phy
R_OrdSkirtB_b_Phy
R_OrdSkirtB_c_Phy
R_OrdSkirtB_d_Phy
R_OrdSkirtB_e_Phy
R_OrdSkirtB_f_Phy
R_OrdSkirtB_g_Phy
C_OrdSkirtA_Spo
C_OrdSkirtA_a_Phy
C_OrdSkirtA_b_Phy
C_OrdSkirtA_c_Phy
C_OrdSkirtA_d_Phy
C_OrdSkirtA_e_Phy
C_OrdSkirtA_f_Phy
C_OrdSkirtA_g_Phy
L_OrdSkirtB_Spo
L_OrdSkirtB_a_Phy
L_OrdSkirtB_b_Phy
L_OrdSkirtB_c_Phy
L_OrdSkirtB_d_Phy
L_OrdSkirtB_e_Phy
L_OrdSkirtB_f_Phy
L_OrdSkirtB_g_Phy
R_OrdFrontHipRibbon_Spo
R_OrdFrontHipRibbon_a_Phy
R_OrdFrontHipRibbon_b_Phy
C_OrdBackHipRibbonRoot_Spo
C_OrdBackHipRibbonRoot_End
R_OrdBackHipRibbon_Spo
R_OrdBackHipRibbon_a_Phy
R_OrdBackHipRibbon_b_Phy
R_OrdBackHipRibbon_c_Phy
R_OrdBackHipRibbon_d_Phy
L_OrdBackHipRibbon_Spo
L_OrdBackHipRibbon_a_Phy
L_OrdBackHipRibbon_b_Phy
L_OrdBackHipRibbon_c_Phy
L_OrdBackHipRibbon_d_Phy
L_OrdSkirtA_Spo
L_OrdSkirtA_a_Phy
L_OrdSkirtA_b_Phy
L_OrdSkirtA_c_Phy
L_OrdSkirtA_d_Phy
L_OrdSkirtA_e_Phy
L_OrdSkirtA_f_Phy
L_OrdSkirtA_g_Phy
L_OrdFrontHipRibbonAttKdi
L_OrdFrontHipRibbonPosRotKdi
R_OrdFrontHipRibbonAttKdi
R_OrdFrontHipRibbonPosRotKdi
L_GrgSkirtB_Spo
L_GrgSkirtB_a_Phy
L_GrgSkirtB_b_Phy
L_GrgSkirtB_c_Phy
L_GrgSkirtB_d_Phy
L_GrgSkirtB_e_Phy
L_GrgSkirtB_f_Phy
L_GrgSkirtB_g_Phy
R_GrgSkirtB_Spo
R_GrgSkirtB_a_Phy
R_GrgSkirtB_b_Phy
R_GrgSkirtB_c_Phy
R_GrgSkirtB_d_Phy
R_GrgSkirtB_e_Phy
R_GrgSkirtB_f_Phy
R_GrgSkirtB_g_Phy
L_GrgFrontHipRibbonRoot_Spo
L_GrgFrontHipRibbonRoot_End
L_GrgFrontHipRibbonB_a_Phy
L_GrgFrontHipRibbonB_b_Phy
L_GrgFrontHipRibbonA_a_Phy
L_GrgFrontHipRibbonA_b_Phy
R_GrgFrontHipRibbonRoot_Spo
R_GrgFrontHipRibbonRoot_End
R_GrgFrontHipRibbonB_a_Phy
R_GrgFrontHipRibbonB_b_Phy
R_GrgFrontHipRibbonA_a_Phy
R_GrgFrontHipRibbonA_b_Phy
L_GrgBustFrillB_Spo
L_GrgBustFrillB_a_Phy
L_GrgBustFrillB_b_Phy
R_GrgBustFrillG_Spo
R_GrgBustFrillG_a_Phy
R_GrgBustFrillG_b_Phy
C_GrgBustFrillA_Spo
C_GrgBustFrillA_a_Phy
C_GrgBustFrillA_b_Phy
C_GrgBustFrillA_c_Phy
R_GrgArmFrillC_Spo
R_GrgArmFrillC_a_Phy
R_GrgArmFrillC_b_Phy
R_GrgArmFrillC_c_Phy
R_GrgElbowFrillE_Spo
R_GrgElbowFrillE_a_Phy
R_GrgElbowFrillE_b_Phy
R_GrgElbowFrillD_Spo
R_GrgElbowFrillD_a_Phy
R_GrgElbowFrillD_b_Phy
R_GrgElbowFrillF_Spo
R_GrgElbowFrillF_a_Phy
R_GrgElbowFrillF_b_Phy
R_GrgArmRibbonRoot_Spo
R_GrgArmRibbonC_Spo
R_GrgArmRibbonC_a_Phy
R_GrgArmRibbonC_b_Phy
R_GrgArmRibbonC_c_Phy
R_GrgArmRibbonRoot_End
R_GrgArmRibbonD_Spo
R_GrgArmRibbonD_a_Phy
R_GrgArmRibbonD_b_Phy
R_GrgArmRibbonD_c_Phy
R_GrgArmRibbonB_Spo
R_GrgArmRibbonB_a_Phy
R_GrgArmRibbonB_b_Phy
R_GrgArmRibbonA_Spo
R_GrgArmRibbonA_a_Phy
R_GrgArmRibbonA_b_Phy
R_GrgArmFrillE_Spo
R_GrgArmFrillE_a_Phy
R_GrgArmFrillE_b_Phy
R_GrgArmFrillE_c_Phy
R_GrgArmFrillB_Spo
R_GrgArmFrillB_a_Phy
R_GrgArmFrillB_b_Phy
R_GrgArmFrillB_c_Phy
R_GrgElbowFrillB_Spo
R_GrgElbowFrillB_a_Phy
R_GrgElbowFrillB_b_Phy
R_GrgArmFrillA_Spo
R_GrgArmFrillA_a_Phy
R_GrgArmFrillA_b_Phy
R_GrgArmFrillA_c_Phy
R_GrgHemFrillA_Spo
R_GrgHemFrillA_a_Phy
R_GrgHemFrillA_b_Phy
R_GrgHemFrillA_c_Phy
R_GrgHemFrillD_Spo
R_GrgHemFrillD_a_Phy
R_GrgHemFrillD_b_Phy
R_GrgHemFrillD_c_Phy
R_GrgHemFrillE_Spo
R_GrgHemFrillE_a_Phy
R_GrgHemFrillE_b_Phy
R_GrgHemFrillE_c_Phy
R_GrgHemFrillC_Spo
R_GrgHemFrillC_a_Phy
R_GrgHemFrillC_b_Phy
R_GrgHemFrillC_c_Phy
R_GrgHemFrillF_Spo
R_GrgHemFrillF_a_Phy
R_GrgHemFrillF_b_Phy
R_GrgHemFrillF_c_Phy
R_GrgHemFrillB_Spo
R_GrgHemFrillB_a_Phy
R_GrgHemFrillB_b_Phy
R_GrgHemFrillB_c_Phy
R_GrgArmFrillD_Spo
R_GrgArmFrillD_a_Phy
R_GrgArmFrillD_b_Phy
R_GrgArmFrillD_c_Phy
R_GrgElbowFrillA_Spo
R_GrgElbowFrillA_a_Phy
R_GrgElbowFrillA_b_Phy
R_GrgElbowFrillC_Spo
R_GrgElbowFrillC_a_Phy
R_GrgElbowFrillC_b_Phy
R_GrgArmFrillF_Spo
R_GrgArmFrillF_a_Phy
R_GrgArmFrillF_b_Phy
R_GrgArmFrillF_c_Phy
R_GrgBustFrillD_Spo
R_GrgBustFrillD_a_Phy
R_GrgBustFrillD_b_Phy
R_GrgBustFrillE_Spo
R_GrgBustFrillE_a_Phy
R_GrgBustFrillE_b_Phy
R_GrgBustFrillC_Spo
R_GrgBustFrillC_a_Phy
R_GrgBustFrillC_b_Phy
R_GrgBustFrillF_Spo
R_GrgBustFrillF_a_Phy
R_GrgBustFrillF_b_Phy
L_GrgBustFrillA_Spo
L_GrgBustFrillA_a_Phy
L_GrgBustFrillA_b_Phy
C_GrgPendantRootA_Spo
C_GrgPendantRootB_Spo
C_GrgPendant_a_Phy
C_GrgPendant_b_Phy
C_GrgPendant_c_Phy
C_GrgPendant_d_Phy
R_GrgHairL_Spo
R_GrgHairL_a_Phy
R_GrgHairL_b_Phy
R_GrgHairL_c_Phy
R_GrgHairL_d_Phy
R_GrgHairL_e_Phy
R_GrgHairL_f_Phy
L_GrgHairO_Spo
L_GrgHairO_a_Phy
L_GrgHairO_b_Phy
L_GrgHairO_c_Phy
L_GrgHairQ_a_Phy
L_GrgHairQ_b_Phy
L_GrgHairQ_c_Phy
L_GrgHairQ_d_Phy
L_GrgHairO_d_Phy
L_GrgHairO_e_Phy
L_GrgHairO_f_Phy
L_GrgHairO_g_Phy
L_GrgHairP_a_Phy
L_GrgHairP_b_Phy
L_GrgHairP_c_Phy
L_GrgHairP_d_Phy
L_GrgHairP_e_Phy
R_GrgHairN_Spo
R_GrgHairN_a_Phy
R_GrgHairN_b_Phy
R_GrgHairN_c_Phy
R_GrgHairN_e_Phy
R_GrgHairN_f_Phy
R_GrgHairN_g_Phy
L_GrgHairM_Spo
L_GrgHairM_a_Phy
L_GrgHairM_b_Phy
L_GrgHairM_c_Phy
L_GrgHairM_d_Phy
L_GrgHairM_e_Phy
L_GrgHairM_f_Phy
R_GrgHairM_Spo
R_GrgHairM_a_Phy
R_GrgHairM_b_Phy
R_GrgHairM_c_Phy
R_GrgHairM_d_Phy
R_GrgHairM_e_Phy
R_GrgHairM_f_Phy
C_GrgHairB_Spo
C_GrgHairB_a_Phy
C_GrgHairB_b_Phy
C_GrgHairB_c_Phy
C_GrgHairB_d_Phy
C_GrgHairB_e_Phy
C_GrgHairB_f_Phy
L_GrgHairK_Spo
L_GrgHairK_a_Phy
L_GrgHairK_b_Phy
L_GrgHairK_c_Phy
L_GrgHairK_d_Phy
L_GrgHairN_Spo
L_GrgHairN_a_Phy
L_GrgHairN_b_Phy
L_GrgHairN_c_Phy
L_GrgHairN_e_Phy
L_GrgHairN_f_Phy
L_GrgHairN_g_Phy
L_GrgHairL_Spo
L_GrgHairL_a_Phy
L_GrgHairL_b_Phy
L_GrgHairL_c_Phy
L_GrgHairL_d_Phy
L_GrgHairL_e_Phy
L_GrgHairL_f_Phy
R_GrgHairO_Spo
R_GrgHairO_a_Phy
R_GrgHairO_b_Phy
R_GrgHairO_c_Phy
R_GrgHairP_a_Phy
R_GrgHairP_b_Phy
R_GrgHairP_c_Phy
R_GrgHairP_d_Phy
R_GrgHairP_e_Phy
R_GrgHairQ_a_Phy
R_GrgHairQ_b_Phy
R_GrgHairQ_c_Phy
R_GrgHairQ_d_Phy
R_GrgHairO_d_Phy
R_GrgHairO_e_Phy
R_GrgHairO_f_Phy
R_GrgHairO_g_Phy
R_GrgHairK_Spo
R_GrgHairK_a_Phy
R_GrgHairK_b_Phy
R_GrgHairK_c_Phy
R_GrgHairK_d_Phy
C_GrgHairA_Spo
C_GrgHairA_a_Phy
C_GrgHairA_b_Phy
C_GrgHairA_c_Phy
C_GrgHairA_d_Phy
C_GrgHairA_e_Phy
C_GrgHairA_f_Phy
R_GrgBustFrillB_Spo
R_GrgBustFrillB_a_Phy
R_GrgBustFrillB_b_Phy
R_GrgBustFrillH_Spo
R_GrgBustFrillH_a_Phy
R_GrgBustFrillH_b_Phy
L_GrgBustFrillG_Spo
L_GrgBustFrillG_a_Phy
L_GrgBustFrillG_b_Phy
L_GrgBustFrillH_Spo
L_GrgBustFrillH_a_Phy
L_GrgBustFrillH_b_Phy
R_GrgBustFrillA_Spo
R_GrgBustFrillA_a_Phy
R_GrgBustFrillA_b_Phy
L_GrgBustFrillE_Spo
L_GrgBustFrillE_a_Phy
L_GrgBustFrillE_b_Phy
L_GrgBustFrillF_Spo
L_GrgBustFrillF_a_Phy
L_GrgBustFrillF_b_Phy
L_GrgBustFrillC_Spo
L_GrgBustFrillC_a_Phy
L_GrgBustFrillC_b_Phy
L_GrgBustFrillD_Spo
L_GrgBustFrillD_a_Phy
L_GrgBustFrillD_b_Phy
L_GrgElbowFrillB_Spo
L_GrgElbowFrillB_a_Phy
L_GrgElbowFrillB_b_Phy
L_GrgArmRibbonRoot_Spo
L_GrgArmRibbonA_Spo
L_GrgArmRibbonA_a_Phy
L_GrgArmRibbonA_b_Phy
L_GrgArmRibbonRoot_End
L_GrgArmRibbonC_Spo
L_GrgArmRibbonC_a_Phy
L_GrgArmRibbonC_b_Phy
L_GrgArmRibbonC_c_Phy
L_GrgArmRibbonB_Spo
L_GrgArmRibbonB_a_Phy
L_GrgArmRibbonB_b_Phy
L_GrgArmRibbonD_Spo
L_GrgArmRibbonD_a_Phy
L_GrgArmRibbonD_b_Phy
L_GrgArmRibbonD_c_Phy
L_GrgElbowFrillC_Spo
L_GrgElbowFrillC_a_Phy
L_GrgElbowFrillC_b_Phy
L_GrgArmFrillF_Spo
L_GrgArmFrillF_a_Phy
L_GrgArmFrillF_b_Phy
L_GrgArmFrillF_c_Phy
L_GrgHemFrillE_Spo
L_GrgHemFrillE_a_Phy
L_GrgHemFrillE_b_Phy
L_GrgHemFrillE_c_Phy
L_GrgHemFrillF_Spo
L_GrgHemFrillF_a_Phy
L_GrgHemFrillF_b_Phy
L_GrgHemFrillF_c_Phy
L_GrgHemFrillC_Spo
L_GrgHemFrillC_a_Phy
L_GrgHemFrillC_b_Phy
L_GrgHemFrillC_c_Phy
L_GrgHemFrillD_Spo
L_GrgHemFrillD_a_Phy
L_GrgHemFrillD_b_Phy
L_GrgHemFrillD_c_Phy
L_GrgHemFrillB_Spo
L_GrgHemFrillB_a_Phy
L_GrgHemFrillB_b_Phy
L_GrgHemFrillB_c_Phy
L_GrgHemFrillA_Spo
L_GrgHemFrillA_a_Phy
L_GrgHemFrillA_b_Phy
L_GrgHemFrillA_c_Phy
L_GrgElbowFrillF_Spo
L_GrgElbowFrillF_a_Phy
L_GrgElbowFrillF_b_Phy
L_GrgArmFrillC_Spo
L_GrgArmFrillC_a_Phy
L_GrgArmFrillC_b_Phy
L_GrgArmFrillC_c_Phy
L_GrgArmFrillA_Spo
L_GrgArmFrillA_a_Phy
L_GrgArmFrillA_b_Phy
L_GrgArmFrillA_c_Phy
L_GrgArmFrillE_Spo
L_GrgArmFrillE_a_Phy
L_GrgArmFrillE_b_Phy
L_GrgArmFrillE_c_Phy
L_GrgArmFrillB_Spo
L_GrgArmFrillB_a_Phy
L_GrgArmFrillB_b_Phy
L_GrgArmFrillB_c_Phy
L_GrgElbowFrillA_Spo
L_GrgElbowFrillA_a_Phy
L_GrgElbowFrillA_b_Phy
L_GrgElbowFrillE_Spo
L_GrgElbowFrillE_a_Phy
L_GrgElbowFrillE_b_Phy
L_GrgElbowFrillD_Spo
L_GrgElbowFrillD_a_Phy
L_GrgElbowFrillD_b_Phy
L_GrgArmFrillD_Spo
L_GrgArmFrillD_a_Phy
L_GrgArmFrillD_b_Phy
L_GrgArmFrillD_c_Phy
L_GrgSkirtA_Spo
L_GrgSkirtA_a_Phy
L_GrgSkirtA_b_Phy
L_GrgSkirtA_c_Phy
L_GrgSkirtA_d_Phy
L_GrgSkirtA_e_Phy
L_GrgSkirtA_f_Phy
L_GrgSkirtA_g_Phy
C_GrgBackWaistRibbonRoot_Spo
R_GrgBackWaistRibbonB_Spo
R_GrgBackWaistRibbonBB_a_Phy
R_GrgBackWaistRibbonBB_b_Phy
R_GrgBackWaistRibbonBB_c_Phy
R_GrgBackWaistRibbonBB_d_Phy
R_GrgBackWaistRibbonBB_e_Phy
R_GrgBackWaistRibbonBB_f_Phy
R_GrgBackWaistRibbonBB_g_Phy
R_GrgBackWaistRibbonBB_h_Phy
R_GrgBackWaistRibbonBC_a_Phy
R_GrgBackWaistRibbonBC_b_Phy
R_GrgBackWaistRibbonBC_c_Phy
R_GrgBackWaistRibbonBC_d_Phy
R_GrgBackWaistRibbonBA_a_Phy
R_GrgBackWaistRibbonBA_b_Phy
R_GrgBackWaistRibbonBA_c_Phy
R_GrgBackWaistRibbonBA_d_Phy
R_GrgBackWaistRibbonBA_e_Phy
R_GrgBackWaistRibbonBA_f_Phy
R_GrgBackWaistRibbonBA_g_Phy
R_GrgBackWaistRibbonBA_h_Phy
R_GrgBackWaistRibbonA_a_Phy
R_GrgBackWaistRibbonA_b_Phy
C_GrgBackWaistRibbonRoot_End
L_GrgBackWaistRibbonB_Spo
L_GrgBackWaistRibbonBC_a_Phy
L_GrgBackWaistRibbonBC_b_Phy
L_GrgBackWaistRibbonBC_c_Phy
L_GrgBackWaistRibbonBC_d_Phy
L_GrgBackWaistRibbonBA_a_Phy
L_GrgBackWaistRibbonBA_b_Phy
L_GrgBackWaistRibbonBA_c_Phy
L_GrgBackWaistRibbonBA_d_Phy
L_GrgBackWaistRibbonBA_e_Phy
L_GrgBackWaistRibbonBA_f_Phy
L_GrgBackWaistRibbonBA_g_Phy
L_GrgBackWaistRibbonBA_h_Phy
L_GrgBackWaistRibbonBB_a_Phy
L_GrgBackWaistRibbonBB_b_Phy
L_GrgBackWaistRibbonBB_c_Phy
L_GrgBackWaistRibbonBB_d_Phy
L_GrgBackWaistRibbonBB_e_Phy
L_GrgBackWaistRibbonBB_f_Phy
L_GrgBackWaistRibbonBB_g_Phy
L_GrgBackWaistRibbonBB_h_Phy
L_GrgBackWaistRibbonA_a_Phy
L_GrgBackWaistRibbonA_b_Phy
L_GrgSkirtC_Spo
L_GrgSkirtC_a_Phy
L_GrgSkirtC_b_Phy
L_GrgSkirtC_c_Phy
L_GrgSkirtC_d_Phy
L_GrgSkirtC_e_Phy
L_GrgSkirtC_f_Phy
L_GrgSkirtC_g_Phy
C_GrgSkirtA_Spo
C_GrgSkirtA_a_Phy
C_GrgSkirtA_b_Phy
C_GrgSkirtA_c_Phy
C_GrgSkirtA_d_Phy
C_GrgSkirtA_e_Phy
C_GrgSkirtA_f_Phy
C_GrgSkirtA_g_Phy
C_GrgSkirtB_Spo
C_GrgSkirtB_a_Phy
C_GrgSkirtB_b_Phy
C_GrgSkirtB_c_Phy
C_GrgSkirtB_d_Phy
C_GrgSkirtB_e_Phy
C_GrgSkirtB_f_Phy
C_GrgSkirtB_g_Phy
R_GrgSkirtC_Spo
R_GrgSkirtC_a_Phy
R_GrgSkirtC_b_Phy
R_GrgSkirtC_c_Phy
R_GrgSkirtC_d_Phy
R_GrgSkirtC_e_Phy
R_GrgSkirtC_f_Phy
R_GrgSkirtC_g_Phy
R_GrgSkirtA_Spo
R_GrgSkirtA_a_Phy
R_GrgSkirtA_b_Phy
R_GrgSkirtA_c_Phy
R_GrgSkirtA_d_Phy
R_GrgSkirtA_e_Phy
R_GrgSkirtA_f_Phy
R_GrgSkirtA_g_Phy
R_Shoulderpad_Spo
R_Shoulderpad_a
R_Shoulderpad_End

[RemoveTracks]
N_Idle90_1.2=all
N_Idle90_1.3=all
N_Idle90_1.8=all
N_Idle90_1.9=all
N_Idle90_1.11=all
N_Idle90_1.12=all
N_Idle90_1.13=all
N_Idle90_1.14=all
N_Idle90_1.15=all
N_Idle90_1.16=all
N_Idle90_1.19=all
N_Idle90_1.21=all
N_Idle90_1.22=all
N_Idle90_1.23=all
N_Idle90_1.24=all
N_Idle90_1.25=all
N_Idle90_1.26=all
N_Idle90_1.28=all
N_Idle90_1.29=all
N_Idle90_1.30=all
N_Idle90_1.31=all
N_Idle90_1.32=all
N_Idle90_1.33=all
N_Idle90_1.38=all
N_Idle90_1.42=all
N_Idle90_1.46=all
N_Idle90_1.50=all
N_Idle90_1.54=all
N_Idle90_1.56=all
N_Idle90_1.57=all
N_Idle90_1.58=all
N_Idle90_1.59=all
N_Idle90_1.60=all
N_Idle90_1.61=all
N_Idle90_1.63=all
N_Idle90_1.65=all
N_Idle90_1.67=all
N_Idle90_1.72=all
N_Idle90_1.73=all
N_Idle90_1.74=all
N_Idle90_1.75=all
N_Idle90_1.76=all
N_Idle90_1.77=all
N_Idle90_1.78=all
N_Idle90_1.79=all
N_Idle90_1.81=all
N_Idle90_1.82=all
N_Idle90_1.83=all
N_Idle90_1.84=all
N_Idle90_1.85=all
N_Idle90_1.86=all
N_Idle90_1.91=all
N_Idle90_1.95=all
N_Idle90_1.99=all
N_Idle90_1.104=all
N_Idle90_1.108=all
N_Idle90_1.109=all
N_Idle90_1.110=all
N_Idle90_1.111=all
N_Idle90_1.112=all
N_Idle90_1.113=all
N_Idle90_1.114=all
N_Idle90_1.115=all
N_Idle90_1.116=all
N_Idle90_1.117=all
N_Idle90_1.118=all
N_Idle90_1.121=all
N_Idle90_1.122=all
N_Idle90_1.123=all
N_Idle90_1.124=all
N_Idle90_1.125=all
N_Idle90_1.126=all
N_Idle90_1.127=all
N_Idle90_1.128=all
N_Idle90_1.129=all
N_Idle90_1.130=all
N_Idle90_1.131=all
N_Idle90_1.132=all
N_Idle90_1.133=all
N_Idle90_1.134=all
N_Idle90_1.135=all
N_Idle90_1.136=all
N_Idle90_1.137=all
N_Idle90_1.138=all
N_Idle90_1.139=all
N_Idle90_1.140=all
N_Idle90_1.141=all
N_Idle90_1.142=all
N_Idle90_1.143=all
N_Idle90_1.144=all
N_Idle90_1.145=all
N_Idle90_1.146=all
N_Idle90_1.147=all
N_Idle90_1.148=all
N_Idle90_1.149=all
N_Idle90_1.150=all
N_Idle90_1.151=all
N_Idle90_1.152=all
N_Idle90_1.153=all
N_Idle90_1.154=all
N_Idle90_1.155=all
N_Idle90_1.156=all
N_Idle90_1.157=all
N_Idle90_1.158=all
N_Idle90_1.159=all
N_Idle90_1.160=all
N_Idle90_1.161=all
N_Idle90_1.162=all
N_Idle90_1.163=all
N_Idle90_1.164=all
N_Idle90_1.165=all
N_Idle90_1.166=all
N_Idle90_1.167=all
N_Idle90_1.168=all
N_Idle90_1.169=all
N_Idle90_1.170=all
N_Idle90_1.171=all
N_Idle90_1.172=all
N_Idle90_1.173=all
N_Idle90_1.174=all
N_Idle90_1.175=all
N_Idle90_1.176=all
N_Idle90_1.177=all
N_Idle90_1.178=all
N_Idle90_1.179=all
N_Idle90_1.180=all
N_Idle90_1.181=all
N_Idle90_1.182=all
N_Idle90_1.183=all
N_Idle90_1.184=all
N_Idle90_1.185=all
N_Idle90_1.186=all
N_Idle90_1.187=all
N_Idle90_1.188=all
N_Idle90_1.189=all
N_Idle90_1.190=all
N_Idle90_1.191=all
N_Idle90_1.192=all
N_Idle90_1.193=all
N_Idle90_1.194=all
N_Idle90_1.195=all
N_Idle90_1.196=all
N_Idle90_1.197=all
N_Idle90_1.198=all
N_Idle90_1.199=all
N_Idle90_1.200=all
N_Idle90_1.201=all
N_Idle90_1.202=all
N_Idle90_1.203=all
N_Idle90_1.204=all
N_Idle90_1.205=all
N_Idle90_1.206=all
N_Idle90_1.207=all
N_Idle90_1.208=all
N_Idle90_1.209=all
N_Idle90_1.210=all
N_Idle90_1.211=all
N_Idle90_1.212=all
N_Idle90_1.213=all
N_Idle90_1.214=all
N_Idle90_1.215=all
N_Idle90_1.216=all
N_Idle90_1.217=all
N_Idle90_1.218=all
N_Idle90_1.219=all
N_Idle90_1.220=all
N_Idle90_1.221=all
N_Idle90_1.222=all
N_Idle90_1.223=all
N_Idle90_1.224=all
N_Idle90_1.225=all
N_Idle90_1.226=all
N_Idle90_1.227=all
N_Idle90_1.228=all
N_Idle90_1.229=all
N_Idle90_1.230=all
N_Idle90_1.231=all
N_Idle90_1.232=all
N_Idle90_1.233=all
N_Idle90_1.234=all
N_Idle90_1.235=all
N_Idle90_1.236=all
N_Idle90_1.237=all
N_Idle90_1.238=all
N_Idle90_1.239=all
N_Idle90_1.240=all
N_Idle90_1.241=all
N_Idle90_1.242=all
N_Idle90_1.243=all
N_Idle90_1.244=all
N_Idle90_1.245=all
N_Idle90_1.246=all
N_Idle90_1.247=all
N_Idle90_1.248=all
N_Idle90_1.249=all
N_Idle90_1.250=all
N_Idle90_1.251=all
N_Idle90_1.252=all
N_Idle90_1.253=all
N_Idle90_1.254=all
N_Idle90_1.255=all
N_Idle90_1.256=all
N_Idle90_1.257=all
N_Idle90_1.258=all
N_Idle90_1.259=all
N_Idle90_1.260=all
N_Idle90_1.261=all
N_Idle90_1.262=all
N_Idle90_1.263=all
N_Idle90_1.264=all
N_Idle90_1.265=all
N_Idle90_1.266=all
N_Idle90_1.267=all
N_Idle90_1.268=all
N_Idle90_1.269=all
N_Idle90_1.270=all
N_Idle90_1.271=all
N_Idle90_1.272=all
N_Idle90_1.273=all
N_Idle90_1.274=all
N_Idle90_1.275=all
N_Idle90_1.276=all
N_Idle90_1.277=all
N_Idle90_1.278=all
N_Idle90_1.279=all
N_Idle90_1.280=all
N_Idle90_1.281=all
N_Idle90_1.282=all
N_Idle90_1.283=all
N_Idle90_1.284=all
N_Idle90_1.285=all
N_Idle90_1.286=all
N_Idle90_1.287=all
N_Idle90_1.288=all
N_Idle90_1.289=all
N_Idle90_1.290=all
N_Idle90_1.291=all
N_Idle90_1.292=all
N_Idle90_1.293=all
N_Idle90_1.294=all
N_Idle90_1.295=all
N_Idle90_1.296=all
N_Idle90_1.297=all
N_Idle90_1.298=all
N_Idle90_1.299=all
N_Idle90_1.300=all
N_Idle90_1.301=all
N_Idle90_1.302=all
N_Idle90_1.303=all
N_Idle90_1.304=all
N_Idle90_1.305=all
N_Idle90_1.306=all
N_Idle90_1.307=all
N_Idle90_1.308=all
N_Idle90_1.309=all
N_Idle90_1.310=all
N_Idle90_1.311=all
N_Idle90_1.312=all
N_Idle90_1.313=all
N_Idle90_1.314=all
N_Idle90_1.315=all
N_Idle90_1.316=all
N_Idle90_1.317=all
N_Idle90_1.318=all
N_Idle90_1.319=all
N_Idle90_1.320=all
N_Idle90_1.321=all
N_Idle90_1.322=all
N_Idle90_1.323=all
N_Idle90_1.324=all
N_Idle90_1.325=all
N_Idle90_1.326=all
N_Idle90_1.327=all
N_Idle90_1.328=all
N_Idle90_1.329=all
N_Idle90_1.330=all
N_Idle90_1.331=all
N_Idle90_1.332=all
N_Idle90_1.333=all
N_Idle90_1.334=all
N_Idle90_1.335=all
N_Idle90_1.336=all
N_Idle90_1.337=all
N_Idle90_1.338=all
N_Idle90_1.339=all
N_Idle90_1.340=all
N_Idle90_1.341=all
N_Idle90_1.342=all
N_Idle90_1.343=all
N_Idle90_1.344=all
N_Idle90_1.345=all
N_Idle90_1.346=all
N_Idle90_1.347=all
N_Idle90_1.348=all
N_Idle90_1.349=all
N_Idle90_1.350=all
N_Idle90_1.351=all
N_Idle90_1.352=all
N_Idle90_1.353=all
N_Idle90_1.354=all
N_Idle90_1.355=all
N_Idle90_1.356=all
N_Idle90_1.357=all
N_Idle90_1.358=all
N_Idle90_1.359=all
N_Idle90_1.360=all
N_Idle90_1.362=all
N_Idle90_1.364=all
N_Idle90_1.365=all
N_Idle90_1.366=all
N_Idle90_1.367=all
N_Idle90_1.368=all
N_Idle90_1.369=all
N_Idle90_1.370=all
N_Idle90_1.371=all
N_Idle90_1.372=all
N_Idle90_1.373=all
N_Idle90_1.374=all
N_Idle90_1.375=all
N_Idle90_1.376=all
N_Idle90_1.377=all
N_Idle90_1.378=all
N_Idle90_1.379=all
N_Idle90_1.380=all
N_Idle90_1.381=all
N_Idle90_1.382=all
N_Idle90_1.383=all
N_Idle90_1.384=all
N_Idle90_1.385=all
N_Idle90_1.386=all
N_Idle90_1.387=all
N_Idle90_1.388=all
N_Idle90_1.389=all
N_Idle90_1.390=all
N_Idle90_1.391=all
N_Idle90_1.392=all
N_Idle90_1.393=all
N_Idle90_1.394=all
N_Idle90_1.395=all
N_Idle90_1.396=all
N_Idle90_1.397=all
N_Idle90_1.399=all
N_Idle90_1.400=all
N_Idle90_1.401=all
N_Idle90_1.402=all
N_Idle90_1.405=all
N_Idle90_1.406=all
N_Idle90_1.407=all
N_Idle90_1.408=all
N_Idle90_1.409=all
N_Idle90_1.410=all
N_Idle90_1.411=all
N_Idle90_1.412=all
N_Idle90_1.413=all
N_Idle90_1.414=all
N_Idle90_1.415=all
N_Idle90_1.416=all
N_Idle90_1.417=all
N_Idle90_1.418=all
N_Idle90_1.419=all
N_Idle90_1.420=all
N_Idle90_1.421=all
N_Idle90_1.422=all
N_Idle90_1.423=all
N_Idle90_1.424=all
N_Idle90_1.425=all
N_Idle90_1.426=all
N_Idle90_1.427=all
N_Idle90_1.428=all
N_Idle90_1.429=all
N_Idle90_1.430=all
N_Idle90_1.431=all
N_Idle90_1.432=all
N_Idle90_1.433=all
N_Idle90_1.434=all
N_Idle90_1.435=all
N_Idle90_1.440=all
N_Idle90_1.441=all
N_Idle90_1.442=all
N_Idle90_1.443=all
N_Idle90_1.444=all
N_Idle90_1.445=all
N_Idle90_1.446=all
N_Idle90_1.447=all
N_Idle90_1.448=all
N_Idle90_1.449=all
N_Idle90_1.450=all
N_Idle90_1.451=all
N_Idle90_1.452=all
N_Idle90_1.453=all
N_Idle90_1.454=all
N_Idle90_1.455=all
N_Idle90_1.456=all
N_Idle90_1.457=all
N_Idle90_1.458=all
N_Idle90_1.459=all
N_Idle90_1.460=all
N_Idle90_1.461=all
N_Idle90_1.462=all
N_Idle90_1.463=all
N_Idle90_1.464=all
N_Idle90_1.465=all
N_Idle90_1.466=all
N_Idle90_1.467=all
N_Idle90_1.468=all
N_Idle90_1.469=all
N_Idle90_1.470=all
N_Idle90_1.471=all
N_Idle90_1.472=all
N_Idle90_1.473=all
N_Idle90_1.474=all
N_Idle90_1.475=all
N_Idle90_1.476=all
N_Idle90_1.477=all
N_Idle90_1.478=all
N_Idle90_1.479=all
N_Idle90_1.480=all
N_Idle90_1.481=all
N_Idle90_1.482=all
N_Idle90_1.483=all
N_Idle90_1.484=all
N_Idle90_1.485=all
N_Idle90_1.486=all
N_Idle90_1.487=all
N_Idle90_1.488=all
N_Idle90_1.489=all
N_Idle90_1.490=all
N_Idle90_1.491=all
N_Idle90_1.492=all
N_Idle90_1.493=all
N_Idle90_1.494=all
N_Idle90_1.495=all
N_Idle90_1.496=all
N_Idle90_1.497=all
N_Idle90_1.498=all
N_Idle90_1.499=all
N_Idle90_1.500=all
N_Idle90_1.501=all
N_Idle90_1.502=all
N_Idle90_1.503=all
N_Idle90_1.504=all
N_Idle90_1.505=all
N_Idle90_1.506=all
N_Idle90_1.507=all
N_Idle90_1.508=all
N_Idle90_1.509=all
N_Idle90_1.510=all
N_Idle90_1.511=all
N_Idle90_1.512=all
N_Idle90_1.513=all
N_Idle90_1.514=all
N_Idle90_1.516=all
N_Idle90_1.517=all
N_Idle90_1.518=all
N_Idle90_1.519=all
N_Idle90_1.520=all
N_Idle90_1.521=all
N_Idle90_1.522=all
N_Idle90_1.523=all
N_Idle90_1.524=all
N_Idle90_1.525=all
N_Idle90_1.526=all
N_Idle90_1.527=all
N_Idle90_1.528=all
N_Idle90_1.529=all
N_Idle90_1.530=all
N_Idle90_1.531=all
N_Idle90_1.532=all
N_Idle90_1.533=all
N_Idle90_1.534=all
N_Idle90_1.535=all
N_Idle90_1.536=all
N_Idle90_1.537=all
N_Idle90_1.538=all
N_Idle90_1.539=all
N_Idle90_1.540=all
N_Idle90_1.541=all
N_Idle90_1.542=all
N_Idle90_1.543=all
N_Idle90_1.544=all
N_Idle90_1.545=all
N_Idle90_1.546=all
N_Idle90_1.547=all
N_Idle90_1.548=all
N_Idle90_1.549=all
N_Idle90_1.550=all
N_Idle90_1.551=all
N_Idle90_1.552=all
N_Idle90_1.553=all
N_Idle90_1.554=all
N_Idle90_1.555=all
N_Idle90_1.556=all
N_Idle90_1.557=all
N_Idle90_1.558=all
N_Idle90_1.559=all
N_Idle90_1.560=all
N_Idle90_1.561=all
N_Idle90_1.562=all
N_Idle90_1.563=all
N_Idle90_1.564=all
N_Idle90_1.565=all
N_Idle90_1.566=all
N_Idle90_1.567=all
N_Idle90_1.568=all
N_Idle90_1.569=all
N_Idle90_1.570=all
N_Idle90_1.571=all
N_Idle90_1.572=all
N_Idle90_1.573=all
N_Idle90_1.574=all
N_Idle90_1.575=all
N_Idle90_1.576=all
N_Idle90_1.577=all
N_Idle90_1.578=all
N_Idle90_1.579=all
N_Idle90_1.580=all
N_Idle90_1.581=all
N_Idle90_1.582=all
N_Idle90_1.583=all
N_Idle90_1.584=all
N_Idle90_1.585=all
N_Idle90_1.586=all
N_Idle90_1.587=all
N_Idle90_1.588=all
N_Idle90_1.589=all
N_Idle90_1.590=all
N_Idle90_1.591=all
N_Idle90_1.592=all
N_Idle90_1.593=all
N_Idle90_1.594=all
N_Idle90_1.595=all
N_Idle90_1.596=all
N_Idle90_1.597=all
N_Idle90_1.598=all
N_Idle90_1.599=all
N_Idle90_1.600=all
N_Idle90_1.601=all
N_Idle90_1.602=all
N_Idle90_1.603=all
N_Idle90_1.604=all
N_Idle90_1.605=all
N_Idle90_1.606=all
N_Idle90_1.607=all
N_Idle90_1.608=all
N_Idle90_1.609=all
N_Idle90_1.610=all
N_Idle90_1.611=all
N_Idle90_1.612=all
N_Idle90_1.613=all
N_Idle90_1.614=all
N_Idle90_1.615=all
N_Idle90_1.616=all
N_Idle90_1.617=all
N_Idle90_1.618=all
N_Idle90_1.619=all
N_Idle90_1.620=all
N_Idle90_1.621=all
N_Idle90_1.622=all
N_Idle90_1.623=all
N_Idle90_1.624=all
N_Idle90_1.625=all
N_Idle90_1.626=all
N_Idle90_1.627=all
N_Idle90_1.628=all
N_Idle90_1.629=all
N_Idle90_1.630=all
N_Idle90_1.631=all
N_Idle90_1.632=all
N_Idle90_1.633=all
N_Idle90_1.634=all
N_Idle90_1.635=all
N_Idle90_1.636=all
N_Idle90_1.637=all
N_Idle90_1.638=all
N_Idle90_1.639=all
N_Idle90_1.640=all
N_Idle90_1.641=all
N_Idle90_1.642=all
N_Idle90_1.643=all
N_Idle90_1.644=all
N_Idle90_1.645=all
N_Idle90_1.646=all
N_Idle90_1.647=all
N_Idle90_1.648=all
N_Idle90_1.649=all
N_Idle90_1.650=all
N_Idle90_1.651=all
N_Idle90_1.652=all
N_Idle90_1.653=all
N_Idle90_1.654=all
N_Idle90_1.655=all
N_Idle90_1.656=all
N_Idle90_1.657=all
N_Idle90_1.658=all
N_Idle90_1.659=all
N_Idle90_1.660=all
N_Idle90_1.661=all
N_Idle90_1.662=all
N_Idle90_1.663=all
N_Idle90_1.664=all
N_Idle90_1.665=all
N_Idle90_1.666=all
N_Idle90_1.667=all
N_Idle90_1.668=all
N_Idle90_1.669=all
N_Idle90_1.670=all
N_Idle90_1.671=all
N_Idle90_1.672=all
N_Idle90_1.673=all
N_Idle90_1.674=all
N_Idle90_1.675=all
N_Idle90_1.676=all
N_Idle90_1.677=all
N_Idle90_1.678=all
N_Idle90_1.679=all
N_Idle90_1.680=all
N_Idle90_1.681=all
N_Idle90_1.682=all
N_Idle90_1.683=all
N_Idle90_1.684=all
N_Idle90_1.685=all
N_Idle90_1.686=all
N_Idle90_1.687=all
N_Idle90_1.688=all
N_Idle90_1.689=all
N_Idle90_1.690=all
N_Idle90_1.691=all
N_Idle90_1.692=all
N_Idle90_1.693=all
N_Idle90_1.694=all
N_Idle90_1.695=all
N_Idle90_1.696=all
N_Idle90_1.697=all
N_Idle90_1.698=all
N_Idle90_1.699=all
N_Idle90_1.700=all
N_Idle90_1.701=all
N_Idle90_1.702=all
N_Idle90_1.703=all
N_Idle90_1.704=all
N_Idle90_1.705=all
N_Idle90_1.706=all
N_Idle90_1.707=all
N_Idle90_1.708=all
N_Idle90_1.709=all
N_Idle90_1.710=all
N_Idle90_1.711=all
N_Idle90_1.712=all
N_Idle90_1.713=all
N_Idle90_1.714=all
N_Idle90_1.715=all
N_Idle90_1.716=all
N_Idle90_1.717=all
N_Idle90_1.718=all
N_Idle90_1.719=all
N_Idle90_1.720=all
N_Idle90_1.721=all
N_Idle90_1.722=all
N_Idle90_1.723=all
N_Idle90_1.724=all
N_Idle90_1.725=all
N_Idle90_1.726=all
N_Idle90_1.727=all
N_Idle90_1.728=all
N_Idle90_1.729=all
N_Idle90_1.730=all
N_Idle90_1.731=all
N_Idle90_1.732=all
N_Idle90_1.733=all
N_Idle90_1.734=all
N_Idle90_1.735=all
N_Idle90_1.736=all
N_Idle90_1.737=all
N_Idle90_1.738=all
N_Idle90_1.739=all
N_Idle90_1.740=all
N_Idle90_1.741=all
N_Idle90_1.742=all
N_Idle90_1.743=all
N_Idle90_1.744=all
N_Idle90_1.745=all
N_Idle90_1.746=all
N_Idle90_1.747=all
N_Idle90_1.748=all
N_Idle90_1.749=all
N_Idle90_1.750=all
N_Idle90_1.751=all
N_Idle90_1.752=all
N_Idle90_1.753=all
N_Idle90_1.754=all
N_Idle90_1.755=all
N_Idle90_1.756=all
N_Idle90_1.757=all
N_Idle90_1.758=all
N_Idle90_1.759=all
N_Idle90_1.760=all
N_Idle90_1.761=all
N_Idle90_1.762=all
N_Idle90_1.763=all
N_Idle90_1.764=all
N_Idle90_1.765=all
N_Idle90_1.766=all
N_Idle90_1.767=all
N_Idle90_1.768=all
N_Idle90_1.769=all
N_Idle90_1.770=all
N_Idle90_1.771=all
N_Idle90_1.772=all
N_Idle90_1.773=all
N_Idle90_1.774=all
N_Idle90_1.775=all
N_Idle90_1.776=all
N_Idle90_1.777=all
N_Idle90_1.778=all
N_Idle90_1.779=all
N_Idle90_1.780=all
N_Idle90_1.781=all
N_Idle90_1.782=all
N_Idle90_1.783=all
N_Idle90_1.784=all
N_Idle90_1.785=all
N_Idle90_1.786=all
N_Idle90_1.787=all
N_Idle90_1.788=all
N_Idle90_1.789=all
N_Idle90_1.790=all
N_Idle90_1.791=all
N_Idle90_1.792=all
N_Idle90_1.793=all
N_Idle90_1.794=all
N_Idle90_1.795=all
N_Idle90_1.796=all
N_Idle90_1.797=all
N_Idle90_1.798=all
N_Idle90_1.799=all
N_Idle90_1.800=all
N_Idle90_1.801=all
N_Idle90_1.802=all
N_Idle90_1.803=all
N_Idle90_1.804=all
N_Idle90_1.805=all
N_Idle90_1.806=all
N_Idle90_1.807=all
N_Idle90_1.808=all
N_Idle90_1.809=all
N_Idle90_1.810=all
N_Idle90_1.811=all
N_Idle90_1.812=all
N_Idle90_1.813=all
N_Idle90_1.814=all
N_Idle90_1.815=all
N_Idle90_1.816=all
N_Idle90_1.817=all
N_Idle90_1.818=all
N_Idle90_1.819=all
N_Idle90_1.820=all
N_Idle90_1.821=all
N_Idle90_1.822=all
N_Idle90_1.823=all
N_Idle90_1.824=all
N_Idle90_1.825=all
N_Idle90_1.826=all
N_Idle90_1.827=all
N_Idle90_1.828=all
N_Idle90_1.829=all
N_Idle90_1.830=all
N_Idle90_1.831=all
N_Idle90_1.832=all
N_Idle90_1.833=all
N_Idle90_1.834=all
N_Idle90_1.835=all
N_Idle90_1.836=all
N_Idle90_1.837=all
N_Idle90_1.838=all
N_Idle90_1.839=all
N_Idle90_1.840=all
N_Idle90_1.841=all
N_Idle90_1.842=all
N_Idle90_1.843=all
N_Idle90_1.844=all
N_Idle90_1.845=all
N_Idle90_1.846=all
N_Idle90_1.847=all
N_Idle90_1.848=all
N_Idle90_1.849=all
N_Idle90_1.850=all
N_Idle90_1.851=all
N_Idle90_1.852=all
N_Idle90_1.853=all
N_Idle90_1.854=all
N_Idle90_1.855=all
N_Idle90_1.856=all
N_Idle90_1.857=all
N_Idle90_1.858=all
N_Idle90_1.859=all
N_Idle90_1.860=all
N_Idle90_1.861=all
N_Idle90_1.862=all
N_Idle90_1.863=all
N_Idle90_1.864=all
N_Idle90_1.865=all
N_Idle90_1.866=all
N_Idle90_1.867=all
N_Idle90_1.868=all
N_Idle90_1.869=all
N_Idle90_1.870=all
N_Idle90_1.871=all
N_Idle90_1.872=all
N_Idle90_1.873=all
N_Idle90_1.874=all
N_Idle90_1.875=all
N_Idle90_1.876=all
N_Idle90_1.877=all
N_Idle90_1.878=all
N_Idle90_1.879=all
N_Idle90_1.880=all
N_Idle90_1.881=all
N_Idle90_1.882=all
N_Idle90_1.883=all
N_Idle90_1.884=all
N_Idle90_1.885=all
N_Idle90_1.886=all
N_Idle90_1.887=all
N_Idle90_1.888=all
N_Idle90_1.889=all
N_Idle90_1.890=all
N_Idle90_1.891=all
N_Idle90_1.892=all
N_Idle90_1.893=all
N_Idle90_1.894=all
N_Idle90_1.895=all
N_Idle90_1.896=all
N_Idle90_1.897=all
N_Idle90_1.898=all
N_Idle90_1.899=all
N_Idle90_1.900=all
N_Idle90_1.901=all
N_Idle90_1.902=all
N_Idle90_1.903=all
N_Idle90_1.904=all
N_Idle90_1.905=all
N_Idle90_1.906=all
N_Idle90_1.907=all
N_Idle90_1.908=all
N_Idle90_1.909=all
N_Idle90_1.910=all
N_Idle90_1.911=all
N_Idle90_1.912=all
N_Idle90_1.913=all
N_Idle90_1.914=all
N_Idle90_1.915=all
N_Idle90_1.916=all
N_Idle90_1.917=all
N_Idle90_1.918=all
N_Idle90_1.919=all
N_Idle90_1.920=all
N_Idle90_1.921=all
N_Idle90_1.922=all
N_Idle90_1.923=all
N_Idle90_1.924=all
N_Idle90_1.925=all
N_Idle90_1.926=all
N_Idle90_1.927=all
N_Idle90_1.928=all
N_Idle90_1.929=all
N_Idle90_1.930=all
N_Idle90_1.931=all
N_Idle90_1.932=all
N_Idle90_1.933=all
N_Idle90_1.934=all
N_Idle90_1.935=all
N_Idle90_1.936=all
N_Idle90_1.937=all
N_Idle90_1.938=all
N_Idle90_1.939=all
N_Idle90_1.940=all
N_Idle90_1.941=all
N_Idle90_1.942=all
N_Idle90_1.943=all
N_Idle90_1.944=all
N_Idle90_1.945=all
N_Idle90_1.946=all
N_Idle90_1.947=all
N_Idle90_1.948=all
N_Idle90_1.949=all
N_Idle90_1.950=all
N_Idle90_1.951=all
N_Idle90_1.952=all
N_Idle90_1.953=all
N_Idle90_1.954=all
N_Idle90_1.955=all
N_Idle90_1.956=all
N_Idle90_1.957=all
N_Idle90_1.958=all
N_Idle90_1.959=all
N_Idle90_1.960=all
N_Idle90_1.961=all
N_Idle90_1.962=all
N_Idle90_1.963=all
N_Idle90_1.964=all
N_Idle90_1.965=all
N_Idle90_1.966=all
N_Idle90_1.967=all
N_Idle90_1.968=all
N_Idle90_1.969=all
N_Idle90_1.970=all
N_Idle90_1.971=all
N_Idle90_1.972=all
N_Idle90_1.973=all
N_Idle90_1.974=all
N_Idle90_1.975=all
N_Idle90_1.976=all
N_Idle90_1.977=all
N_Idle90_1.978=all
N_Idle90_1.979=all
N_Idle90_1.980=all
N_Idle90_1.981=all
N_Idle90_1.982=all
N_Idle90_1.983=all
N_Idle90_1.984=all
N_Idle90_1.985=all
N_Idle90_1.986=all
N_Idle90_1.987=all
N_Idle90_1.988=all
N_Idle90_1.989=all
N_Idle90_1.990=all
N_Idle90_1.991=all
N_Idle90_1.992=all
N_Idle90_1.993=all
N_Idle90_1.994=all
N_Idle90_1.995=all
N_Idle90_1.996=all
N_Idle90_1.997=all
N_Idle90_1.998=all
N_Idle90_1.999=all
N_Idle90_1.1000=all
N_Idle90_1.1001=all
N_Idle90_1.1002=all
N_Idle90_1.1003=all
N_Idle90_1.1004=all
N_Idle90_1.1005=all
N_Idle90_1.1006=all
N_Idle90_1.1007=all
N_Idle90_1.1008=all
N_Idle90_1.1009=all
N_Idle90_1.1010=all
N_Idle90_1.1011=all
N_Idle90_1.1012=all
N_Idle90_1.1013=all
N_Idle90_1.1014=all
N_Idle90_1.1015=all
N_Idle90_1.1016=all
N_Idle90_1.1017=all
N_Idle90_1.1018=all
N_Idle90_1.1019=all
N_Idle90_1.1020=all
N_Idle90_1.1021=all
N_Idle90_1.1022=all
N_Idle90_1.1023=all
N_Idle90_1.1024=all
N_Idle90_1.1025=all
N_Idle90_1.1026=all
N_Idle90_1.1027=all
N_Idle90_1.1028=all
N_Idle90_1.1029=all
N_Idle90_1.1030=all
N_Idle90_1.1031=all
N_Idle90_1.1032=all
N_Idle90_1.1033=all
N_Idle90_1.1034=all
N_Idle90_1.1035=all
N_Idle90_1.1036=all
N_Idle90_1.1037=all
N_Idle90_1.1038=all
N_Idle90_1.1039=all
N_Idle90_1.1040=all
N_Idle90_1.1041=all
N_Idle90_1.1042=all
N_Idle90_1.1043=all
N_Idle90_1.1044=all
N_Idle90_1.1045=all
N_Idle90_1.1046=all
N_Idle90_1.1047=all
N_Idle90_1.1048=all
N_Idle90_1.1049=all
N_Idle90_1.1050=all
N_Idle90_1.1051=all
N_Idle90_1.1052=all
N_Idle90_1.1053=all
N_Idle90_1.1054=all
N_Idle90_1.1055=all
N_Idle90_1.1056=all
N_Idle90_1.1057=all
N_Idle90_1.1058=all
N_Idle90_1.1059=all
N_Idle90_1.1060=all
N_Idle90_1.1061=all
N_Idle90_1.1062=all
N_Idle90_1.1063=all
N_Idle90_1.1064=all
N_Idle90_1.1065=all
N_Idle90_1.1066=all
N_Idle90_1.1067=all
N_Idle90_1.1068=all
N_Idle90_1.1069=all
N_Idle90_1.1070=all
N_Idle90_1.1071=all
N_Idle90_1.1072=all
N_Idle90_1.1073=all
N_Idle90_1.1074=all
N_Idle90_1.1075=all
N_Idle90_1.1076=all
N_Idle90_1.1077=all
N_Idle90_1.1078=all
N_Idle90_1.1079=all
N_Idle90_1.1080=all
N_Idle90_1.1081=all
N_Idle90_1.1082=all
N_Idle90_1.1083=all
N_Idle90_1.1084=all
N_Idle90_1.1085=all
N_Idle90_1.1086=all
N_Idle90_1.1087=all
N_Idle90_1.1088=all
N_Idle90_1.1089=all
N_Idle90_1.1090=all
N_Idle90_1.1091=all
N_Idle90_1.1092=all
N_Idle90_1.1093=all
N_Idle90_1.1094=all
N_Idle90_1.1095=all
N_Idle90_1.1096=all
N_Idle90_1.1097=all
N_Idle90_1.1098=all
N_Idle90_1.1099=all
N_Idle90_1.1100=all
N_Idle90_1.1101=all
N_Idle90_1.1102=all
N_Idle90_1.1103=all
N_Idle90_1.1104=all
N_Idle90_1.1105=all
N_Idle90_1.1106=all
N_Idle90_1.1107=all
N_Idle90_1.1108=all
N_Idle90_1.1109=all
N_Idle90_1.1110=all
N_Idle90_1.1111=all
N_Idle90_1.1112=all
N_Idle90_1.1113=all
N_Idle90_1.1114=all
N_Idle90_1.1115=all
N_Idle90_1.1116=all
N_Idle90_1.1117=all
N_Idle90_1.1118=all
N_Idle90_1.1119=all
N_Idle90_1.1120=all
N_Idle90_1.1121=all
N_Idle90_1.1122=all
N_Idle90_1.1123=all
N_Idle90_1.1124=all
N_Idle90_1.1125=all
N_Idle90_1.1126=all
N_Idle90_1.1127=all
N_Idle90_1.1128=all
N_Idle90_1.1129=all
N_Idle90_1.1130=all
N_Idle90_1.1131=all
N_Idle90_1.1132=all
N_Idle90_1.1133=all
N_Idle90_1.1134=all
N_Idle90_1.1135=all
N_Idle90_1.1136=all
N_Idle90_1.1137=all
N_Idle90_1.1138=all
N_Idle90_1.1139=all
N_Idle90_1.1140=all
N_Idle90_1.1141=all
N_Idle90_1.1142=all
N_Idle90_1.1143=all
N_Idle90_1.1144=all
N_Idle90_1.1145=all
N_Idle90_1.1146=all
N_Idle90_1.1147=all
N_Idle90_1.1148=all
N_Idle90_1.1149=all
N_Idle90_1.1150=all
N_Idle90_1.1151=all
N_Idle90_1.1152=all
N_Idle90_1.1153=all
N_Idle90_1.1154=all
N_Idle90_1.1155=all
N_Idle90_1.1156=all
N_Idle90_1.1157=all
N_Idle90_1.1158=all
N_Idle90_1.1159=all
N_Idle90_1.1160=all
N_Idle90_1.1161=all
N_Idle90_1.1162=all
N_Idle90_1.1163=all
N_Idle90_1.1164=all
N_Idle90_1.1165=all
N_Idle90_1.1166=all
N_Idle90_1.1167=all
N_Idle90_1.1168=all
N_Idle90_1.1169=all
N_Idle90_1.1170=all
N_Idle90_1.1171=all
N_Idle90_1.1172=all
N_Idle90_1.1173=all
N_Idle90_1.1174=all
N_Idle90_1.1175=all
N_Idle90_1.1176=all
N_Idle90_1.1177=all
N_Idle90_1.1178=all
N_Idle90_1.1179=all
N_Idle90_1.1180=all
N_Idle90_1.1181=all
N_Idle90_1.1182=all
N_Idle90_1.1183=all
N_Idle90_1.1184=all
N_Idle90_1.1185=all
N_Idle90_1.1186=all
N_Idle90_1.1187=all
N_Idle90_1.1188=all
N_Idle90_1.1189=all
N_Idle90_1.1190=all
N_Idle90_1.1191=all
N_Idle90_1.1192=all
N_Idle90_1.1193=all
N_Idle90_1.1194=all
N_Idle90_1.1195=all
N_Idle90_1.1196=all
N_Idle90_1.1197=all
N_Idle90_1.1198=all
N_Idle90_1.1199=all
N_Idle90_1.1200=all
N_Idle90_1.1201=all
N_Idle90_1.1202=all
N_Idle90_1.1203=all
N_Idle90_1.1204=all
N_Idle90_1.1205=all
N_Idle90_1.1206=all
N_Idle90_1.1207=all
N_Idle90_1.1208=all
N_Idle90_1.1209=all
N_Idle90_1.1210=all
N_Idle90_1.1211=all
N_Idle90_1.1212=all
N_Idle90_1.1213=all
N_Idle90_1.1214=all
N_Idle90_1.1215=all
N_Idle90_1.1216=all
N_Idle90_1.1217=all
N_Idle90_1.1218=all
N_Idle90_1.1219=all
N_Idle90_1.1220=all
N_Idle90_1.1221=all
N_Idle90_1.1222=all
N_Idle90_1.1223=all
N_Idle90_1.1224=all
N_Idle90_1.1225=all
N_Idle90_1.1226=all
N_Idle90_1.1227=all
N_Idle90_1.1228=all
N_Idle90_1.1229=all
N_Idle90_1.1230=all
N_Idle90_1.1231=all
N_Idle90_1.1232=all
N_Idle90_1.1233=all
N_Idle90_1.1234=all
N_Idle90_1.1235=all
N_Idle90_1.1236=all
N_Idle90_1.1237=all
N_Idle90_1.1238=all
N_Idle90_1.1239=all
N_Idle90_1.1240=all
N_Idle90_1.1241=all
N_Idle90_1.1242=all
N_Idle90_1.1243=all
N_Idle90_1.1244=all
N_Idle90_1.1245=all
N_Idle90_1.1246=all
N_Idle90_1.1247=all
N_Idle90_1.1248=all
N_Idle90_1.1249=all
N_Idle90_1.1250=all
N_Idle90_1.1251=all
N_Idle90_1.1252=all
N_Idle90_1.1253=all
N_Idle90_1.1254=all
N_Idle90_1.1255=all
N_Idle90_1.1256=all
N_Idle90_1.1257=all
N_Idle90_1.1258=all
N_Idle90_1.1259=all
N_Idle90_1.1260=all
N_Idle90_1.1261=all
N_Idle90_1.1262=all
N_Idle90_1.1263=all
N_Idle90_1.1264=all
N_Idle90_1.1265=all
N_Idle90_1.1266=all
N_Idle90_1.1267=all
N_Idle90_1.1268=all
N_Idle90_1.1269=all
N_Idle90_1.1270=all
N_Idle90_1.1271=all
N_Idle90_1.1272=all
N_Idle90_1.1273=all
N_Idle90_1.1274=all
N_Idle90_1.1275=all
N_Idle90_1.1276=all
N_Idle90_1.1277=all
N_Idle90_1.1278=all
N_Idle90_1.1279=all
N_Idle90_1.1280=all
N_Idle90_1.1281=all
N_Idle90_1.1282=all
N_Idle90_1.1283=all
N_Idle90_1.1284=all
N_Idle90_1.1285=all
N_Idle90_1.1286=all
N_Idle90_1.1287=all
N_Idle90_1.1288=all
N_Idle90_1.1289=all
N_Idle90_1.1290=all
N_Idle90_1.1291=all
N_Idle90_1.1292=all
N_Idle90_1.1293=all
N_Idle90_1.1294=all
N_Idle90_1.1295=all
N_Idle90_1.1296=all
N_Idle90_1.1297=all
N_Idle90_1.1298=all
N_Idle90_1.1299=all
N_Idle90_1.1300=all
N_Idle90_1.1301=all
N_Idle90_1.1302=all
N_Idle90_1.1303=all
N_Idle90_1.1304=all
N_Idle90_1.1305=all
N_Idle90_1.1306=all
N_Idle90_1.1307=all
N_Idle90_1.1308=all
N_Idle90_1.1309=all
N_Idle90_1.1310=all
N_Idle90_1.1311=all
N_Idle90_1.1312=all
N_Idle90_1.1313=all
N_Idle90_1.1314=all
N_Idle90_1.1315=all
N_Idle90_1.1316=all
N_Idle90_1.1317=all
N_Idle90_1.1318=all
N_Idle90_1.1319=all
N_Idle90_1.1320=all
N_Idle90_1.1321=all
N_Idle90_1.1322=all
N_Idle90_1.1323=all
N_Idle90_1.1324=all
N_Idle90_1.1325=all
N_Idle90_1.1326=all
N_Idle90_1.1327=all
N_Idle90_1.1328=all
N_Idle90_1.1329=all
N_Idle90_1.1330=all
N_Idle90_1.1331=all
N_Idle90_1.1332=all
N_Idle90_1.1333=all
N_Idle90_1.1334=all
N_Idle90_1.1335=all
N_Idle90_1.1336=all
N_Idle90_1.1337=all
N_Idle90_1.1338=all
N_Idle90_1.1339=all
N_Idle90_1.1340=all
N_Idle90_1.1341=all
N_Idle90_1.1342=all
N_Idle90_1.1343=all
N_Idle90_1.1344=all
N_Idle90_1.1345=all
N_Idle90_1.1346=all
N_Idle90_1.1347=all
N_Idle90_1.1348=all
N_Idle90_1.1349=all
